.Popover {
    background-color: var(--color-background);
    border: 1px solid var(--color-background-x-light);
    color: var(--color-text);
    font-size: var(--font-size-small);
    padding: 1.5em;
    border-radius: 15px;
    box-sizing: border-box;
    width: max-content;
    max-width: 350px;
}

.Popover-trigger {
    all: unset;
}
