---
layout: gmap
title: Archivio dei post
description: Archivio annuale degli articoli
---

<div class="archive-map" id="mappa">
</div>
<div class="archive">
   <div class="archive-years" id="years">
      <ul>
       {% for post in site.posts %}
       {% unless post.next %}
         <li class="archive-years-year">
            <a href="#year-{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</a>
         </li>
       {% else %}
         {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
         {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
         {% if year != nyear %}
         <li class="archive-years-year">
            <a href="#year-{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</a>
         </li>
         {% endif %}
       {% endunless %}
      {% endfor %} 
      </ul>

   </div>
   <nav class="archive-posts">
      <dl>
       {% for post in site.posts %}
       {% unless post.next %}
         <dt class="archive-posts-year" id="year-{{ post.date | date: '%Y' }}">
            <svg class="icon icon-bookmark" viewBox="0 0 32 32" id="camera"><use xlink:href="#icon-bookmark"></use></svg>
            {{ post.date | date: '%Y' }}
         </dt>
       {% else %}
         {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
         {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
         {% if year != nyear %}
           <dt class="archive-posts-year" id="year-{{ post.date | date: '%Y' }}">
            <svg class="icon icon-bookmark" viewBox="0 0 32 32" id="camera"><use xlink:href="#icon-bookmark"></use></svg>
            {{ post.date | date: '%Y' }}
           </dt>
         {% endif %}
       {% endunless %}
         <dd class="archive-post">
            <a href="{{ post.url }}">
               <div class="archive-post-date">{{post.date| date:"%d/%m/%y" }}</div>
               <div class="archive-post-title">{{post.title}}</div>
            </a>
         </dd>
      {% endfor %}   
      </dl> 
   </nav>
</div>


<div class="archive-map-data" hidden>
  {% for post in site.posts %}
    {{ post.map }}+{{post.date| date:"%d/%m/%y" }}+{{ post.title }}+{{ post.url }} {% unless forloop.last %}|{% endunless %}
  {% endfor %}
</div>
