---
layout: base
title: Blog
permalink: /blog/
_id: blog
---

<section class="blog">
    <header>
        {% include menu.html %}
    </header>
    <aside class="blog-map" id="map">
        <a href="#archivio" title="Elenco dei post" id="scrollLink">
            <svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M143 256.3L7 120.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0L313 86.3c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.4 9.5-24.6 9.5-34 .1zm34 192l136-136c9.4-9.4 9.4-24.6 0-33.9l-22.6-22.6c-9.4-9.4-24.6-9.4-33.9 0L160 352.1l-96.4-96.4c-9.4-9.4-24.6-9.4-33.9 0L7 278.3c-9.4 9.4-9.4 24.6 0 33.9l136 136c9.4 9.5 24.6 9.5 34 .1z" class=""></path></svg>
        </a>
    </aside>
    <main class="blog-list">
        <h1 class="pagetitle" id="archivio" ><span>A</span>rchivio dei post</h2>
        <dl>
            {% for post in site.posts %}
            <dt>
                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%d/%m/%y' }}</time>
                <a href="{{ post.url | relative_url }}" title="Leggi l'articolo">
                    {{ post.title }}
                </a>
            </dt>
            <dd>{{ post.description }}</dd>
            {% endfor %}
        </dl>
    </main>
</section>