{# Blog list, extends _layoutBlog #}

{% extends "layouts/_layoutBlog.njk" %}
{% import "macros.njk" as macro %}

{% block header %}
  {% call macro.contentHeader(intro, title, description) -%}{%- endcall %}
{% endblock %}

{% block cover %}
  <figure id="map" class="c-map">
  </figure>
{% endblock %}

{% block search %}
<form class="c-autocomplete" id="autocomplete">
  <label for="autocomplete-input" class="u-srOnly">Cerca</label>
  <input type="text" spellcheck="false" autocomplete="off" id="autocomplete-input" name="searchKey" placeholder="Cerca..." />
  <div class="c-autocomplete-results" id="autocomplete-results" hidden tabindex="-1"></div>
  <div class="c-autocomplete-help">ES: “scialpinismo svizzera” (trova tutti i post che contengono entrambe le chiavi di ricerca)</div>
  <button type="reset" aria-label="Ripristina" class="c-autocomplete-reset" id="autocomplete-reset">{% include 'icons/close.njk' %}</button>
  <button type="submit" aria-label="Cerca" class="c-autocomplete-search" id="autocomplete-search">{% include 'icons/search.njk' %}</button>
</form>
{% endblock %}

{% block list %}
<ul class="l-postGrid">
{%- for post in pagination.items  -%}
  <li class="l-postGrid-item" data-post="{{ post.data.title }}">
    <a href="{{ post.url }}" title="leggi il post" class="u-container-link">
      {{ macro.card(post) }}
    </a>
  </li>
{%- endfor -%}
</ul>
{% endblock %}


{% block footer %}
  <footer>
    <p class="u-text-center u-mt-8">Vuoi rimanere aggiornato sui nuovi post? <strong><a href="http://eepurl.com/dgiWQH"><br>Iscriviti alla newsletter</a></strong></p>
  </footer>
{% endblock %}