{# Base layout #}
{% import "macros/macros.njk" as macro with context %}
{{ macro.docType() }}
{{ macro.htmlTag() }}
  <head>
    {{ macro.commonMeta() }}
    {{ macro.favicons() }}
    {% block head %}{% endblock %}
    {% block css %}
    {{ macro.inlineCss() }}
    {% endblock %}
  </head>
  <body id="top" class="l-base">
    {{ macro.skipToMain() }}
    <header class="l-base-header u-section-mb-1 u-section-mt-0-5">
      {% block header %}{% endblock %}
    </header>
    <main id="main">
      {% block main %}{% endblock %}
    </main>
    <footer class="l-base-footer u-section-mt-2">
      {% block footer %}{% endblock %}
    </footer>      
    {% block scripts %}{% endblock %}
  </body>
</html>