{# Cover layout #}
{% import "macros.njk" as macro %}
{{ macro.docType() }}
{{ macro.htmlTag() }}
  <head>
    {{ macro.commonMeta() }}
    {{ macro.favicons() }}
    {% block head %}{% endblock %}
    {{ macro.css() }}
  </head>
  <body id="top">
    <a href="#content" class="u-srOnly">Vai al contenuto principale</a>
    <div class="l-cover-header">
      {% block header %}{% endblock %}
    </div>
    <div class="l-cover-main">
      <div class="l-cover-left">
        {% block cover %}{% endblock %}
      </div>
      <div id="main" class="l-cover-right">
        <div class="l-cover-content" id="content">
          {% block content %}{% endblock %}
        </div>
        <div class="l-cover-complementary">
          {% block complementary %}{% endblock %}
        </div>
        <div class="l-cover-footer">
          {% block footer %}{% endblock %}
        </div>
      </div>
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>

