<article itemscope itemtype="http://schema.org/Article">
  <div class="l-post-header">
    {% block header %}{% endblock %}
  </div>
  <div class="l-post-cover">
    {% block cover %}{% endblock %}
  </div>
  <div class="l-post-content">
    <div class="l-post-body">
      {% block body %}{% endblock %}
    </div>
    <div class="l-post-aside">
      {% block aside %}{% endblock %}
    </div>
  </div>
  <div class="l-post-gallery">
    {% block gallery %}{% endblock %}
  </div>
</article>