{# Courtesy layout (404, offline...) #}
{% import "macros/macros.njk" as macro with context %}
{{ macro.docType() }}
{{ macro.htmlTag() }}
  <head>
    {{ macro.favicons() }}
    {% block head %}{% endblock %}
    {{ macro.css() }}
  </head>
  <body class="l-courtesy">
    {% block main %}{% endblock %}   
  </body>
</html>