<div class="l-blog">
  <section class="l-blog-header">
    {% block header %}{% endblock %}
  </section>
  <section class="l-blog-cover">
    {% block cover %}{% endblock %}
  </section>
  <section class="l-blog-search">
    {% block search %}{% endblock %}
  </section>
  <section class="l-blog-content">
    {% block list %}{% endblock %}
  </section>
  <section class="l-blog-footer">
    {% block footer %}{% endblock %}
  </section>
</div>