<article itemscope itemtype="http://schema.org/Article">
  <section class="l-post-header u-container">
    {% block header %}{% endblock %}
  </section>
  <section class="l-post-cover">
    {% block cover %}{% endblock %}
  </section>
  <section class="l-post-content ">
    <div class="l-post-body">
      {% block body %}{% endblock %}
    </div>
    <div class="l-post-aside">
      {% block aside %}{% endblock %}
    </div>
  </section>
  <section class="l-post-gallery">
    {% block gallery %}{% endblock %}
  </div>
  <section class="l-post-nav">
    {% block nav %}{% endblock %}
  </section>
</article>