<section>
  <div class="l-blog-header">
    {% block header %}{% endblock %}
  </div>
  <div class="l-blog-cover">
    {% block cover %}{% endblock %}
  </div>
  <div class="l-blog-search">
    {% block search %}{% endblock %}
  </div>
  <div class="l-blog-content">
    {% block list %}{% endblock %}
  </div>
</section>