{# Base layout #}
{% import "macros/macros.njk" as macro with context %}
{{ macro.docType() }}
{{ macro.htmlTag() }}
  <head>
    {{ macro.commonMeta() }}
    {{ macro.favicons() }}
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    {% block head %}{% endblock %}
    {{ macro.css() }}
  </head>
  <body id="top" class="l-base">
    <a href="#main" class="u-srOnly">Vai al contenuto principale</a>
    <header class="u-section-mb-1 u-section-mt-0-5">
      {% block header %}{% endblock %}
    </header>
    <main id="main">
      {% block main %}{% endblock %}
    </main>
    <footer class="u-section-mt-2">
      {% block footer %}{% endblock %}
    </footer>      
    {% block scripts %}{% endblock %}
  </body>
</html>