---
pagination:
  data: collections.posts
  size: 3
---

{# Post layout, extends cover #}
{% set complementary = false %}
{% extends "layouts/_layoutCover.njk" %}
{% import "macros.njk" as macro %}
{% set author %}{% info 'twitter' %}{% endset %}
  {% block head %}
  {{ macro.socialMeta(title, description, 'blog/info/info') }}
  {{ macro.canonical(page.url) }}
  {{ macro.metaTitle(title, info.name) }}
  <link rel="preconnect" href="https://res.cloudinary.com" crossorigin>
  <link rel="preconnect" href="https://unpkg.com" crossorigin>
   <!-- map api -->
  <link rel="stylesheet" 
        href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
        integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin />
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
          integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
          crossorigin></script>
  {% endblock %}
  <body>
    {% block header %}
      <header>
        {{ macro.navigation(activeSection = 'blog') }}
      </header>
    {% endblock %}

    {% block cover %}
    <div id="map" class="c-map">
      <a href="#content" class="c-map-scroll" title="Scrolla in basso per la versione testuale">
        {% include 'icons/chevron-down.njk' %}
      </a>
    </div>
    {% endblock %}

    {% block content %}
    {% call macro.contentHeader(title, hideOnPortrait = false) %}
    <form class="c-autocomplete" id="autocomplete">
      <label for="autocomplete-input" class="u-srOnly">Cerca</label>
      <input type="text" spellcheck="false" autocomplete="off" id="autocomplete-input" name="searchKey" placeholder="Cerca..." />
      <div class="c-autocomplete-results" id="autocomplete-results" hidden></div>
      <small>ES: “scialpinismo svizzera” (trova tutti i post che contengono entrambe le chiavi di ricerca)</small>
      <button type="reset" aria-label="Ripristina" id="autocomplete-reset">{% include 'icons/close.njk' %}</button>
    </form>
    {% endcall %}
    <ul class="l-postGrid">
    {%- for post in pagination.items  -%}
      <li class="l-postGrid-item" data-post="{{ post.data.title }}">
        <a href="{{ post.url }}" title="leggi il post" class="u-container-link">
          {{ macro.card(post) }}
        </a>
      </li>
    {%- endfor -%}
    </ul>

    <ul class="c-pager u-mt-4">
      {% if pagination.previousPageLink %}
      <li>
        <a class="c-button" href="{{ pagination.previousPageLink }}" title="Pagina successiva"> {% include 'icons/chevron-left.njk' %} Precedente</a>
      </li>
      {% endif %}
      {% if pagination.nextPageLink %}
      <li>
        <a class="c-button" href="{{ pagination.nextPageLink }}" title="Pagina successiva">Successiva {% include 'icons/chevron-right.njk' %}</a>
      </li>
      {% endif %}
    </ul>
    {% endblock %}


    {% block footer %}
    {{ macro.footer() }}
    {% endblock %}
    {% block scripts %}

    <script src="/node_modules/pace-progress/pace.js"></script>
    <script src="/node_modules/intersection-observer/intersection-observer.js"></script>
    <script src="/node_modules/vanilla-lazyload/dist/lazyload.js"></script>
    <script src="/node_modules/smooth-scroll/dist/smooth-scroll.js"></script>
    <script src="/node_modules/lunr/lunr.js"></script>
    <script src="/js/smoothScroll.js"></script>
    <script src="/js/currentYear.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/contentHeader.js"></script>
    <script src="/js/lazyImages.js"></script>
    <script src="/js/markers.js"></script> <!-- created in .eleventy.js -->
    <script src="/js/map.js"></script>
    <script src="/js/search.js"></script>
    {% endblock %}
    
  </body>
</html>

