{# Post layout, extends cover #}
{% set complementary = false %}
{% extends "layouts/_layoutCover.njk" %}
{% import "macros.njk" as macro %}
{% set author %}{% info 'twitter' %}{% endset %}
  {% block head %}
  {{ macro.socialMeta(title, description, 'blog/info/info') }}
  {{ macro.canonical(page.url) }}
  {{ macro.metaTitle(title, info.name) }}
  <link rel="preconnect" href="https://res.cloudinary.com">
  <link rel="preconnect" href="https://unpkg.com">
   <!-- map api -->
  <link rel="stylesheet" 
        href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
        integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin />
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
          integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
          crossorigin></script>
  {% endblock %}
  <body>
    {% block header %}
      <header>
        {{ macro.navigation(activeSection = 'blog') }}
      </header>
    {% endblock %}

    {% block cover %}
    <div id="map" class="c-map">
      <a href="#content" class="c-map-scroll" title="Scrolla in basso per la versione testuale">
        {% include 'icons/chevron-down.njk' %}
      </a>
    </div>
    {% endblock %}

    {% block content %}
    {% call macro.contentHeader(title, hideOnPortrait = false) %}
    <form class="c-postSearch">
      <label for="search-input" class="u-srOnly">Cerca</label>
      <input type="text" spellcheck="false" autocomplete="off" id="search-input" name="searchKey" placeholder="Cerca..." />
      <small>ES: “scialpinismo svizzera” (trova tutti i post che contengono entrambe le chiavi di ricerca)</small>
      <button type="reset" aria-label="Ripristina" id="search-reset">{% include 'icons/close.njk' %}</button>
    </form>
    <div role="alert" id="search-results" class="u-mt-1 u-mt-2" hidden>Post trovati: <strong id="search-length"></strong>  <span id="search-emojoy" hidden>😥</span></div>
    {% endcall %}
    <ul class="l-postGrid">
    {%- for post in collections.posts -%}
      <li class="l-postGrid-item" data-post="{{ post.data.title }}">
        <a href="{{ post.url }}" title="leggi il post" class="u-container-link">
          {{ macro.postCard(post) }}
        </a>
      </li>
    {%- endfor -%}
    </ul>
    {% endblock %}


    {% block footer %}
    {{ macro.footer() }}
    {% endblock %}

    {% block scripts %}

    <script src="/node_modules/pace-progress/pace.js"></script>
    <script src="/node_modules/vanilla-lazyload/dist/lazyload.js"></script>
    <script src="/node_modules/smooth-scroll/dist/smooth-scroll.js"></script>
    <script src="/node_modules/lunr/lunr.js"></script>
    <script src="/js/smoothScroll.js"></script>
    <script src="/js/currentYear.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/contentHeader.js"></script>
    <script src="/js/lazyImages.js"></script>
    <script src="/js/markers.js"></script> <!-- created in .eleventy.js -->
    <script src="/js/map.js"></script>
    <script src="/js/search.js"></script>
    {% endblock %}
    
  </body>
</html>

