---
pagination:
  data: collections.posts
  size: 10000
---

{# Blog layout, extends base #}
{% extends "layouts/_layoutBase.njk" %}

{% import "macros.njk" as macro %}
{% set author %}{% info 'twitter' %}{% endset %}

{% block head %}
{{ macro.socialMeta(title, description, ogImage) }}
{{ macro.canonical(page.url) }}
{{ macro.metaTitle(title, info.name) }}
<link rel="preconnect" href="https://res.cloudinary.com" crossorigin>
<link rel="preconnect" href="https://unpkg.com" crossorigin>
  <!-- map api -->
<link rel="stylesheet" 
      href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
      integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
      crossorigin />
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
        integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
        crossorigin></script>
{% endblock %}

{% block header %}
  {{ macro.navigation(activeSection = 'blog') }}
{% endblock %}

{% block content %}
  {# include another template to use a nested layout for post content #}
  {% include 'layouts/_blog.njk' %}
{% endblock %}

{% block footer %}
{{ macro.footer() }}
{% endblock %}

{% block scripts %}
<script src="/node_modules/pace-progress/pace.js"></script>
<script src="/node_modules/vanilla-lazyload/dist/lazyload.js"></script>
<script src="/node_modules/smooth-scroll/dist/smooth-scroll.js"></script>
<script src="/node_modules/lunr/lunr.js"></script>
<script src="/js/smoothScroll.js"></script>
<script src="/js/currentYear.js"></script>
<script src="/js/lazyImages.js"></script>
<script src="/js/markers.js"></script> <!-- created in .eleventy.js -->
<script src="/js/map.js"></script>
<script src="/js/search.js"></script>
{% endblock %}









