{# Index layout, extends base #}
{% extends "layouts/_layoutBase.njk" %}
{% import "macros.njk" as macro %}

{% block head %}
{{ macro.socialMeta(title, description, ogImage) }}
{{ macro.canonical(page.url) }}
{{ macro.metaTitle(title, info.name) }}
<link rel="preconnect" href="https://res.cloudinary.com" crossorigin>
<link rel="stylesheet" href="/node_modules/baguettebox.js/dist/baguetteBox.css" crossorigin>
{% endblock %}

{% block header %}
  {{ macro.navigation(activeSection = 'foto') }}
{% endblock %}

{% block content %}
{{ macro.contentHeader(intro, title, description) }}
{{ macro.masonryGallery(photos) }}
{% endblock %}

{% block footer %}
{{ macro.footer() }}
{% endblock %}

{% block scripts %}
<script src="/node_modules/colcade/colcade.js"></script>
<script src="/node_modules/baguettebox.js/dist/baguetteBox.js"></script>
<script src="/node_modules/pace-progress/pace.js"></script>
<script src="/node_modules/vanilla-lazyload/dist/lazyload.js"></script>
<script src="/node_modules/smooth-scroll/dist/smooth-scroll.js"></script>
<script src="/js/smoothScroll.js"></script>
<script src="/js/currentYear.js"></script>
<script src="/js/lazyImages.js"></script>
<script src="/js/masonryGallery.js"></script>
{% endblock %}




