{# Homepage layout #}
{% import "macros.njk" as macro %}
{{ macro.docType() }}
{{ macro.htmlTag() }}
  <head>
    {{ macro.commonMeta() }}
    {{ macro.favicons() }}
    {{ macro.socialMeta(info.name, info.description, ogImage) }}
    {{ macro.canonical(page.url) }}
    {{ macro.metaTitle(info.name, info.slogan) }}
    {{ macro.css() }}
  </head>
  <body>
    <ul>
    {% for post in collections.posts %}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
    {% endfor %}
    </ul>
    {{ content | safe }}
  </body>
</html>

