{# Post layout #}
{% import "macros.njk" as macro %}
{% set postCover %}blog/covers/{{ date | formatDate('DDMMYY') }}{% endset %}
{{ macro.docType() }}
{{ macro.htmlTag() }}
  <head>
    {{ macro.commonMeta() }}
    {{ macro.favicons() }}
    {{ macro.socialMeta(title, description, postCover) }}
    {{ macro.canonical(page.url) }}
    {{ macro.metaTitle(title, info.slogan) }}
    {{ macro.css() }}
  </head>
  <body>
    <div class="lg:clearfix">
      <div class="lg:float-left">
        <figure class="relative">
          <img class="ratio-2-3 h-screen object-cover" src="{{ macro.cloudinaryImageUrl(postCover, 'w_1706,h_2560,c_fill,f_auto,q_auto') }}" />
          <figcaption class="absolute pin-l pin-b p-8 text-white text-5xl">{{ caption }}</figcaption>
        </figure>
      </div>
      <div class="lg:float-left h-screen ratio-2-3-ramaining overflow-auto">
        <main class="max-w-md mt-16 lg:ml-12 lg:mr-8">
          {{ macro.postCover(date, version, crop) }}
          <h1 class="text-6xl mb-8 font-extrabold">{{ title }}</h1>
          
          {{ content | safe }}
        </main>
      </div>
    </div>
    
  </body>
</html>

