{# Post layout, extends base #}
{% extends "layouts/_layoutBase.njk" %}

{% import "macros.njk" as macro %}

{% block head %}
{{ macro.socialMeta(title, description, cover.id) }}
{{ macro.canonical(page.url) }}
{{ macro.metaTitle(title, info.name) }}
<link rel="preload" href="{{ macro.coverImage(cover.id, cover.version) }}">
<link rel="preconnect" href="https://res.cloudinary.com" crossorigin>
<link rel="stylesheet" href="/node_modules/baguettebox.js/dist/baguetteBox.css" crossorigin>
{% if prev -%}
<link rel="prefetch" href="{{ prev.url }}" />
{% endif -%}
{% if next -%}
<link rel="prefetch" href="{{ next.url }}" />
{% endif -%}
{% endblock %}

{% block header %}
  {{ macro.navigation(activeSection = 'blog') }}
{% endblock %}

{% block content %}
  {# include another template to use a nested layout for post content #}
  {% include 'layouts/_post.njk' %}
{% endblock %}

{% block footer %}
{{ macro.footer() }}
{% endblock %}

{% block scripts %}
<script src="/node_modules/pace-progress/pace.js"></script>
<script src="/node_modules/baguettebox.js/dist/baguetteBox.js"></script>
<script src="/node_modules/vanilla-lazyload/dist/lazyload.js"></script>
<script src="/node_modules/smooth-scroll/dist/smooth-scroll.js"></script>
<script src="/js/smoothScroll.js"></script>
<script src="/js/currentYear.js"></script>
<script src="/js/postGallery.js"></script>
<script src="/js/lazyImages.js"></script>
{% endblock %}

