{# Post layout #}
{% import "macros.njk" as macro %}
{% set postCoverId %}blog/covers/{{ date | formatDate('DDMMYY') }}{% endset %}
{{ macro.docType() }}
{{ macro.htmlTag() }}
  <head>
    {{ macro.commonMeta() }}
    {{ macro.favicons() }}
    {{ macro.socialMeta(title, description, postCoverId) }}
    {{ macro.canonical(page.url) }}
    {{ macro.metaTitle(title, info.slogan) }}
    {{ macro.css() }}
  </head>
  <body>
    <header>
     {{ macro.menu(active = 'blog') }}
    </header>
    <main>
      <div class="landscape:clearfix">
        <div class="landscape:float-left">
          <figure class="relative bg-primary z-0">
            <img class="portrait:w-screen portrait:h-content landscape:ratio-2-3 h-screen object-cover block" src="{{ macro.postCover(postCoverId, version, crop)  }}" />
            <figcaption class="absolute pin-l pin-b p-8 text-white leading-none roman">
              <div class="text-5xl landscape:hidden">{{ title }}</div>
              <span class="text-3xl">{{ caption }}</span>
            </figcaption>
          </figure>
        </div>
        <div id="main" class="landscape:h-content landscape:float-left landscape:h-screen landscape:ratio-2-3-remaining overflow-auto">
          <article class="mt-16 max-w-md landscape:ml-12 landscape:ratio-2-3-content-offset landscape:float-left" itemscope itemtype="http://schema.org/Article">
            <header id="pageHeader" class="pageHeader">
              <h1 class="text-5xl mb-2 font-extrabold sr-only landscape:not-sr-only break-words">{{ title }}</h1>
              <time class="capitalize" datetime="{{ date }}" itemprop="datePublished">{{ date | formatDate('DD MMMM YYYY') }}</time>
              <span class="sr-only" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{% info 'twitter' %}</span>
              </span>
            </header>
            <section itemprop="articleBody">{{ content | safe }}</section>
          </article>
          <aside class="landscape-large:float-left landscape-large:sticky pin-t">
            <h3>Tracce GPS</h3>
          </aside>
        </div>
      </div>
    </main>
    <script src="/node_modules/stickybits/dist/stickybits.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/pageHeader.js"></script>
  </body>
</html>

