---
import { getPosts } from "../../lib/contentful";
import Layout from "../../layouts/Layout.astro";
import PostCard from "../../components/PostCard.astro";
import MapPinIcon from "../../icons/MapPinIcon.astro";

interface Props {
  page: any;
}

const { page } = Astro.props;
const categories = page.data[0].allCategories;
export async function getStaticPaths({ paginate }) {
  const { posts } = await getPosts();
  return paginate(posts, { pageSize: 12 });
}
---

<Layout
  title="Signalkuppe - Parole oltre i 4000m"
  description="Blog personale di Matteo Leoni"
  ogImage="/og-image.png"
>
  <h1>Tutte le uscite</h1>

  <div class="container">
    <nav aria-labelledby="cat-menu" class="post-nav">
      <h2 id="cat-menu">Categorie</h2>
      <ul class="categories-list hide-scrollbars" role="list">
        {
          categories.map((category) => (
            <li>
              <a href={`/blog/${category.toLowerCase()}`}>
                <span aria-hidden="true">#</span>&nbsp;{category}
              </a>
            </li>
          ))
        }
      </ul>
      <a href="/blog/mappa" class="map-link btn"
        ><MapPinIcon aria-hidden="true" /><span class="">Vedi sulla mappa</span
        ></a
      >
    </nav>

    <ul role="list" class="post-list">
      {
        page.data.map((post) => (
          <li>
            <PostCard post={post} />
          </li>
        ))
      }
    </ul>
  </div>
</Layout>

<style>
  h1,
  h2 {
    text-transform: uppercase;
    font-size: 0.85rem;
    color: var(--text);
  }
  h1 {
    margin-bottom: 2rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  .container {
    display: flex;
  }

  .post-nav {
    order: 2;
  }

  .post-list {
    margin-bottom: 2rem;
    display: grid;
    gap: 1.5rem;
    order: 1;
  }

  .post-list li {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .categories-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .categories-list a {
    font-size: 0.75rem;
    text-decoration: none;
    display: block;
    border: 3px solid var(--surfaceAccent);
    color: var(--text);
    padding: 0.5rem 1rem;
    border-radius: 10px;
  }

  .categories-list a:hover {
    color: var(--textAccent);
    border-color: var(--accent);
  }

  .map-link {
    display: inline-flex;
    align-items: center;

    gap: 0.25rem;
    text-decoration: none;
  }

  .map-link svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    transform: translateY(-0.1em);
  }

  @media screen and (width < 60rem) {
    .container {
      flex-direction: column;
    }
  }

  @media screen and (width > 60rem) {
    .container {
      flex-direction: row;
      gap: 3rem;
    }
    .post-list {
      grid-template-columns: repeat(2, 1fr);
      flex: 3;
    }
    .post-nav {
      flex: 1;
      position: sticky;
      height: fit-content;
      z-index: 1;
      top: 7rem;
    }
  }
</style>
