---
permalink: 404.html
title: "Pagina non trovata"
description: "peccato!"
---
{% import "macros/macros.njk" as macro with context %}
{# Blog layout, extends courtesy #}
{% extends "layouts/_layoutCourtesy.njk" %}


{% block head %}
{{ macro.metaTitle(title, env.ELEVENTY_NAME) }}
{% endblock %}

{% block main %}
<div class="c-courtesyPage">
  <header class="c-courtesyPage-logo"><a href="/" aria-label="Torna alla homepage" title="Torna alla homepage">{% include 'logo.njk' %}</a></header>
  <main>
    <h1 class="c-courtesyPage-title">Oops, questa pagina non esiste!</h1>
    <aside class="c-courtesyPage-icon">{% include 'icons/dino-surprise.njk' %}</aside>
  </main>
  <footer>
    <a href="/" class="c-button">Torna alla homepage</a>
  </footer>
</div>
{% endblock %}

