---
title: "Pagina non trovata"
description: "peccato!"
---
{% import "macros/macros.njk" as macro with context %}
{# Blog layout, extends base #}
{% extends "layouts/_layoutBase.njk" %}


{% block head %}
{{ macro.metaTitle(title, env.ELEVENTY_NAME) }}
{% endblock %}

{% block main %}
<div class="u-text-center">
  <style>
    svg {
      transform: scale(2)
    }
    h1 {
      font-family: var(--fontSans);
    }
  </style>
  <p>{% include 'logo.njk' %}</p>
  <h1 class="u-section-mt-1">Oops, questa pagina non esiste! 😯</h1>
  <p class="u-section-mt-0-5 u-section-mb-1">Se cerchi un post torna al <a href="/blog">blog</a> altrimenti</p>
  <a href="/" class="c-button">Torna alla homepage</a>
</div>
{% endblock %}

