---
pagination:
  data: posts
  size: 1000000000
---

{# Index layout, extends homepage #}
{% extends "layouts/_layoutHomepage.njk" %}
{% import "macros/macros.njk" as macro with context %}


{% block head %}
{{ macro.socialMeta(env.ELEVENTLY_NAME, env.ELEVENTY_DESCRIPTION, env.ELEVENTY_LOGO) }}
{{ macro.canonical(page.url) }}
{{ macro.metaTitle(env.ELEVENTY_NAME, env.ELEVENTY_SLOGAN) }}
{% endblock %}

{% block header %}
{{ macro.navigation(activeSection = 'front') }}
{% endblock %}

{% block image %}
<img class="c-homepage-image" src="/img/homepage.jpg" alt="Matteo e Giorgio Leoni" />
{% endblock %}

{% block content %}
<h2 class="c-homepage-name">Benvenuto!</h2
<p class="u-type-lead">
Sono Matteo, <b>sviluppatore web</b> specializzato in responsive Web design. Trasformo idee grafiche in progetti web, con particolare attenzione alle performance e all’architettura css.
</p>
<p>
Quando non lavoro di solito mi trovate in montagna con mio papà. Questo blog vuole essere un semplice diario delle nostre avventure.
<a href="https://it.wikipedia.org/wiki/Punta_Gnifetti" rel="noopener" class="u-highlight-link"><b>Signalkuppe</b></a><em> <br />— il mio nickname — </em>è il nome in tedesco della Punta Gnifetti.
</p>
<p>
<a href="https://signalkuppe.wufoo.com/forms/contatta-signalkuppe/" rel="noopener" class="u-highlight-link"><b>Contattatemi</b></a> per parlare di un vostro progetto o di montagna.
</p>
<hr  class="c-homepage-hr" />
<h3 class="c-homepage-ultimo">Ultimo post 🔥</h3>
{% for post in pagination.items %}
{% if loop.index === 1 %}

<article>
  <header>
    <time class="c-homepage-time" datetime="{{ post.fields.date | formatDate('YYYY-MM-DD') }}" itemprop="datePublished">{{ post.fields.date | formatDate('DD MMMM YYYY') }}</time>
    <h4 class="c-homepage-postTitle"><a class="u-highlight-link" href="{{ post.computed.slug }}">{{ post.fields.title }}</a></h4>
  </header>
  <p>{{ post.fields.description }}</p>
</article>
{% endif %}
{% endfor %}
{% endblock %}

{% block footer %}
{{ macro.footer() }}
{% endblock %}

{% block scripts %}
<script src="/node_modules/smooth-scroll/dist/smooth-scroll.js"></script>
<script src="/node_modules/lockr/lockr.js"></script>
<script src="/js/registerServiceWorker.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/smoothScroll.js"></script>
<script src="/js/currentYear.js"></script>
{% endblock %}

