---
permalink: /js/markers.js
---
var markers = [
{%- for post in posts  -%}
  {
    lat: {{ post.fields.location.lat }},
    lng: {{ post.fields.location.lon }},
    title: '{{ post.fields.title }}',
    description: '{{ post.fields.description }}',
    date: '{{ post.fields.date | formatDate('DD/MM/YY') }}',
    link: '/{{ post.fields.slug }}.html',
    tags: '{{ post.fields.tags.join(' ') }}',
    category: '{{ post.fields.category[0] }}',
    cover: '{{ post.fields.cover.fields.file.url }}?fit=thumb&w=200&h=200&fm=jpg&fl=progressive&q=70',
    autocompleteRow: '<a href="/{{ post.fields.slug }}.html" data-autocomplete>{{ post.fields.title }}</a>'
  }{% if not loop.last %},{% endif %}
{%- endfor -%}
{%- if oldPosts.length -%},
{# TEMP: old posts #}
{%- for post in oldPosts  -%}
  {
    lat: {{ post.lat }},
    lng: {{ post.lng }},
    title: '{{ post.title }}',
    description: '{{ post.description }}',
    date: '{{ post.date }}',
    link: '{{ post.link }}',
    tags: '{{ post.tags | join(' ') }}',
    category: '{{ post.link.split('/')[1]}}',
    cover: '{{ post.cover }}',
    autocompleteRow: '<a href="{{ post.link }}" data-autocomplete>{{ post.title }}</a>'
  }{% if not loop.last %},{% endif %}
{%- endfor -%}
{%- endif -%}
]