---
permalink: offline.html
title: "Pagina non disponibile offline"
description: "peccato!"
---
{% import "macros/macros.njk" as macro with context %}
{# Blog layout, extends courtesy #}
{% extends "layouts/_layoutCourtesy.njk" %}


{% block head %}
{{ macro.metaTitle(title, env.ELEVENTY_NAME) }}
{% endblock %}

{% block main %}
<div class="c-courtesyPage">
  <header class="c-courtesyPage-logo"><a href="/" aria-label="Torna alla homepage" title="Torna alla homepage">{% include 'logo.njk' %}</a></header>
  <main>
    <h1 class="c-courtesyPage-title">Questa pagina non è disponibile offline</h1>
    <aside class="c-courtesyPage-icon">{% include 'icons/dino-crying.njk' %}</aside>
    <p>Una volta letti, puoi <b>leggere offline gli articoli</b> se il tuo <a href="https://caniuse.com/#feat=serviceworkers" target="_blank" rel="noopener" class="u-highlight-link" title="Se hai visto il dinosauro in fondo al post :)">browser lo supporta</a></p>
  </main>
  <footer>
    <a href="/" class="c-button">Torna alla homepage</a>
  </footer>
</div>
{% endblock %}

