---
intro: "Foto"
title: "Portfolio fotografico"
description: "Una raccolta delle mie foto più belle"
pagination:
  data: portfolio
  size: 32
---
{% import "macros/macros.njk" as macro with context %}
{# Portfolio layout, extends base #}
{% extends "layouts/_layoutBase.njk" %}

{% block head %}
{% set ogImage %}{{ env.ELEVENTY_URL }}{{ env.ELEVENTY_LOGO }}{% endset %}
{{ macro.socialMeta(title, description, ogImage, ogType='website') }}
{{ macro.canonical() }}
{{ macro.metaTitle(title, env.ELEVENTY_NAME) }}
<link rel="preconnect" href="https://assets.ctfassets.net" crossorigin>
{% endblock %}

{% block header %}
  {{ macro.navigation(activeSection = 'portfolio') }}
{% endblock %}

{% block main %}
{# header #}
{% call macro.contentHeader(intro, title, description) -%}{%- endcall %}

<div class="u-section-mt-1-5">
    <div aria-hidden="true" class="c-imageGallery-loading js-observe js-observe-gallery">
        Carico la gallery
        <span class="c-imageGallery-loader"><span class="c-imageGallery-loaderInner"></span></span>
    </div>
  <ul class="c-imageGallery js-gallery">
    <div class="c-imageGallery-col" aria-hidden="true"></div>
    <div class="c-imageGallery-col" aria-hidden="true"></div>
    <div class="c-imageGallery-col" aria-hidden="true"></div>
    <div class="c-imageGallery-col" aria-hidden="true"></div>
    <div class="c-imageGallery-col" aria-hidden="true"></div>
    {% for photo in pagination.items %}
    <li class="c-imageGallery-item">
      <a 
        href="{{ photo.fields.photo.fields.file.url }}?fit=thumb&w=2560&fm=jpg&fl=progressive"
        data-at-700="{{ photo.fields.photo.fields.file.url }}?fit=thumb&w=1440&fm=jpg&fl=progressive"
        data-at-1200="{{ photo.fields.photo.fields.file.url }}?fit=thumb&w=1920&fm=jpg&fl=progressive"
        data-at-1900="{{ photo.fields.photo.fields.file.url }}?fit=thumb&w=2560&fm=jpg&fl=progressive"
        data-at-2500="{{ photo.fields.photo.fields.file.url }}?fit=thumb&w=3500&fm=jpg&fl=progressive"
        title="{{ photo.fields.title }}">
        <img 
          data-src="{{ photo.fields.photo.fields.file.url }}?fit=thumb&w=800&fm=jpg&fl=progressive" 
          alt="{{ photo.fields.description }}" 
          class="js-gallery-img"
         />
        <noscript>
          <img 
            src="{{ photo.fields.photo.fields.file.url }}?fit=thumb&w=800&fm=jpg&fl=progressive" 
            alt="{{ photo.fields.photo.fields.title }}"  />        
        </noscript>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="u-section-mt-2">
  <nav>
    <ul class="c-portfolioNav">
      {% if pagination.previousPageHref %}
      <li><a href="{{ pagination.previousPageHref }}" title="Pagina precedente" class="c-button-link">{{ macro.icon('previous') }}Precedente</a></li>
      {% endif %}
       {% if pagination.previousPageHref and pagination.nextPageHref %}
        <li aria-hidden="true">|</li>
        {% endif %}
      {% if pagination.nextPageHref %}
      <li><a href="{{ pagination.nextPageHref }}" title="Pagina successiva" class="c-button-link">Successiva{{ macro.icon('next', append=true) }}</a></li>
      {% endif %}
    </ul>
  </nav>
</div>

<div class="u-section-mt-2 u-text-center u-pr-1 u-pl-1">
  {{ macro.icon('info') }} Il portfolio è in costruzione, nel frattempo <a href="https://www.flickr.com/photos/signalkuppe/albums/72157601900626726" rel="noopener" target="_blank">potete trovare tutte le foto qui</a>
</div>
{% endblock %}



{% block footer %}
{{ macro.footer() }}
{% endblock %}

{% block scripts %}
<script src="/js/lib/colcade.js"></script>
<script src="/js/lib/baguetteBox.js"></script>
<script src="/js/lib/toastify.js"></script>
<script src="/js/registerServiceWorker.js"></script>
<script src="/js/currentYear.js"></script>
<script src="/js/imageGallery.js"></script>
{% endblock %}

