---
pagination:
  data: posts
  size: 1
  alias: post
permalink: "{{ post.computed.slug }}"
---

{# Post layout, extends base #}
{% extends "layouts/_layoutBase.njk" %}
{% import "macros/macros.njk" as macro with context %}

{# head #}
{% block head %}
{% set ogImage %}https:{{ post.fields.cover.fields.file.url }}?fit=thumb&w=400&h=400&f=center{% endset %}
{{ macro.socialMeta(post.fields.title, post.fields.description, ogImage) }}
{{ macro.canonical() }}
{{ macro.metaTitle(post.fields.title, env.ELEVENTY_NAME) }}
<link rel="preconnect" href="https://assets.ctfassets.net" crossorigin>
{% endblock %}

{# nav #}
{% block header %}
  {{ macro.navigation(activeSection = 'blog') }}
{% endblock %}

{% block main %}
<article itemscope itemtype="http://schema.org/Article" class="c-post">
  {# post header #}
  {% call macro.contentHeader(post.fields.category[0], post.fields.title, post.fields.description) -%}
  <time datetime="{{ post.fields.date | formatDate('YYYY-MM-DD') }}" itemprop="datePublished">{{ post.fields.date | formatDate('DD MMMM YYYY') }}</time>
  <span itemprop="author" itemscope itemtype="http://schema.org/Person"  class="u-srOnly">
    <span itemprop="name">{{ env.ELEVENTY_AUTHOR }}</span>
    <span itemprop="nickname">{{ env.ELEVENTY_NICKNAME }}</span>
  </span>
  {%- endcall %}

  {# post cover #}
  <figure class="c-post-cover js-observe js-observe-caption js-gallery u-section-mt-1">
    <a 
    href="{{ post.fields.cover.fields.file.url }}?fit=thumb&w=800&fm=jpg&fl=progressive" 
    data-at-768="{{ post.fields.cover.fields.file.url }}?fit=thumb&w=1440&fm=jpg&fl=progressive"
    data-at-1280="{{ post.fields.cover.fields.file.url }}?fit=thumb&w=1920&fm=jpg&fl=progressive"
    data-at-1920="{{ post.fields.cover.fields.file.url }}?fit=thumb&w=2560&fm=jpg&fl=progressive"
    title="{{ post.fields.cover.fields.title }}"
    >
      <picture class="u-hide-nojs">
        <!-- 21:9 medium -->
        <source
          srcset="{{ post.fields.cover.fields.file.url }}?fit=thumb&w=1440&h=617&q=20&f={{ post.fields.coverCropFocus[0] }}&fm=jpg&fl=progressive" 
          data-srcset="{{ post.fields.cover.fields.file.url }}?fit=thumb&w=1920&h=822&q=100&f={{ post.fields.coverCropFocus[0] }}&fm=jpg&fl=progressive" 
          media="(orientation: landscape) and (max-width: 1679px)" />
        <!-- 21:9 large -->
        <source
          srcset="{{ post.fields.cover.fields.file.url }}?fit=thumb&w=1440&h=617&q=20&f={{ post.fields.coverCropFocus[0] }}&fm=jpg&fl=progressive" 
          data-srcset="{{ post.fields.cover.fields.file.url }}?fit=thumb&w=2560&h=1100&q=100&f={{ post.fields.coverCropFocus[0] }}&fm=jpg&fl=progressive" 
          media="(orientation: landscape) and (min-width: 1680px) and (max-width: 2300px)" />
        <!-- 21:9 xlarge -->
        <source
          srcset="{{ post.fields.cover.fields.file.url }}?fit=thumb&w=1440&h=617&q=20&f={{ post.fields.coverCropFocus[0] }}&fm=jpg&fl=progressive" 
          data-srcset="{{ post.fields.cover.fields.file.url }}?fit=thumb&w=3500&h=1500&q=100&f={{ post.fields.coverCropFocus[0] }}&fm=jpg&fl=progressive" 
          media="(orientation: landscape) and (min-width: 2301px)" />
        <!-- 3:2 -->
        <source 
          srcset="{{ post.fields.cover.fields.file.url }}?fit=thumb&w=800&h=533&f={{ post.fields.coverCropFocus[0] }}&fm=jpg&fl=progressive&q=20"
          data-srcset="{{ post.fields.cover.fields.file.url }}?fit=thumb&w=1440&h=960&f={{ post.fields.coverCropFocus[0] }}&fm=jpg&fl=progressive&q=100" 
          media="(orientation: portrait)" />
        <img 
          class="lazyImg"
          alt="{{ post.fields.cover.fields.description  }}" />
      </picture>
    </a>
    <figcaption class="c-post-cover-caption js-animate-caption">
      {{ post.fields.cover.fields.title }}
    </figcaption>
    <noscript>
      <img 
        src="{{ post.fields.cover.fields.file.url }}?fit=thumb&w=1440&h=960&f={{ post.fields.coverCropFocus[0] }}&fm=jpg&fl=progressive&q=60" 
        alt="{{ post.fields.cover.fields.description }}"  />        
    </noscript>
  </figure>
  {% if post.computed.gps.hasGpx %}
  <div id="js-gpxButtonContainer" class="c-post-gpxButtonContainer u-screenOnly"> </div>
  {% endif %}
  {# post layout #}
  <section class="l-post u-section-mt-1-5">
    {# content #}
    <section itemprop="articleBody" class="l-post-content u-section-mb-1">
    {{ post.computed.body | safe }}
    <p class="u-printOnly c-post-printMessage" aria-hidden="true"><strong>Grazie per aver stampato questa pagina, buona gita! 🤟</strong></p>
    </section>
    {# /content #}
    {# sidebar #}
    <aside class="l-post-sidebar">
      <div class="c-post-sticky">
        {# gps #}
        {% if post.computed.gps.hasTracks %}
        <h3 class="u-mb-1">Scarica le tracce</h3>
        <ul class="c-post-gps u-inline-list">
          {% if post.computed.gps.hasKml %}
          <li>
            <a class="c-button" href="{{ post.computed.gps.kml }}" id="js-kmlButton" title="Scarica la traccia .kml per Google Earth" download="{{ post.fields.title | slug }}.kml">{{ macro.icon('download') }}Traccia kml</a>
          </li>
          {% endif %}
          {% if post.computed.gps.hasGpx %}
          <li>
            <a class="c-button" href="{{ post.computed.gps.gpx }}" id="js-gpxButton" title="Scarica la traccia .gpx" download="{{ post.fields.title | slug }}.gpx">{{ macro.icon('download') }}Traccia gpx</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
        {# /gps #}
        {# social #}
        <h3 class="js-animate-sidebarTitle{% if post.fields.gpsTracks.length %} u-section-mt-1{% endif %} u-mb-1">Condividi</h3>
        <script>
          var postTitle = document.querySelector('h1').textContent
          var url = window.location.href 
          var author = document.querySelector('[itemprop="nickname"]').textContent
        </script>
        <ul class="u-inline-list">
          <li>
            <a
              href="" 
              class="c-post-share c-post-share--facebook" 
              title="Condividi su Facebook" 
              aria-label="Condividi su Facebook" 
              target="_blank" rel="noopener" 
              onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(url) + '&amp;title='+encodeURIComponent(postTitle)); return false;">
              {{ macro.icon('facebook') }}
            </a>
          </li>
          <li>
            <a 
              href="" 
              class="c-post-share c-post-share--twitter" 
              target="_blank" rel="noopener" 
              title="Condividi su Twitter" 
              aria-label="Condividi su Twitter" 
              onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(postTitle) + '&amp;url=' + encodeURIComponent(url) + '&amp;via='+encodeURIComponent(author)); return false;">
              {{ macro.icon('twitter') }}
            </a>
          </li>
          <li>
            <a 
              class="c-post-share c-post-share--whatsapp" 
              title="Condividi su Whatsapp" 
              href="whatsapp://send?text={{ env.ELEVENTY_URL }}/{{ post.fields.slug }}" 
              aria-label="Condividi su Whatsapp" 
              data-action="share/whatsapp/share">
              {{ macro.icon('whatsapp') }}
            </a>
          </li>
          <li>
            <a 
              href="" 
              class="c-post-share c-post-share--email" 
              target="_blank" 
              rel="noopener" 
              title="Condividi via mail" 
              aria-label="Condividi via mail" 
              onclick="window.open('mailto:?subject=' + encodeURIComponent(postTitle) + '&amp;body=' +  encodeURIComponent(url)); return false;">
              {{ macro.icon('gmail') }}
            </a>
          </li>
        </ul>
        {# /social #}
      </div>
    </aside>
    {# /sidebar #}
  </section>
  <!-- /post layout -->
  {# gallery #}
  <aside class="u-section-mt-2">
    <ul class="c-imageGallery js-gallery">
      <div class="c-imageGallery-col" aria-hidden="true"></div>
      <div class="c-imageGallery-col" aria-hidden="true"></div>
      <div class="c-imageGallery-col" aria-hidden="true"></div>
      <div class="c-imageGallery-col" aria-hidden="true"></div>
      <div class="c-imageGallery-col" aria-hidden="true"></div>
      {% for photo in post.fields.gallery %}
      <li class="c-imageGallery-item">
        <a 
          href="{{ photo.fields.file.url }}?fit=thumb&w=2560&fm=jpg&fl=progressive"
          data-at-700="{{ photo.fields.file.url }}?fit=thumb&w=1440&fm=jpg&fl=progressive"
          data-at-1200="{{ photo.fields.file.url }}?fit=thumb&w=1920&fm=jpg&fl=progressive"
          data-at-1900="{{ photo.fields.file.url }}?fit=thumb&w=2560&fm=jpg&fl=progressive"
          data-at-2500="{{ photo.fields.file.url }}?fit=thumb&w=3500&fm=jpg&fl=progressive"
          title="{{ photo.fields.title }}"
          >
          <img 
            data-src="{{ photo.fields.file.url }}?fit=thumb&w=800&fm=jpg&fl=progressive" 
            alt="{{ photo.fields.description }}" 
            class="lazyImg u-hide-nojs" />
          <noscript>
            <img 
              src="{{ photo.fields.file.url }}?fit=thumb&w=2560&fm=jpg&fl=progressive" 
              alt="{{ photo.fields.description }}"  />        
          </noscript>
        </a>
      </li> 
      {% endfor %}
    </ul>
  </aside>
  {# /gallery #}
  <footer class="c-post-footer u-section-mt-2">
    <ul class="u-text-center u-section-mb-1 u-inline-list u-justify-center">
      <li><button href="" onclick="window.print()" class="c-button">{{ macro.icon('print') }}Stampa</button></li>
    </ul>
    {# prev-next #}
    <nav class="js-observe js-observe-nav">
      <ul class="c-postNav">
        {% if post.computed.prev %}
        <li>
          <a class="js-animate-prev c-button-link" href="{{ post.computed.prev.slug }}" title="{{ post.computed.prev.date | formatDate('YYYY-MM-DD') }} - {{ post.computed.prev.title }}">{{ macro.icon('previous') }}Precedente</a>
        </li>
        {% endif %}
        {% if post.computed.prev and post.computed.next %}
        <li aria-hidden="true">|</li>
        {% endif %}
        {% if post.computed.next %}
        <li>
          <a class="js-animate-next c-button-link" href="{{ post.computed.next.slug }}" title="{{ post.computed.next.date | formatDate('YYYY-MM-DD') }} - {{ post.computed.next.title }}">Successiva{{ macro.icon('next', append=true) }}</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {# /prev-next #}
    {# offline msg #}
    <div class="c-post-offlineMsg u-section-mt-1-25 js-observe js-observe-offlineMsg u-screenOnly" role="alert" id="js-offlineMsg">
      {{ macro.icon('info') }} <span class="c-post-offlineMsg-text">Lo sapevi che puoi leggere questo post offline? Senza connessione potrai visualizzare il testo, le foto che hai visto e la traccia se l’hai aperta.</span>
    </div>
    {# /offline msg #}
    <p class="c-post-newsletter u-section-mt-1 u-section-mb-1">Vuoi rimanere aggiornato sui nuovi post? <strong><a href="http://eepurl.com/dgiWQH" class="u-highlight-link"><br>Iscriviti alla newsletter</a></strong></p>
  </footer>
</article>
{% endblock %}

{% block footer %}
{{ macro.footer() }}
{% endblock %}

{% block scripts %}
<script src="/js/lib/gsap.js"></script>
<script src="/js/lib/colcade.js"></script>
<script src="/js/lib/lazyload.js"></script>
<script src="/js/lib/smooth-scroll.js"></script>
<script src="/js/lib/baguetteBox.js"></script>
<script src="/js/lib/toastify.js"></script>
<script src="/js/lib/lockr.js"></script>
<script src="/js/registerServiceWorker.js"></script>
{% if post.computed.gps.hasGpx %}
<script src="/js/lib/leaflet.js"></script>
<script src="/js/lib/gpx.js"></script>
<script src="/js/postGpxTrack.js"></script>
{% endif %}
<script src="/js/topMessage.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/postAnimations.js"></script>
<script src="/js/smoothScroll.js"></script>
<script src="/js/currentYear.js"></script>
<script src="/js/lazyImages.js"></script>
<script src="/js/imageGallery.js"></script>
{% endblock %}