{% include post-cover.html %}
<article class="post main-content" id="post" data-caption="{{ page.caption }}">
	<header class="post-header container">
		<h1 class="post-title">{{ page.title }}</h1>
		<time pubdate datetime="{{ page.date | date: "%Y-%m-%d" }}" class="post-date">{{ page.date | localize: "%d %B %Y" }}</time>
		<span class="post-author">
			<a href="https://plus.google.com/110274853083140603802?rel=author">Google</a>
		</span>
	</header>
	<div class="post-content container">
		{{ content }}
	</div>
	<div class="post-print-thanks">
		Grazie per aver stampato questa pagina!
	</div>
	{% if page.flickr%}
	<figure class="post-gallery">
		<div class="post-gallery-mobile">
			<a href="#" rel="gallery" class="post-gallery-mobile-link">
			    <span>Guarda le foto</span>
				<svg class="icon icon-camera" viewBox="0 0 32 32" id="camera"><use xlink:href="#icon-camera"></use></svg>
				<svg class="icon icon-eye-blocked" viewBox="0 0 32 32" id="eye"><use xlink:href="#icon-eye-blocked"></use></svg>					
			</a>
		</div>
		{% flickr_photoset page.flickr %}
		<figcaption class="post-gallery-caption">{{ page.title }}</figcaption>
	</figure>
	{% endif %}
	<footer class="container">
	<div class="post-utilities">
		{% include post-utilities.html %}
	</div>
    {% include disqus.html %}
	{% include post-footer.html %}
	</footer>
</article>
<aside role="navigation" class="post-navigation">
	{% include post-navigation.html %}
</aside>