<ul>
	<li class="post-gps-link post-gps-link--kml">
		<a title="scarica la traccia gps per google earth" href="{{ site.url }}/downloads/{{ page.date| date: "%d%m%y" }}/{{ page.date| date: "%d%m%y" }}.kml">
			<i class="icon-earth"></i>
			Traccia per Google Earth
		</a>
	</li>
	<li class="post-gps-link post-gps-link--gpx">
		<a title="scarica la traccia gps in un archivio zip con i file .gpx e kml" href="{{ site.url }}/downloads/{{ page.date| date: "%d%m%y" }}/{{ page.date| date: "%d%m%y" }}.zip">
			<i class="icon-disk"></i>
			Traccia formato .gpx
		</a>
	</li>
</ul>