<div class="post-footer">
	<ul class="post-footer-list">
		<li>
			<a title="condividi su Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url }}{{page.url}}">
				<svg class="icon icon-facebook" viewBox="0 0 32 32"><use xlink:href="#icon-facebook"></use></svg>
			</a>
		</li>
		<li>
			<a title="condividi su Twitter" href="https://twitter.com/intent/tweet?url={{site.url }}{{page.url}}&text={{ page.title }} @signalkuppe">
				<svg class="icon icon-twitter" viewBox="0 0 32 32"><use xlink:href="#icon-twitter"></use></svg>
			</a>
		</li>
		<li>
			<a title="condividi su Google Plus" href="https://plus.google.com/share?url={{site.url }}{{page.url}}">
				<svg class="icon icon-googleplus" viewBox="0 0 32 32"><use xlink:href="#icon-googleplus"></use></svg>
			</a>
		</li>
	</ul>
</div>