<div class="post-footer">
	<ul class="post-footer-list">
		<li>
			<a title="condividi su Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.fullurl }}{{page.url}}">
				<i class="icon-facebook"></i>
			</a>
		</li>
		<li>
			<a title="condividi su Twitter" href="https://twitter.com/intent/tweet?url={{site.fullurl }}{{page.url}}&text={{ page.title }} @signalkuppe">
				<i class="icon-twitter"></i>
			</a>
		</li>
		<li>
			<a title="condividi su Google Plus" href="https://plus.google.com/share?url={{site.fullurl }}{{page.url}}">
				<i class="icon-google-plus"></i>
			</a>
		</li>
	</ul>
</div>