<!--css-->
<!-- build:remove -->
<link rel="stylesheet" href="{{ site.baseurl}}css/app.css" media="screen" />
<!-- /build -->
<!-- build:template
<link rel="stylesheet" href="{{ site.baseurl}}css/app.min.css" media="screen" />
/build -->

<!--geek corner-->
<!-- view the uncompressed css -> {{ site.baseurl}}css/app.css -->

<!-- build:js {{ site.baseurl}}js/app.min.js -->
<script src="{{ site.baseurl}}bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl}}bower_components/jquery.smooth-scroll/jquery.smooth-scroll.min.js"></script>
<script src="{{ site.baseurl}}bower_components/jQuery-Unorphanize/unorphanize.jquery.min.js"></script>
<script src="{{ site.baseurl}}bower_components/scrollup/src/jquery.scrollUp.js"></script>
<script src="{{ site.baseurl}}bower_components/fastclick/lib/fastclick.js"></script>
<script src="{{ site.baseurl}}bower_components/enquire/dist/enquire.min.js"></script>
<script src="{{ site.baseurl}}bower_components/iOS-Orientationchange-Fix/ios-orientationchange-fix.js"></script>
<script src="{{ site.baseurl}}js/cover.js"></script>
<script src="{{ site.baseurl}}js/orphans.js"></script>
<script src="{{ site.baseurl}}js/image-lightbox.js"></script>
<script src="{{ site.baseurl}}js/gallery.js"></script>
<script src="{{ site.baseurl}}js/smoothscroll.js"></script>
<script src="{{ site.baseurl}}js/print.js"></script>
<script src="{{ site.baseurl}}js/scrollup.js"></script>
<script src="{{ site.baseurl}}js/fastclick.js"></script>
<script src="{{ site.baseurl}}js/web-app-links-safari.js"></script>
<script src="{{ site.baseurl}}js/meteo.js"></script>
<script src="{{ site.baseurl}}js/sharewindow.js"></script>
<!-- /build -->

<script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.6/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Open Sans:300,400,400italic,600,700', 'Oswald:300,400']
    }
  });
</script>

<script type="text/javascript">
/* carica disqus solo sullo scroll*/
var ds_loaded = false;
function loadDisqus()
{
    var disqus_div = $("#disqus_thread");
    var top = disqus_div.offset().top;
    var disqus_data = disqus_div.data();
    if ( !ds_loaded && $(window).scrollTop() + $(window).height() > top ) 
    {
        ds_loaded = true;
        for (var key in disqus_data) 
        {
            if (key.substr(0,6) == 'disqus') 
            {
                window['disqus_' + key.replace('disqus','').toLowerCase()] = disqus_data[key];
            }
        }
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'http://' + window.disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        console.log('disqus caricato','url: '+disqus_url+' shortname: '+disqus_shortname)
    }  
}
$(function () 
{
    var disqus_div = $("#disqus_thread");
    if (disqus_div.size() > 0) 
    {
        $(window).scroll(loadDisqus);      
    }  
});
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-820873-1', 'signalkuppe.com');
  ga('send', 'pageview');

</script>