<!--css-->
<!-- build:remove -->
<link rel="stylesheet" href="{{ site.baseurl}}css/app.css" media="screen" />
<!-- /build -->
<!-- build:template
<link rel="stylesheet" href="{{ site.baseurl}}css/app.min.css" media="screen" />
/build -->

<!--geek corner-->
<!-- view the uncompressed css -> {{ site.baseurl}}css/app.css -->

<!-- build:js {{ site.baseurl}}js/app.min.js -->
<script src="{{ site.baseurl}}bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl}}bower_components/jquery.smooth-scroll/jquery.smooth-scroll.min.js"></script>
<script src="{{ site.baseurl}}bower_components/jQuery-Unorphanize/unorphanize.jquery.min.js"></script>
<script src="{{ site.baseurl}}bower_components/scrollup/src/jquery.scrollUp.js"></script>
<script src="{{ site.baseurl}}bower_components/fastclick/lib/fastclick.js"></script>
<script src="{{ site.baseurl}}bower_components/enquire/dist/enquire.min.js"></script>
<script src="{{ site.baseurl}}bower_components/iOS-Orientationchange-Fix/ios-orientationchange-fix.js"></script>
<script src="{{ site.baseurl}}js/cover.js"></script>
<script src="{{ site.baseurl}}js/orphans.js"></script>
<script src="{{ site.baseurl}}js/image-lightbox.js"></script>
<script src="{{ site.baseurl}}js/gallery.js"></script>
<script src="{{ site.baseurl}}js/smoothscroll.js"></script>
<script src="{{ site.baseurl}}js/print.js"></script>
<script src="{{ site.baseurl}}js/scrollup.js"></script>
<script src="{{ site.baseurl}}js/fastclick.js"></script>
<script src="{{ site.baseurl}}js/web-app-links-safari.js"></script>
<script src="{{ site.baseurl}}js/meteo.js"></script>
<script src="{{ site.baseurl}}js/sharewindow.js"></script>
<!-- /build -->

<script>
  (function(d) {
    var config = {
      kitId: 'hab5nlu',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>

<script type="text/javascript">
  var _iub = _iub || [];
  _iub.csConfiguration = {
    cookiePolicyId: 907282,
    siteId: 395161,
    lang: "it"
  };
  (function (w, d) {
    var loader = function () { var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/cookie_solution/iubenda_cs.js"; tag.parentNode.insertBefore(s, tag); };
    if (w.addEventListener) { w.addEventListener("load", loader, false); } else if (w.attachEvent) { w.attachEvent("onload", loader); } else { w.onload = loader; }
  })(window, document);
</script>

<script type="text/javascript">
/* carica disqus solo sullo scroll*/
var ds_loaded = false;
function loadDisqus()
{
    var disqus_div = $("#disqus_thread");
    var top = disqus_div.offset().top;
    var disqus_data = disqus_div.data();
    if ( !ds_loaded && $(window).scrollTop() + $(window).height() > 50 ) 
    {
        ds_loaded = true;
        for (var key in disqus_data) 
        {
            if (key.substr(0,6) == 'disqus') 
            {
                window['disqus_' + key.replace('disqus','').toLowerCase()] = disqus_data[key];
            }
        }
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'http://' + window.disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }  
}
$(function () 
{
    var disqus_div = $("#disqus_thread");
    if (disqus_div.size() > 0) 
    {
        $(window).scroll(loadDisqus);      
    }  
});
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-820873-1', 'signalkuppe.com');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');

</script>