<script src="/bower_components/jquery/jquery.min.js"></script>
<script src="/bower_components/jquery.smooth-scroll/jquery.smooth-scroll.min.js"></script>
<script src="/bower_components/jQuery-Unorphanize/unorphanize.jquery.min.js"></script>
<script src="/bower_components/swipebox/source/jquery.swipebox.min.js"></script>
<script src="/js/cover.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/print.js"></script>
<script src="/js/orphans.js"></script>
<script src="/js/swipebox.js"></script>