<!-- js libraries -->
<script src="{{ site.baseurl}}bower_components/jquery/jquery.min.js"></script>
<script src="{{ site.baseurl}}bower_components/jquery.smooth-scroll/jquery.smooth-scroll.min.js"></script>
<script src="{{ site.baseurl}}bower_components/jQuery-Unorphanize/unorphanize.jquery.min.js"></script>
<script src="{{ site.baseurl}}bower_components/scrollup/js/jquery.scrollUp.min.js"></script>
<script src="{{ site.baseurl}}bower_components/fastclick/lib/fastclick.js"></script>
<script src="{{ site.baseurl}}bower_components/enquire/dist/enquire.min.js"></script>
<!-- /js libraries -->