<style>
    @media print {

        @page { 
            margin: 2cm;
        }

        body {
            font: 9pt Georgia, "Times New Roman", Times, serif;
            line-height: 1.3;
        }

        h1 {
            font-family: Georgia, "Times New Roman", Times, serif;
            font-size: 18pt;
        }

        h2 {
            font-family: Georgia, "Times New Roman", Times, serif;
            font-size: 14pt;
        }

        svg,
        .pace,
        .post-cover,
        .post-newsletter,
        .post-gallery,
        .post-gallery-loading,
        .post-gallery-title,
        .post-utilities,
        .post-comments,
        .post-nav {
            display: none;
        }

        .post-body {
            max-width: none;
            margin: auto;
            padding-top: 40px;
        }

        .post-gallery {
            padding: 0;
        }
    }
</style>