<style>
    * {
        box-sizing: border-box;
    }

    html {
        font-size: 100%;
        height: 100%;
    }

    @media screen and (min-width: 768px) {
        html { 
            font-size: 112.5%;
        }
    }

    body {
        height: 100%;
        font-family: var(--font-text);
        line-height: 1.5;
        color: rgba(0,0,0,0.8);
        color: var(--color-text);
        background: var(--body-background);
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: var(--font-headings);
        font-weight: 900;
        color: rgba(0,0,0,0.9);
        color: var(--color-headings);
    }

    a {
        text-decoration-skip: ink;
        color: rgba(0,0,0,0.8);
        color: var(--color-text);
    }

    svg[icon] {
        display: inline-block;
        font-size: inherit;
        height: 1em;
        overflow: visible;
        vertical-align: -.125em;
    }
</style>