<style>

    .js .menu {
        opacity: 0;
        transition: all .2s ease-in-out;
    }

    .wf-active .menu {
        opacity: 1;
    }

    .menu ul {
        font-family: "ocr-a-std", monospace;
        font-family: var(--font-monospace);
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu li {
        display: inline-block;
        margin-right: 1em;
    }

    .menu li:last-child {
        margin-right: 0;
    }

    .frontpage .menu-home {
        display: none;
    }

    .menu-home span {
        clip: rect(0,0,0,0);
        position: absolute;
    }

    .menu a {
        font-weight: bold;
        text-decoration: none;
    }

    .menu a.active {
        text-decoration: underline;
    }

    .menu-theme svg {
        position: relative;
        top: 2px;
    }

    @supports not (--var: 'black') {
        .menu-theme {
            display: none;
        }
    }
</style>