<style media="print">
    @page {
        margin: 1cm;
    }

    body {
        font: 9pt Georgia, "Times New Roman", Times, serif;
        line-height: 1.5;
    }

    h1 {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 20pt;
        font-weight: bold;
        margin-bottom: 0;
    }

    .post-title time {
        margin-bottom: 30px;
        display: block;
    }

    h2 {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 12pt;
        margin-bottom: 0;
    }

    h2 + p {
        margin-top: 10px;
    }

    p + h2 {
        margin-top: 15px;
    }

    svg,
    .pace,
    .post-cover,
    .post-newsletter,
    .post-gallery,
    .post-gallery-loading,
    .post-gallery-title,
    .post-utilities,
    .post-comments,
    .post-nav {
        display: none;
    }

    .post-body {
        max-width: none;
        margin: auto;
    }

    .post-body figure {
        margin: 0;
    }

    .post-body figcaption {
        font-size: 80%;
        font-style: italic;
        color: #666;
    }

    .post-content img {
        height: 150px;
    }

    .post-gallery {
        padding: 0;
        page-break-inside: avoid;
    }

    .post-gallery ul {
        margin: 0;
        padding: 40px 0 0 0;
        max-width: 80%;
        overflow: hidden;
        list-style: none;
    }

    .post-gallery img {
        display: block;
        width: 100px;
        height: 100px;
        object-fit: cover;
        float: left;
    }
</style>