<style>

    @media screen and (orientation: portrait) {
        .post-cover {
            background-image: url('http://res.cloudinary.com/signalkuppe/image/upload/w_1680,c_fill,ar_9:16,f_auto,q_auto,g_center/blog/covers/{{ page.date| date: "%d%m%y" }}');
        }
    }

    @media screen and (orientation: landscape) {
        .post-cover {
            background-image: url('http://res.cloudinary.com/signalkuppe/image/upload/w_1680,c_fill,ar_16:9,f_auto,q_auto,g_center/blog/covers/{{ page.date| date: "%d%m%y" }}');
        }
    }

    .post ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .post-cover-caption,
    .post-cover a {
        color: white;
    }

    /* Cover */
    .post-cover {
        position: relative;
        min-height: calc(100% - 0px);
        width: 100%;
        margin: 0;
        padding: 30px;
        padding: var(--gutter);
        background-repeat: no-repeat;
        background-color: black;
        background-size: cover;
        background-position: left top;
        display: flex;
        flex-direction: column;
        justify-content: space-between;     
    }

    /* overlay */
    .post-cover::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        min-height: calc(100% - 0px);
    }

    .post-cover .menu,
    .post-cover-caption,
    .post-cover [href="#post"]  {
        z-index: 10;
    }

    .post-cover-caption,
    .post-cover [href="#post"] {
        -webkit-align-self: center;
        align-self: center;
    }

    .post-cover-caption {
        font-weight: 900;
        font-size: 3em;
        line-height: 1;
        transition: all .2s ease-in-out;
    }

    .js .post-cover-caption {
        opacity: 0;
    }

    .wf-active .post-cover-caption {
        opacity: 1;
    }

    [href="#post"] {
        text-align: center;
        animation: upDown 2s infinite;
    }

    [href="#post"] svg {
        width: 2em;
        height: 2em;
    }
    
    .post-body {
        max-width: 65ch;
        margin: 4em auto 0 auto;
        padding: 0 30px;
        padding: 0 var(--gutter);
    }

    .post-title h1 {
        font-size: 2.5em;
        margin: 0; 
        line-height: 1;
    }

    .post-date {
        font-weight: 300;
    }

    .post-content {
        margin: 2em 0 4em 0;
    }

    .post-content h2 + p {
        margin-top: 0;
    }

    .post-content h2 {
        font-weight: 700;
        margin: 1.25em 0 .25em 0;
    }

    .post-gallery,
    .post-gallery-loading {
        margin: 7em 0;
    }

    .post-gallery-loading {
        text-align: center;
    }

    .no-js .post-gallery-loading {
        display: none;
    }

    .post-gallery ul {
        margin: 0;
        max-width: 80vw;
        overflow: hidden;
    }

    .post-gallery img {
        display: block;
        transition: transform .2s ease-in-out;
        width: 100px;
        height: 100px;
        object-fit: cover;
        float: left;
    }

    .post-gallery img:hover {
        transform: scale(1.1);
    }

    @media screen and (min-width: 768px) {
        .post-gallery img {
            width: 150px;
            height: 150px;
        }    
    }

    /* bigger gallery outside container */

    @media screen and (min-width: 1680px) {

        .post-body {
            margin-top: 6em;
        }

        .post-gallery {
            width: 100vw;
            position: relative;
            margin-left: -50vw;
            left: 50%;
        }

        .post-gallery ul {
            max-width: 1250px;
            margin: 0 auto;
        }

        .post-gallery img {
            width: 250px;
            height: 250px;
        }       
    }

    /* bigger gallery outside container */

    @media screen and (min-width: 1920px) {

        .post-gallery ul {
            max-width: 1500px;
        }

        .post-gallery img {
            width: 300px;
            height: 300px;
        }       
    }

    .post-utilities ul {
        margin-bottom: 5em;
    }

    .post-utilities li {
        display: inline-block;
        margin-right: 1.5em;
    }

    .post-utilities:last-child {
        margin-right: 0;
        display: none;
    }

    .post-utilities svg {
        margin-right: .25em;
    }

    @media screen and (orientation: landscape) {
        .post-utilities li:last-child {
            display: inline-block;
        }
        .post-cover-caption {
            font-size: 4em;
        }
        .post-title h1 {
            font-size: 3em;
        }
    }

    @media screen and (orientation: landscape) and (min-width: 1680px) {
        .post-cover-caption {
            font-size: 5em;
        }
    }

    @media screen and (orientation: landscape) and (min-width: 1920px) {
        .post-cover-caption {
            font-size: 6em;
        }
    }

    .post-comments {
        margin-bottom: 4em;
    }

    .post-nav {
        padding-bottom: 2em;
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        height: 100px;
        margin-top: 100px;
        left: 50%;
    }

    .post-nav ul {
        display: flex;
        justify-content: space-between;
        margin: 0 30px;
        margin: 0 var(--gutter);
    }

    .post-nav li:first-child svg {
        margin-right: .5em;
    }

    .post-nav li:last-child svg {
        margin-left: .5em;
    }

    @keyframes upDown {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translate(0%, 0);
        }
        40% {
            transform: translate(0%, -30px);
        }
        60% {
            transform: translate(0%, -15px);
        }
    }

</style>