<style>

.home header,
.home main  {
    transition: all .2s ease-in-out;
}

.wf-loading .home header,
.wf-loading .home main  {
        color: white;
}

.home {
    height: calc(100% - 0px);
    width: 100%;
    overflow: hidden;
}

.home .menu  {
    margin: 30px;
    margin: var(--gutter);
}

.home h1 {
    font-family: var(--font-family-text);
    margin: 30px;
    margin: var(--gutter);
    line-height: 1.3;
    font-size: 1.25em;
}

.home h1 .desc {
    font-weight: 300;
}

.home p {
    display: none;
}

.js .home h1,
.js .home p {
    opacity: 0;
    transition: all .2s ease-in-out;
}

.wf-active .home h1,
.wf-active .home p {
    opacity: 1;
}

.home-illustration {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgb(255, 230, 1);
    background: var(--color-primary);
}

.home-illustration svg {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 95%;
}

@media screen and (orientation: portrait) { 
    .home-illustration {
        clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
    }
    .home-illustration svg {
        width: 90%;
    }
}

@media screen and (orientation: landscape) {

    @supports (display: grid) {
        .home {
            display: grid;
            grid-template-rows: min-content min-content auto;
            grid-template-columns: 2fr 1fr;
            grid-template-areas: "svg menu"
                                "svg intro"
                                "svg claim";
            grid-gap: var(--gutter);
            
        }
        
        .home header {
            grid-area: menu;
        }

        .home .menu {
            margin: var(--gutter) var(--gutter) 0 0;
        }

        .home h1 {
            font-size: 1em;
            grid-area: intro;
            margin: 0 var(--gutter) 2em 0;
        }

        .home h1 .name {
            display: block;
            font-size: 3em;
        }

        .home p {
            display: block;
            grid-area: claim;
            margin: 30px 30px 30px 0 0;
            margin: var(--gutter) var(--gutter) var(--gutter) 0 0;
        }

        .home-illustration {
            grid-area: svg;
        }

        .home-illustration svg {
            width: 40vw;
        }
    }
}    
</style>