/*
*
* #post #archive
*
**/

.archive {
	padding: 20px;
}

.archive-years {
	@include clearfix;
	@include vertical-space(2,bottom,margin);
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
	ul {
		li {
			@include inline-block;
			text-align: center;
			@include vertical-space(0.5,bottom,margin);
			margin-right: 5px;
			a {
				@include t-small;
				@include inline-block;
				@include border-radius(50%);
				line-height: 38px;
	            width: 60px;
	            height: 60px;
				text-decoration: none;
				padding: 10px;
				border: 2px solid $color-gray;
				text-align: center;
				color: $color-black;
				&:hover {
					background: $color-primary;
					border: 2px solid $color-primary;
					color: $color-white;
				}
			}
		}
	}
}

.archive-posts-year {
	@include font-headings;
	@include t-large;
	@include vertical-space(1.5,bottom,margin);
	.icon {
		display: none;
		fill: $color-primary;
		width: 24px;
		height: 24px;
	}
	&:target {
		.icon {
			@include inline-block;
		}
	}
}

.archive-post + .archive-posts-year {
	@include vertical-space(4,top,margin);
}

.archive-post {
	@include leader;
	@include vertical-space(1,bottom,padding);
	border-bottom: 1px solid $color-gray-light;
	a {
		color: $color-black;
		text-decoration: none;
	}
}

.archive-post-date {
	font-size: $small-font-size;
	@include date;
	@include vertical-space(0.25,bottom,margin);
}


@media screen and (min-width: $breakpoint-tablet){
	.archive {
		width: 768px;
		margin: 0 auto;
	}
	.archive-years{
		text-align: center;
		@include vertical-space(4,bottom,margin);
		ul {
			@include inline-block-list;
			li {
				margin-right: 10px;
				margin-bottom: 0;
			}
		}
	}
	.archive-post-date,
	.archive-post-title{
		display: inline;
	}
	.archive-post-date {
		margin-right: 10px;
	}
}
