/*
*
* #post #archive
*
**/

.archive {
	padding: 20px;
}

.archive-years {
	@include font-headings;
	@include clearfix;
	text-align: center;
	margin-bottom: $base-line-height*2;
	ul {
		li {
			@include inline-block;
			a {
				@include inline-block;
				@include border-radius(50%);
				width: 50px;
				height: 50px;
				line-height: 48px;
				text-align: center;
				text-decoration: none;
				background: $color-primary;
				color: $color-white;
				border: 2px $color-primary;
				margin-right: 5px;
				&:active {

				}
			}
		}
	}
}

.archive-posts-year {
	@include font-headings;
	@include heading-secondary;
	margin-bottom: $base-line-height*2;
	i {
		display: none;
		color: $color-primary;
	}
	&:target {
		i {
			@include inline-block;
		}
	}
}


.archive-post {
	font-size:0.85rem;
	margin-bottom: $base-line-height;
	padding-bottom:$base-line-height;
	border-bottom: 1px solid $color-gray-light;
	a {
		color: $color-black;
		text-decoration: none;
	}
}

 .archive-post + .archive-posts-year {
	margin-top: $base-line-height*4;
}


.archive-post-date {
	font-size: 0.85rem;
	margin-bottom: 2px;
	color: $color-text-light;
	font-weight:300;
	text-decoration: none!important;
}


@media screen and (min-width:1024px){
	.archive {
		width: 800px;
		margin: 0 auto;
	}
	.archive-years{
		text-align: center;
		margin-bottom: $base-line-height*4;
		ul {
			@include inline-block-list;
			li {
				margin-right: 10px;
				margin-bottom: 0;
			}
		}
	}
	.archive-post {
		font-size:1rem;
	}
	.archive-post-date,
	.archive-post-title{
		display: inline;
	}
	.archive-post-date {
		margin-right: 10px;
	}
}
