/*
*
* #post #archive
*
**/

.archive {
	text-align:center;
	padding: 20px;
}

.archive-posts-year {
	@include font-headings;
	@include heading-primary;
	margin-bottom: $base-line-height*2;
}


.archive-post {
	margin-bottom: $base-line-height;
	padding-bottom:$base-line-height;
	border-bottom: 1px solid $color-gray-light;
	a {
		color: $color-black;
		text-decoration: none;
	}
}

 .archive-post + .archive-posts-year {
	margin-top: $base-line-height*4;
}


.archive-post-date {
	font-size: 0.85rem;
	margin-bottom: 2px;
	color: $color-text-light;
	font-weight:300;
	text-decoration: none!important;
}


@media screen and (min-width:1024px){
	.archive {
		text-align:left;
		width: 800px;
		margin: 0 auto;
	}
	.archive-post-date,
	.archive-post-title{
		display: inline;
	}
	.archive-post-date {
		margin-right: 10px;
	}
}

@media screen and (min-width:1366px){

}

@media screen and (min-width:1920px){

}