/*
*
* #post #archive
*
**/

.archive {
	padding: 20px;
}

.archive-years {
	@include clearfix;
	text-align: center;
	ul {
		@include inline-block-list;
		li {
			a {
				@include button(primary);
			}
		}
	}
}

.archive-posts-year {
	@include font-headings;
	@include t-large;
	@include leader(2);
	i {
		display: none;
		color: $color-primary;
	}
	&:target {
		i {
			@include inline-block;
		}
	}
}


.archive-post {
	@include leader;
	@include padding-trailer(0.5);
	border-bottom: 1px solid $color-gray-light;
	a {
		color: $color-black;
		text-decoration: none;
	}
}

.archive-post-date {
	@include date;
	@include trailer(0.5);
}


@media screen and (min-width: $breakpoint-desktop){
	.archive {
		width: 800px;
		margin: 0 auto;
	}
	.archive-years{
		text-align: center;
		ul {
			@include inline-block-list;
			li {
				margin-right: 10px;
				margin-bottom: 0;
			}
		}
	}
	.archive-post-date,
	.archive-post-title{
		display: inline;
	}
	.archive-post-date {
		margin-right: 10px;
	}
}
