/*
*
* #base #reset
*
*/


@include global-reset;
@include establish-baseline;

* { @include box-sizing (border-box); }

html{
	height:100%;
	width: 100%;
}

html {
	/* killing 300ms touch delay in IE */
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

body {
	@include font-text;
	font-size: $base-font-size;
	line-height: $base-line-height; 
}

::selection {
	background: $color-primary; /* Safari */
	color: $color-white;
}

::-moz-selection {
	background: $color-primary; /* firefox */
	color: $color-white;
}


#{headings(4)} {
	@include font-headings;
	margin: 0;
}

h1 { @include t-xlarge; }
h2 { @include t-large;  }
h3 { @include t-medium; }
h4 { @include t-base;   }


a {
	//link-colors($normal, $hover, $active, $visited, $focus)
	@include link-colors($color-links, $color-links-hover, $color-links-active, $color-links-visited, $color-links-hover);
}

p a:active {
	background: $color-links;
	color: $color-white;
	text-decoration: none;
}

a.container-link {
	@include link-colors(inherit, inherit, inherit, inherit, inherit);
}

// list in content

.post-content ul {

}

img {
	max-width: 100%;
}

strong  { @include t-strong; }
em  	{ @include font-text-italic; }
small   { @include t-small; }

p {
	@include leader;
}
