/*
*
* #base #reset
*
*/


@include global-reset;

* { @include box-sizing (border-box); }

html{
	height:100%;
	width: 100%;
	font-size: 100%;
}

html {
	/* killing 300ms touch delay in IE */
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

body {
	@include font-text;
	@include t-base;
}

::selection {
	background: $color-primary; /* Safari */
	color: $color-white;
}

::-moz-selection {
	background: $color-primary; /* firefox */
	color: $color-white;
}


#{headings(4)} {
	@include font-headings;
	margin: 0;
}

h2 {
	@include t-medium;
}


a {
	//link-colors($normal, $hover, $active, $visited, $focus)
	@include link-colors($color-links, $color-links-hover, $color-links-active, $color-links-visited, $color-links-hover);
}

a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p a:active {
	background: $color-links;
	color: $color-white;
	text-decoration: none;
}

a.container-link {
	@include link-colors(inherit, inherit, inherit, inherit, inherit);
}

// list in content

.post-content ul {
	@include vertical-space(1,both,margin);
	list-style: disc;
	margin-left: $base-font-size*2;
	li {
		@include vertical-space(0.5,bottom,margin);
	}
}

.post-content a {
	@include t-strong;
}

img {
	max-width: 100%;
}

strong  { @include t-strong; }
em  	{ @include font-text-italic; }
small   { @include t-small; }
strong  { color: $color-black;}

p {
	@include t-small;
	@include vertical-space(1,bottom,margin);
	@media screen and (min-width:$breakpoint-tablet){
		@include t-base;
	}
}
