/*
*
* #bottom #navigation
*
**/

.bottom-navigation {
	margin-top: 4rem;
	position: relative;
}

.bottom-navigation h1 {
	@include heading-tertiary;
}

.bottom-navigation-select {
	padding: 10px;
	@media screen and(min-width:1024px){
		display: none;
	}
}

.bottom-navigation select {
	font-family: $font-text;
	font-size: 1rem;
	width: 100%;
}

.bottom-navigation-list {
	font-size: 1rem;
	@include clearfix;
	max-width:51em;
	margin: 0 auto;
	ul {
		@include inline-block-list;
		font-size: 0.8rem;
		text-align: center;
		li {
			span {
				color: $color-black;
				margin-right: 5px;
				font-weight: 600;
			}
			a {
				text-decoration: none;
				color: $color-text;
			}
			&:after {
				content: " | ";
			}
			&:last-child:after {
				content: "";
			}
		}
	}
	h1 {
		text-align: center;
	}
	@media screen and(max-width:1024px){
		display: none;
	}
}

.bottom-navigation-search-toggle {
	font-size: 1.5rem;
	text-align: center;
	i {
		@include border-top-radius(10px);
		color: white;
		background: black;
		padding: 7px 10px;
	}
}

.bottom-navigation-search {
	display: none;
	text-align: center;
	background: black;
	padding: 4rem 0;
	input {
		@include border-radius(20px);
		font-size: 1.25rem;
		border: 1px solid black;
		font-family: $font-text;
		padding: 5px 10px;
		border: none;
		&:focus {
			outline: none;
		}
	}
	button {
		@include border-radius(20px);
		font-size: 1.25rem;
		padding: 5px 8px;
		border: 1px solid #2db155;
		color: white;
		background: #2db155;
		margin-left: 5px;
	}
}

