/*
*
* #cover #image
*
**/

.cover {
   /* inline styles in html */
   position:relative;
   background-repeat: no-repeat;
   background-position: center center fixed; 
   background-size: cover;
   background-color: $color-black;
   height: 100vh;
}

.cover-header,
.cover-caption,
.cover-guide {
   @include hide;
   .is-rendered & {
      @include show;
   }
}

.cover-header {
   @include vertical-space(1,top,padding);
}

.cover-guide,
.loader-text {
   position: absolute;
   bottom: 50%;
   left: 0;
   right: 0;
   text-align: center;
}

.cover-guide {
   @include t-xxlarge;
   margin-bottom: -$xxlarge-font-size/2;
   a {
      color: $color-white;
      @include opacity(0.85);
      text-decoration: none;
      &:hover {
         @include opacity(1); 
      }
   }
}

.loader-text {
   color: $color-white;
   margin-bottom: -3.5rem;
}

.cover-header {
   position: absolute;
   top: 0px;
   left: 0;
   right: 0;
   height: 0;
   text-align: center;
   min-height: 94px;
   background:rgba(0,0,0,0) image-url("menu.png") top left;
   a {
      color: white;
      text-decoration: none;  
   }
}

.cover-header h1,
.cover-header h2, {
   @include reset;
   @include cover-text-shadow;
}

.cover-header h1 {
   @include site-title;
}

.cover-header  h2 {
   @include site-slogan;
}

.cover-header-menu-toggle {
   @include cover-text-shadow;
   font-size: $medium-font-size;
}

.cover-header-menu-wrapper {
   @include transition(all, 1s, linear, 0.5s);
   @include opacity(0);
   @include hide;
   position: absolute;
   top: 150px;
   left: 0;
   right: 0;
   text-align: center; 
   ul {
      display: inline-block;
      background: rgba(0,0,0,0.7);
      padding: 20px 40px;
      li {
         @include vertical-space(0.75,bottom,margin);
         &:last-child {
            margin-bottom: 0;
         }
         a {
            @include t-tiny;
            @include cover-text-shadow;
            display: block;
            text-transform: uppercase;     
         }
      }
   }
   &.is-open {
      @include opacity(1);
      @include show;
   }
}


.cover-caption { 
   position: absolute;
   bottom: $base-line-height;
   left: 0;
   right: 0;
   text-align: center;
   @media screen and (min-width: $breakpoint-desktop-xlarge){
      bottom: $base-line-height * 2;
   }
}

.cover-caption > p {
   @include reset;
   @include font-headings;
   @include t-light;
   display: inline-block;
   text-align: center;
   a {
      @include cover-text-shadow;
   }
}