/*
*
* #cover #image
**/

.cover {
   /* inline styles in html */
   position:relative;
   background-repeat: no-repeat;
   background-position: center center fixed; 
   background-size: cover;
   background-color: $color-black;
   height: 100vh;
}

.cover-header,
.cover-caption,
.cover-guide {
   @include hide;
   .is-rendered & {
      @include show;
   }
}

.cover-header {
   @include vertical-space(1,top,padding);
}

.cover-loader {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.cover-guide {
   position: absolute;
   bottom: 17px;
   right: 20px;
   text-align: center; 
   z-index:1000; 
}

.cover-loader {
   color: white;
   margin-bottom:-65px;
   span {
      font-size: $tiny-font-size;
   }
}

.cover-guide {
   a {   
      .icon {
         transition: 0.25s ease-in;
         fill: white;
         width: 32px;
         height: 32px;
         padding: 6px;
         background: rgba(255,255,255,0.3);
      }
      &:hover{
         .icon {
            //fill: white;
            //background: #ccc;
         }
      }
   }
}

.loader-text {
   @include t-small;
   color: $color-white;
}

.cover-header {
   background-image:linear-gradient(
      $color-black,
      rgba(0,0,0,0.8) 30%,
      rgba(0,0,0,0.1) 85%,
      transparent);
   position: absolute;
   top: 0px;
   left: 0;
   right: 0;
   height: 0;
   text-align: center;
   min-height: 94px;
   a {
      color: white;
      text-decoration: none;  
   }
}

.cover-header h1,
.cover-header h2, {
   @include reset;
   color: white;
   @include cover-text-shadow;
}

.cover-header h1 {
   @include site-title;
}

.cover-header  h2 {
   @include site-slogan;
}

.cover-header-menu-toggle {
   display: inline-block;
   @include vertical-space(0.5,top,padding);
   .icon {
      fill: $color-white;
      width: 24px;
      height:24px;
      stroke:$color-black;
      stroke-width:1px;
      stroke-opacity:0.5;
   }
}

.menu {
   transition: all 0.15s ease-in;
   background: $color-black;
   height: 0;
   &.is-open {
      height: 40px;
   }
}


.menu-wrapper {
   padding: 10px 0px;
   ul {
      text-align: center;
      visibility: hidden;
      .is-open & {
         visibility: visible;
      }
   }
   li {
          display: inline-block;
   }
   a {
      @include t-tiny;
      display: inline-block;
      padding: 10px;
      color: rgba(255,255,255,0.8);
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
         color: $color-white;
      }
      i {
         color: lighten($color-text-light,50%);
      }
   }
   @media screen and (min-width: $breakpoint-tablet){
      a {
         @include t-small;
      }
   }
}


.cover-caption { 
   position: absolute;
   bottom: $base-line-height;
   left: 0;
   right: 0;
   text-align: center;
   @media screen and (min-width: $breakpoint-desktop-xlarge){
      bottom: $base-line-height * 2;
   }
}

.cover-caption > p {
   @include reset;
   @include font-headings;
   font-weight: 400;
   display: inline-block;
   text-align: center;
   font-size: 15px;
   background: rgba(0,0,0,0.8);
   padding: 4px 12px;
   @media screen and (min-width: $breakpoint-desktop){
      font-size: 17px;
   }
   a {
      text-decoration: none;
      color: white;
   }
}

// loader-text
.contener_general
{
  -webkit-animation:animball_two 1s infinite;
  -moz-animation:animball_two 1s infinite;
  -ms-animation:animball_two 1s infinite;
  animation:animball_two 1s infinite;
  width:44px; height:44px;
   text-align: center;
   margin: 8px auto;
}
.contener_mixte
{
  width:44px; height:44px; position:absolute;
}
.ballcolor
{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.ball_1, .ball_2, .ball_3, .ball_4
{
  position: absolute;
  -webkit-animation:animball_one 1s infinite ease;
  -moz-animation:animball_one 1s infinite ease;
  -ms-animation:animball_one 1s infinite ease;
  animation:animball_one 1s infinite ease;
}
.ball_1
{
  background-color:#cb2025;
  top:0; left:0;
}
.ball_2
{
  background-color:#f8b334;
  top:0; left:24px;
}
.ball_3
{
  background-color:#00a096;
  top:24px; left:0;
}
.ball_4
{
  background-color:#97bf0d;
  top:24px; left:24px;
}

@-webkit-keyframes animball_one
{
  0%{ position: absolute;}
  50%{top:12px; left:12px; position: absolute;opacity:0.5;}
  100%{ position: absolute;}
}
@-moz-keyframes animball_one
{
  0%{ position: absolute;}
  50%{top:12px; left:12px; position: absolute;opacity:0.5;}
  100%{ position: absolute;}
}
@-ms-keyframes animball_one
{
  0%{ position: absolute;}
  50%{top:12px; left:12px; position: absolute;opacity:0.5;}
  100%{ position: absolute;}
}
@keyframes animball_one
{
  0%{ position: absolute;}
  50%{top:12px; left:12px; position: absolute;opacity:0.5;}
  100%{ position: absolute;}
}

@-webkit-keyframes animball_two
{
  0%{-webkit-transform:rotate(0deg) scale(1);}
  50%{-webkit-transform:rotate(360deg) scale(1.3);}
  100%{-webkit-transform:rotate(720deg) scale(1);}
}
@-moz-keyframes animball_two
{
  0%{-moz-transform:rotate(0deg) scale(1);}
  50%{-moz-transform:rotate(360deg) scale(1.3);}
  100%{-moz-transform:rotate(720deg) scale(1);}
}
@-ms-keyframes animball_two
{
  0%{-ms-transform:rotate(0deg) scale(1);}
  50%{-ms-transform:rotate(360deg) scale(1.3);}
  100%{-ms-transform:rotate(720deg) scale(1);}
}
@keyframes animball_two
{
  0%{transform:rotate(0deg) scale(1);}
  50%{transform:rotate(360deg) scale(1.3);}
  100%{transform:rotate(720deg) scale(1);}
}