/*
*
* #header #simple
*
**/

.header-simple-menu {
	@include background-image(linear-gradient($color-gray, $color-white));
	.menu-wrapper {
		a {
		  color: $color-text-light;
		  &:hover {
		     color: $color-black;
		  }
		}
	}
	&.is-open {
	  height: 60px;
	}
}

.header-simple-navigation {
	@include vertical-space(1,top,padding);
	.cover-header-menu-toggle {
		.icon {
			fill: $color-text-light!important;
		 }
	}
}

.header-simple {
	@include vertical-space(0.5,bottom,margin);
	text-align: center;
	h1,h2 {
		@include reset;
	}
	h1 {
		@include site-title;
	}
	h2 {
		@include site-slogan;
	}
	a {
		text-decoration: none;
		color: $color-black;
		text-shadow: none;
	}
}