/*
*
* #header #simple
*
**/


.header-simple {
	@include vertical-space(1,top,padding);
	@include vertical-space(1,bottom,margin);
	text-align: center;
	h1,h2 {
		@include reset;
		.black & {
			color:$color-white!important;
		}
	}
	h1 {
		@include site-title;
	}
	h2 {
		@include site-slogan;
	}
	a {
		text-decoration: none;
	}
}


@media screen and (min-width: $breakpoint-desktop) {
	.header-simple {
		@include vertical-space(2,bottom,margin);
	}
}