/*
*
* #header #simple
*
**/


.header-simple {
	margin-bottom: $base-line-height;
	text-align: center;
	h1,h2 {
		@include reset;
	}
	h1 {
		@include site-title;
	}
	h2 {
		@include site-slogan;
	}
	a {
		text-decoration: none;
	}
}

.header-simple-menu {
	margin-top: $base-line-height;
	ul {
		@include inline-block-list(10px);
		li {
			a {
				text-transform: uppercase;
				color: $color-black;
			}
		}
	}
}

@media screen and (min-width:1024px) {
	.header-simple {
		margin-bottom: $base-line-height*2;
	}
}