@font-face {
	font-family: 'icomoon';
	src:font-url('icomoon.eot');
	src:font-url('icomoon.eot?#iefix') format('embedded-opentype'),
		font-url('icomoon.ttf') format('truetype'),
		font-url('icomoon.woff') format('woff'),
		font-url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin useIcon () {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
	content: "\e60e";
}
.icon-camera:before {
	content: "\e611";
}
.icon-envelope:before {
	content: "\e606";
}
.icon-print:before {
	content: "\e605";
}
.icon-box-add:before {
	content: "\e614";
}
.icon-download:before {
	content: "\e613";
}
.icon-disk:before {
	content: "\e615";
}
.icon-menu:before {
	content: "\e604";
}
.icon-earth:before {
	content: "\e603";
}
.icon-eye-blocked:before {
	content: "\e612";
}
.icon-bookmark:before {
	content: "\e619";
}
.icon-bookmarks:before {
	content: "\e61a";
}
.icon-sad:before {
	content: "\e616";
}
.icon-close:before {
	content: "\e60a";
}
.icon-arrow-up:before {
	content: "\e60b";
}
.icon-arrow-right:before {
	content: "\e607";
}
.icon-arrow-left:before {
	content: "\e608";
}
.icon-arrow-down:before {
	content: "\e610";
}
.icon-google-plus:before {
	content: "\e601";
}
.icon-facebook:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e600";
}
.icon-github:before {
	content: "\e609";
}
.icon-github2:before {
	content: "\e60c";
}
.icon-pinterest:before {
	content: "\e60d";
}
