/*
*
* #meteo
*
**/

.meteo {
	color:$color-black;
	padding: 20px;
	max-width: 450px;
	margin: 0 auto;
	text-align: center;
	h1 {
		color:$color-gray;
		@include font-text;
		@include t-big;
		@include vertical-space(1,bottom,margin);
	}
	.meteo-unit {
		@include t-light;
		color:$color-text-light;
	}
}

.meteo-description,
.meteo-update {
	@include t-small;
	@include t-light;
	color:$color-text-light;
	strong {
		color: $color-black;
	}
}

.meteo-description {
	@include vertical-space(0.15,bottom,margin);
}

.meteo-update {
	@include vertical-space(1.5,bottom,margin);
}

.meteo-rain {
	@include vertical-space(2,bottom,margin);
}

.meteo-current-temperature,
.meteo-current-umidity,
.meteo-current-wind,
.meteo-current-pressure,
.meteo-rain-rate,
.meteo-rain-daily {
	@include vertical-space(0.25,bottom,margin);
	text-align: center;
	@include font-headings;
	@include t-xlarge;
	font-weight: 700;
	margin-right: 15px;
	&:last-child {
		margin-right: 0;
	}
	.meteo-current-wind-dir {
		@include t-base;
		@include t-light;
	}
}


.meteo-extremes {
	h1 {
		@include t-big;
		@include t-light;
		@include vertical-space(1,bottom,margin);
		@include vertical-space(2,top,margin);
	}
	table {
		width: 160px;
		margin: 0 auto;
		td {
			padding-bottom: 10px;
			@include t-strong;
			color:$color-black;
		}
		td.meteo-extremes-param {
			padding-right: 10px;
			@include t-light;
		}
	}
}

.meteo-graphs{
	@include vertical-space(3,top,margin);
	@include vertical-space(4,bottom,padding);
	img {
		@include vertical-space(0.5,bottom,margin);
	}
	a {
		@include t-small;
		color: $color-black;
		text-decoration: none;
		i {
			@include t-xxlarge;
			display: block;
			@include vertical-space(0.25,bottom,margin);
		}
	}
}
