/*
*
* #404 #notfound
*
**/

.page404 {
	text-align: center;
	padding: 20px;
}

.page404-title {
	@include trailer;
	font-size: 5rem;
}

.page404-icon {
	@include trailer(2);
	font-size: 5rem;
}

.page404-text{
	@include t-small;
}