/*
*
* #404 #notfound
*
**/

.page404 {
	text-align: center;
	padding: 20px;
}

.page404-title {
	font-size: 5rem;
	margin-bottom: 1rem;
}

.page404-icon {
	font-size: 5rem;
	margin-bottom: 2rem;
}

.page404-text{
	font-size:0.85rem;
}