/*
*
* #post #navigation
*
**/


.post-navigation {
	background: $color-gray-light;
	@include float-left;
	width: 100%;
	padding: 10px;
	@media screen and (min-width: $breakpoint-desktop){
		padding: 60px 20px;
	}
}

%post-navigation-item {
	width: 50%;
	@media screen and (min-width: $breakpoint-desktop){
		height: 100px;
		min-width: 350px;
		display: block;
	}
	@media screen and (min-width: $breakpoint-desktop-large){
		min-width: 580px;
	}
}

%post-navigation-visible-large {
	display: none;
	@media screen and (min-width: $breakpoint-desktop){
		display: block;
	}
}

.post-navigation-prev,
.post-navigation-next {
	@extend %post-navigation-item;
}

.post-navigation-image,
.post-navigation-info {
	@extend %post-navigation-visible-large;
}

.post-navigation-prev {
	@include float-left;
}

.post-navigation-next {
	@include float-right;
	text-align: right;
	width: 50%;
}

.post-navigation-image,
.post-navigation-info,
.post-navigation-icon {
	.post-navigation-prev & {
		float: left;
	}
	.post-navigation-next & {
		float: right;
	}
}

.post-navigation-icon {
	line-height:120px;
	.post-navigation-prev & {
		margin-right: 10px;
	}
	.post-navigation-next & {
		margin-left: 10px;
	}
	.icon {
		@include border-radius(50%);
		@include button-icon(default-inverse);
		padding: 5px;
		width: 24px;
		height: 24px;
		@media screen and (min-width: $breakpoint-tablet-small){
			width: 32px;
			height: 32px;
		}
	}
	span {
		@include t-small;
		position: relative;
		bottom: 10px;
		.post-navigation-prev & {
			margin-left: 5px;
		}
		.post-navigation-next & {
			margin-right: 5px;
		}
		@media screen and (min-width: $breakpoint-tablet-small){
			@include t-regular;
			.post-navigation-prev & {
				margin-left: 10px;
			}
			.post-navigation-next & {
				margin-right: 10px;
			}
		}
		@media screen and (min-width: $breakpoint-desktop){
			display: none;
		}
	}
}

.post-navigation-image {
	height: 120px;
	.post-navigation-prev & {
		margin-right: 10px
	}
	.post-navigation-next & {
		margin-left: 10px;
	}
	@include border-radius(50%);
	img {
		@include border-radius(50%);
		border: 6px solid $color-white;
		max-height: 100%;
		display: block;
	}
}

.post-navigation-info {
	padding-top: 30px;
	.post-navigation-info-title {
		@include truncate(250px);
		margin: 0;
		@media screen and (min-width: $breakpoint-desktop-large){
			@include truncate(420px);
			@include t-medium;
		}
	}
	.post-navigation-info-date {
		@include t-tiny;
		@include date;
		@include vertical-space(0.25,bottom,margin);
		-webkit-text-stroke: 0.35px;
		@media screen and (min-width: $breakpoint-desktop-large){
			@include vertical-space(0.1,bottom,margin);
			@include t-small;
		}
	}
}
