/*
*
* #post #blog
*
**/

.post p {
	@include csshyphenation;
}

.post-header {
	margin-bottom: 2rem;
	@media screen and(min-width:768px){
		margin-bottom: 4rem;
	}
}

.post-title {
	margin-bottom: 1rem;
	text-align: center;
}

.post-date {
	display: block;
	text-align: center;
	font-size: 0.85rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.post-footer {
	margin: 4rem auto;
}

.post-icon {
	@include float-left;
	width: 50%;
	text-align: center;
	.post-icon-content {
		margin: 0 auto;
		i {
			font-size: 3rem;
		}
	}
}

.post-print-thanks {
	display: none;
	margin-top: 40px;
	padding: 10px;
	border: 1px solid black;
}
