/*
*
* #post #navigation
*
**/


.post-navigation {
	background: $color-gray-light;
	@include float-left;
	width: 100%;
	padding: 1rem 1rem;
	@media screen and (min-width:1366px){
		padding: 4rem 1rem;
	}
}

%post-navigation-item {
	@media screen and (min-width:1366px){
		height: 100px;
		min-width: 600px;
		display: block;
	}
}

%post-navigation-visible-large {
	display: none;
	@media screen and (min-width:1366px){
		display: block;
	}
}

.post-navigation-prev,
.post-navigation-next {
	@extend %post-navigation-item;
}

.post-navigation-image,
.post-navigation-info {
	@extend %post-navigation-visible-large;
}

.post-navigation-prev {
	@include float-left;
}

.post-navigation-next {
	@include float-right;
	text-align: right;
}

.post-navigation-image,
.post-navigation-info,
.post-navigation-icon {
	.post-navigation-prev & {
		float: left;
	}
	.post-navigation-next & {
		float: right;
	}
}

.post-navigation-icon {
	line-height:120px;
	.post-navigation-prev & {
		margin-right: 1.5rem;
	}
	.post-navigation-next & {
		margin-left: 1.5rem;
	}
	i {
		@include border-radius(50%);
		font-size: 1.5rem;
		padding: 5px;
		background: black;
		color: white;
		@media screen and (min-width:600px){
			font-size: 2rem;
			padding: 10px;
		}
	}
	span {
		position: relative;
		bottom: 5px;
		font-size: 0.85rem;
		.post-navigation-prev & {
			margin-left: 0.25rem;
		}
		.post-navigation-next & {
			margin-right: 0.25rem;
		}
		@media screen and (min-width:600px){
			font-size: 1rem;
			.post-navigation-prev & {
				margin-left: 1rem;
			}
			.post-navigation-next & {
				margin-right: 1rem;
			}
		}
		@media screen and (min-width:1366px){
			display: none;
		}
	}
}

.post-navigation-image {
	height: 120px;
	.post-navigation-prev & {
		margin-right: 1.5rem;
	}
	.post-navigation-next & {
		margin-left: 1.5rem;
	}
	@include border-radius(50%);
	img {
		@include border-radius(50%);
		border: 6px solid $color-white;
		max-height: 100%;
		display: block;
	}
}

.post-navigation-info {
	padding-top: 25px;
	.post-navigation-info-title {
		@include truncate(450px);
		margin: 0;
		font-size: 1.5rem;
	}
	.post-navigation-info-date {
		@include date;
		margin-bottom: 0;
	}
}
