/*
*
* #post #blog
*
**/

.post p {
	@include csshyphenation;
}

.post-header {
	margin-bottom: 2rem;
	@media screen and(min-width:768px){
		margin-bottom: 4rem;
	}
}

.post-title {
	margin-bottom: 2rem;
	text-align: center;
}

.post-date {
	display: block;
	text-align: center;
	font-size: 0.85rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.post-footer {
	margin: 4rem auto;
}

.post-downloads-download {
	@include float-left;
	width: 100%;
	text-align: center;
	.post-downloads-download-icon {
		margin: 0 auto;
		a {
			text-decoration: none;
			color: $color-text;
			&:hover {
				color: $color-links-hover;
			}
		}
		i {
			font-size: 3rem;
		}
	}
	.post-downloads--withgps & {
		width: 50%;
	}
}

.post-print-thanks {
	display: none;
	margin-top: 40px;
	padding: 10px;
	border: 1px solid black;
}
