/*
*
* #print #media
*
**/

@media print {


	body, html {
		background: none;
		color: black;
	}
	.post-content p { 
		font-size: 7pt!important;
		font-family:verdana, arial, sans-serif;
	}
	strong {
		color: black;
	}

	.cover,
	.post-navigation,
	.post-print,
	.post-gallery,
	.post-utilities,
	.post-disqus,
	.post-footer {
		display: none;
	}

	.post-print-thanks {
		display: block;
	}
	h1.post-title{
		font-size: 14pt!important;
		font-weight: bold;
		font-family:verdana, arial, sans-serif;
	}
	h2 {
		font-size: 10pt!important;
		font-weight: bold;
		font-family:verdana, arial, sans-serif;		
	}
	.post-title,
	.post-date,
	.post-content {
		margin-bottom: 20px;
	}

	.content,.container {
		width: 100%;
		margin: 0 auto; padding: 0;
		background: none;
		max-width: 95%;
	}
}
