/*
*
* #scroll #up #link
*
*/


#scrollUp {
    width: 32px;
    height: 32px;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    text-align: center;
    background: rgba($color-gray-dark,0.8);
    .icon {
    	padding: 6px;
    	width: 32px;
    	height: 32px;
    	vertical-align: middle;
		fill: $color-white;
    }
}