/*
*
* #scroll #up #link
*
*/


#scrollUp {
	@include useIcon;
	@include border-radius(50%);
    @extend .icon-arrow-up;
    bottom: 20px;
    right: 20px;
    font-size: 1.25rem;
    padding: 5px;
    text-decoration: none;
    background: rgba($color-gray-dark,0.8);
    color: $color-white;
}