/*
*
* #settings
*
*/


$legacy-support-for-ie: false;

// colors
$color-primary: #066ca6;
$color-black: #000000;
$color-gray: #ccc;
$color-gray-light: #eee;
$color-gray-dark: #666;
$color-white: #FFFFFF;
$color-site-background: $color-white;
$color-background: #EBEBEB;
$color-button-background: #222;
$color-button: #fff;
$color-text: #373737;
$color-text-light: lighten($color-text,20%);
$color-headings: $color-black;
$color-links: $color-primary;
$color-links-hover: darken($color-links,10%);
$color-links-active: darken($color-links,20%);
$color-links-focus: darken($color-links,20%);
$color-links-visited: $color-links;

// typo


@import url("http://fonts.googleapis.com/css?family=Oswald:400,700,300|Open+Sans:400italic,400,300,600,700");
$font-dir: "../fonts";
$font-headings: 'Oswald', sans-serif;
$font-text: 'Open Sans', sans-serif;

$rem-unit: 16px;
$base-line-height: 24px;

$tiny-font-size: 10px;
$tiny-font-leading: 1;
$small-font-size: 13px;
$small-font-leading: 1.5;
$base-font-size: $rem-unit;
$base-font-leading: 1.5;
$medium-font-size: 20px;
$medium-font-leading: 1.5;
$big-font-size: 24px;
$big-font-leading: 1.5;
$large-font-size: 32px;
$large-font-leading: 1.4;
$xlarge-font-size: 42px;
$xlarge-font-leading: 1.5;
$xxlarge-font-size: 56px;
$xxlarge-font-leading: 1;
$xxxlarge-font-size: 64px;
$xxxlarge-font-leading: 1;

$menu-button-font-size: 24px;

@mixin set-font-size-to($size){
	font-size: $size/$rem-unit+rem;
}

@mixin set-leading-to($size){
	line-height: $size;
}

@function set-space($size){
	@return $size*$base-line-height/$rem-unit+rem
}

@mixin vertical-space($size,$direction,$type){
	@if $type == "padding" {
		@if $direction == "top" {
			padding-top:set-space($size); 
		}
		@if $direction == "bottom" {
			padding-bottom:set-space($size); 
		}
		@if $direction == "both" {
			padding-top:set-space($size);
			padding-bottom:set-space($size) 
		}
	}
	@if $type == "margin" {
		@if $direction == "top" {
			margin-top:set-space($size); 
		}
		@if $direction == "bottom" {
			margin-bottom:set-space($size); 
		}
		@if $direction == "both" {
			margin-top:set-space($size); 
			margin-bottom:set-space($size); 
		}
	}
}

@mixin typeSize($size) {
	@if $size == "tiny" {
		@include set-font-size-to($tiny-font-size);
		@include set-leading-to($tiny-font-leading);
	}
	@if $size == "small" {
		@include set-font-size-to($small-font-size);
		@include set-leading-to($small-font-leading);
	}
	@if $size == "base" {
		@include set-font-size-to($base-font-size);
		@include set-leading-to($base-font-leading);
	}
	@if $size == "medium" {
		@include set-font-size-to($medium-font-size);
		@include set-leading-to($medium-font-leading);
	}
	@if $size == "big" {
		@include set-font-size-to($big-font-size);
		@include set-leading-to($big-font-leading);
	}
	@if $size == "large" {
		@include set-font-size-to($large-font-size);
		@include set-leading-to($large-font-leading);
	}
	@if $size == "xlarge" {
		@include set-font-size-to($xlarge-font-size);
		@include set-leading-to($xlarge-font-leading);
	}
	@if $size == "xxlarge" {
		@include set-font-size-to($xxlarge-font-size);
		@include set-leading-to($xxlarge-font-leading);
	}
	@if $size == "xxxlarge" {
		@include set-font-size-to($xxxlarge-font-size);
		@include set-leading-to($xxxlarge-font-leading);
	}
}

// Type weights
@mixin t-ultrastrong 	{ font-weight: 700; }
@mixin t-strong 		{ font-weight: 600; }
@mixin t-regular 		{ font-weight: 400; }
@mixin t-light 			{ font-weight: 300; }

// Type size
@mixin t-tiny     { @include typeSize(tiny);  }
@mixin t-small    { @include typeSize(small); }
@mixin t-base     { @include typeSize(base);  }
@mixin t-medium   { @include typeSize(medium);}
@mixin t-big      { @include typeSize(big);}
@mixin t-large    { @include typeSize(large); }
@mixin t-xlarge   { @include typeSize(xlarge);}
@mixin t-xxlarge  { @include typeSize(xxlarge);}
@mixin t-xxxlarge { @include typeSize(xxxlarge);}

// container

$container-width: 46em;

// breakpoints

$breakpoint-tablet-small:       600px;
$breakpoint-tablet:             768px;
$breakpoint-desktop:            1024px;
$breakpoint-desktop-large:      1366px;
$breakpoint-desktop-xlarge:     1920px;
$breakpoint-desktop-xxlarge:    2560px;


// mixins
@mixin reset (){
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: normal;
}

@mixin hide-text() {
	text-indent: -5000px;
	font-size: 0px;
}

@mixin font-headings () {
	@include t-regular;
	font-family: $font-headings;
	color: $color-headings;
}

@mixin font-text () {
	@include t-base;
	font-family: $font-text;
	color: $color-text;
}

@mixin font-text-italic () {
	font-weight: 400;
	font-style: italic;
}

@mixin csshyphenation () {
	-webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto
}

@mixin hide () {
	visibility: hidden;
}

@mixin show () {
	visibility: visible;
}

@mixin cover-text-shadow () {
	color: rgba(255,255,255,1);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	text-decoration: none;
}

@mixin date () {
	color: $color-text-light;
	@include t-light;
	display: block;
	text-transform: uppercase;
}

@mixin truncate ($width) {
	width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin container () {
	max-width: $container-width;
	margin: 0 auto;
	padding: 0 1rem;
}

@mixin clear {
	 // For modern browsers
	  &:before,
	  &:after {
	    content:" ";
	    display:table;
	  }

	  &:after {
	    clear:both;
	  }

	  // For IE 6/7 (trigger hasLayout)
	  & {
	    *zoom:1;
	  }
}

@mixin destroy_container () {
	max-width: none;
	margin: 0;
	padding: 0;
}

@mixin site-title () {
	@include t-big;
	@include vertical-space(0.25,bottom,margin);
	text-transform: uppercase;
}

@mixin site-slogan (){
   @include t-small;
   @include t-light;
}

@mixin filter( $var ){
	-webkit-filter: $var;
	-moz-filter: $var;
	-ms-filter: $var;
	-o-filter: $var;
	filter: $var;
}

// buttons

@mixin button ($type, $size:default){
	@include inline-block;
	@include border-radius;
	text-decoration: none;
	border: 2px solid;
	line-height: 20px;
	@if $size == "default" {
		padding: 10px;
		@include t-base;		
	}
	@if $size == "small" {
		padding: 5px;
		@include t-small;		
	}
	@if $size == "tiny" {
		padding: 3px;
		@include t-tiny;		
	}
	@if $type == "primary" {
		border-color: $color-primary;
		color: $color-primary;
		.icon {
			fill: $color-primary;
			vertical-align: top;
		}
		&:hover {
			background: $color-primary;
			color: $color-white;
			.icon {
				fill: $color-white;
			}
		}
	}
	@if $type == "default" {
		border-color: $color-text;
		color: $color-text;
		.icon {
			fill: $color-text;
			vertical-align: middle;
		}
		&:hover {
			background: $color-text;
			color: $color-white;
			.icon {
				fill: $color-white;
			}
		}
	}
	@if $type == "w" {
		border-color: $color-white;
		color: $color-white;
		.icon {
			fill: $color-white;
			vertical-align: top;
		}
		&:hover {
			background: rgba(0,0,0,0.7);
			color: $color-white;
			.icon {
				fill: $color-white;
			}
		}
	}
	.icon {
		width: 20px;
		height: 20px;
		margin-right: 5px;
		@if $size == "small" {
			width: 16px;
			height: 16px;		
		}		
	}
}

// icon button

@mixin button-icon ($type) {
	width: 48px;
	height: 48px;
	@if $type == "primary" {
		color: $color-links;
	}
	@if $type == "default"{
		color: $color-text;
	}
	@if $type == "primary-inverse"{
		fill: $color-primary;
		color: $color-white;
	}
	@if $type == "default-inverse"{
		background: $color-text;
		fill: $color-white;
	}		
}

