
// Imports

@import "compass";
@import "settings";
@import "base";
@import "photoswipe";
@import "icons";
@import "buttons";
@import "top-anchor";
@import "cover";
@import "post";
@import "bottom-navigation";
@import "print";


.container {
	margin: 2rem auto;
	max-width: 51em;
	padding: 0 1rem;
	@media screen and(min-width:768px){
		margin: 6rem auto;
		padding: 0 2rem;
	}
	@media screen and(min-width:1920px){
		margin: 8rem auto;
		max-width: 64em;
	}
}

.footer {
	margin-top: 4rem;
}