@font-face{font-family:'mauerbutlerstencil';font-weight:800;font-style:normal;font-display:swap;src:url('/fonts/ButlerStencil-ExtraBold.woff2') format('woff2');}/*!sc*/
:root{--color-primary:#b02626;--color-text:#282828;--font-size-xx-small:0.5rem;--font-size-x-small:0.75rem;--font-size--small:0.85rem;--font-size--base:1rem;--font-size--large:1.5rem;--font-size--x-large:2rem;--font-size--xx-large:3rem;--font-size--xxx-large:4rem;--space-unit:1.5rem;--container-width:1388px;font-size:112.5%;}/*!sc*/
main{display:block;}/*!sc*/
h1{font-size:2em;margin:0.67em 0;}/*!sc*/
hr{box-sizing:content-box;height:0;overflow:visible;border-style:solid;border-color:#eee;border-width:1px;}/*!sc*/
pre{font-family:monospace,monospace;font-size:1em;}/*!sc*/
a{background-color:transparent;color:var(--color-primary);-webkit-text-decoration:none;text-decoration:none;}/*!sc*/
abbr[title]{border-bottom:none;-webkit-text-decoration:underline;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted;}/*!sc*/
b,strong{font-weight:bolder;}/*!sc*/
code,kbd,samp{font-family:monospace,monospace;font-size:1em;}/*!sc*/
small{font-size:80%;}/*!sc*/
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}/*!sc*/
sub{bottom:-0.25em;}/*!sc*/
sup{top:-0.5em;}/*!sc*/
img{border-style:none;max-width:100%;height:auto;}/*!sc*/
figure{margin:0;}/*!sc*/
figcaption{font-style:italic;}/*!sc*/
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0;}/*!sc*/
button,input{overflow:visible;}/*!sc*/
button,select{text-transform:none;}/*!sc*/
button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;}/*!sc*/
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}/*!sc*/
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}/*!sc*/
fieldset{padding:0.35em 0.75em 0.625em;}/*!sc*/
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}/*!sc*/
progress{vertical-align:baseline;}/*!sc*/
textarea{overflow:auto;}/*!sc*/
[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0;}/*!sc*/
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;}/*!sc*/
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}/*!sc*/
[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}/*!sc*/
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}/*!sc*/
details{display:block;}/*!sc*/
summary{display:list-item;}/*!sc*/
template{display:none;}/*!sc*/
[hidden]{display:none;}/*!sc*/
*{box-sizing:border-box;}/*!sc*/
html{line-height:1.15;-webkit-text-size-adjust:100%;}/*!sc*/
body{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";line-height:1.4;color:var(--color-text);text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;margin:0;}/*!sc*/
data-styled.g541[id="sc-global-gbIIuz1"]{content:"sc-global-gbIIuz1,"}/*!sc*/
.fbmTui{margin:0;padding:0;list-style:none;}/*!sc*/
.iQdIGl{margin:0;padding:0;list-style:none;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}/*!sc*/
.iQdIGl > * + *{margin-left:calc(var(--space-unit) * 0.35);}/*!sc*/
.kUXcxy{margin:0;padding:0;list-style:none;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}/*!sc*/
data-styled.g1027[id="sc-douKX"]{content:"fbmTui,iQdIGl,kUXcxy,"}/*!sc*/
.eLSARu{font-size:inherit;margin-right:0px;margin-left:0px;color:inherit;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;vertical-align:inherit;}/*!sc*/
.eLSARu svg{display:inline-block;font-size:inherit;width:1em;height:1em;overflow:visible;}/*!sc*/
data-styled.g1029[id="sc-dElnkR"]{content:"eLSARu,"}/*!sc*/
@media screen and (min-width:1388px){.efDmcV{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}}/*!sc*/
data-styled.g1030[id="sc-cnQiiK"]{content:"efDmcV,"}/*!sc*/
@media screen and (min-width:1388px){.eejRoN{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}}/*!sc*/
data-styled.g1031[id="sc-kvAURP"]{content:"eejRoN,"}/*!sc*/
.krcRC{margin:0;line-height:1;-webkit-transform:translateY(0.5rem);-ms-transform:translateY(0.5rem);transform:translateY(0.5rem);}/*!sc*/
@media screen and (min-width:1388px){.krcRC{margin-right:var(--space-unit);width:8rem;}}/*!sc*/
data-styled.g1032[id="sc-fONaIE"]{content:"krcRC,"}/*!sc*/
@media screen and (min-width:1388px){.cRcKoD{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}}/*!sc*/
data-styled.g1033[id="sc-cHcdSN"]{content:"cRcKoD,"}/*!sc*/
@media screen and (min-width:1388px){.fxQcpp{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}.fxQcpp:not(:last-child)::after{display:block;content:'';width:1.85em;height:1px;background:var(--color-primary);}}/*!sc*/
data-styled.g1034[id="sc-ffrKlm"]{content:"fxQcpp,"}/*!sc*/
@media screen and (min-width:1388px){.eIQVUX{font-size:var(--font-size-x-small);font-weight:700;color:var(--color-text);text-transform:uppercase;padding:0.85em 1.25em;}.eIQVUX:hover{color:var(--color-primary);}}/*!sc*/
@media screen and (min-width:1388px){.fLrMZb{font-size:var(--font-size-x-small);font-weight:700;color:var(--color-text);text-transform:uppercase;padding:0.85em 1.25em;color:var(--color-primary);}.fLrMZb:hover{color:var(--color-primary);}}/*!sc*/
data-styled.g1035[id="sc-bXGNvv"]{content:"eIQVUX,fLrMZb,"}/*!sc*/
@media screen and (min-width:1388px){.coOxyj{color:var(--color-text);display:block;line-height:1;}}/*!sc*/
data-styled.g1036[id="sc-gJUIbn"]{content:"coOxyj,"}/*!sc*/
.bgkwr{padding:1.5em;max-width:var(--container-width);margin:0 auto;}/*!sc*/
data-styled.g1037[id="sc-dMCwnC"]{content:"bgkwr,"}/*!sc*/
.fnjTjP{margin:0;}/*!sc*/
.fnjTjP img{width:100%;height:auto;display:block;object-fit:cover;}/*!sc*/
.fnjTjP figcaption{font-style:normal;font-size:5rem;font-weight:800;-webkit-transform:translateY(50%);-ms-transform:translateY(50%);transform:translateY(50%);font-family:'mauerbutlerstencil';}/*!sc*/
data-styled.g1038[id="sc-gxwxAR"]{content:"fnjTjP,"}/*!sc*/
