---
import { siteTitle, defaultOgImage } from "../constants";
import { headPageTitle } from "../lib/utils";
import Layout from "../layouts/Layout.astro";
---

---

<Layout
  title={headPageTitle("Pagina non trovata", siteTitle)}
  description=""
  ogImage={defaultOgImage}
>
  <h1>Pagina non trovata 🥲</h1>
</Layout>
