---
import { getImage } from "astro:assets";
import { getCollection, render } from "astro:content";
import { headPageTitle } from "../lib/utils";
import { siteTitle } from "../constants";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

  const pages = posts.map((post, i) => ({
    params: { post: post.id },
    props: {
      post,
      prev: posts[i - 1],
      next: posts[i + 1],
    },
  }));
  return pages;
}

interface Props {
  post: any;
  prev: any;
  next: any;
}

const { post, prev, next } = Astro.props;
const { Content } = await render(post);
const postGpxTrack = post.data.gpxTracks?.[0];
const postSlug = post.id;
const prevSlug = prev ? prev.id : "";
const nextSlug = next ? next.id : "";

const ogImg = await getImage({
  src: post.data.cover.src,
  width: 1200,
  format: "jpg",
  quality: 75,
});
---

<Layout
  title={headPageTitle(post.data.title, siteTitle)}
  description={post.data.description}
  ogImage={ogImg.src}
>
  <h1>{post.data.title}</h1>
</Layout>
