---
import { siteTitle, defaultOgImage } from "../constants";
import { headPageTitle } from "../lib/utils";
import LabelledInput from "../components/LabelledInput.astro";
import PageTitle from "../components/PageTitle.astro";
import Layout from "../layouts/Layout.astro";
const description = "Scrivimi per parlare di un vostro progetto o di montagna";
---

<Layout
  title={headPageTitle("Contatti", siteTitle)}
  description={description}
  ogImage={defaultOgImage}
>
  <div class="cage">
    <PageTitle subTitle={description}> Inviami un messaggio </PageTitle>

    <form
      action="/grazie"
      name="contact"
      method="POST"
      autocomplete="off"
      data-netlify="true"
      netlify-honeypot="bot-field"
    >
      <label class="visually-hidden">
        Non compilarlo se sei umano: <input name="bot-field" />
      </label>

      <div>
        <LabelledInput>
          <label for="email" slot="label">Email</label>
          <input
            id="email"
            required
            name="email"
            type="email"
            autocapitalize="off"
            placeholder="es: info@miaemail.it"
            slot="input"
          />
        </LabelledInput>
      </div>
      <div>
        <LabelledInput>
          <label for="message" slot="label">Messaggio</label>
          <textarea
            required
            id="message"
            name="message"
            spellcheck="false"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            rows="5"
            cols="50"
            slot="input"></textarea>
        </LabelledInput>
      </div>
      <div>
        <label>
          <input type="checkbox" required name="policy" />
          Ho letto la <a href="/privacy">la privacy policy</a>
        </label>
      </div>
      <button type="submit" class="btn">Invia il messaggio</button>
    </form>
  </div>
</Layout>

<style media="screen">
  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 50ch;
  }

  label {
    display: block;
  }

  form input[type="text"],
  form textarea {
    display: block;
    width: 100%;
  }

  button {
    align-self: flex-start;
  }

  input[type="checkbox"] {
    background: var(--surfaceAccent);
    border: 1px solid var(--text);
    display: inline-block;
    width: 1rem;
    height: 1rem;
    transform: translateY(0.1rem);
    margin-right: 0.5rem;
    appearance: none; /* Rimuove lo stile nativo */
  }
  input[type="checkbox"]:checked {
    appearance: checkbox;
  }

  label:has(input[type="checkbox"]) {
    font-size: 0.85rem;
  }
</style>
