---
import { Image } from "astro:assets";
import home1 from "../images/home1.png";
import home2 from "../images/home2.png";
import home3 from "../images/home3.png";
import home4 from "../images/home4.png";
import Layout from "../layouts/Layout.astro";
const images = [
  {
    src: home3,
    alt: "Notte in tenda alla Svalbard",
  },
  {
    src: home1,
    alt: "Sulla cima del Rosso di Ribbia",
  },
  {
    src: home2,
    alt: "In cima al Piz Lagrev",
  },
  {
    src: home4,
    alt: "Al traguarrdo della Lavredo Ultra Trail",
  },
];
---

<Layout title="Pagina iniziale - Signalkuppe" description="test">
  <h1>Piacere, Matteo.<br /> Benvenuto nel mio blog.</h1>

  <p class="lead">
    Sono un appassionato di montagna. <br />Questo sito vuole essere un <a
      href="/blog">diario di tutte le mie uscite,</a
    > spero possa esservi utile per scoprire nuovi itinerari. Vivo a Concenedo, dove
    ho posizionato una stazione meteo, in
    <a href="/meteo-concenedo">questa pagina</a> trovate i dati in diretta.
  </p>
  <p class="button-wrapper">
    <a href="/matteo" class="btn">Qualcosa in più su di me</a>
  </p>
  <aside class="hide-scrollbars">
    {
      images.map((image, i) => (
        <Image
          src={image.src}
          alt={image.alt}
          width="350"
          height="567"
          loading={i === 0 ? "eager" : "lazy"}
        />
      ))
    }
  </aside>
</Layout>

<style>
  .lead {
    text-wrap: pretty;
    max-width: 50ch;
  }
  aside {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;
    margin-top: 5rem;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  aside img {
    height: 100%;
    display: block;
    scroll-snap-align: center;
    background: var(--contrastBackground);
    aspect-ratio: 350/567;
    flex-shrink: 0;
  }

  .button-wrapper {
    margin-top: 3rem;
  }
</style>
