---
import { Settings } from 'astro-feather-icons'
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Button from '../components/Button.astro'
import PageAction from '../components/PageAction.astro'
import SrOnly from '../components/SrOnly.astro'
import MainImage from '../images/matteo-leoni.jpg'

const menuItems = [
	{
		text: 'Gite',
		href: '/blog'
	},
	{
		text: 'Foto',
		href: '/portfolio'
	},
	{
		text: 'Meteo Concenedo',
		href: '/meteo-concenedo'
	},
	{
		text: 'Info & Contatti',
		href: '/contatti'
	}
]
---

<Layout
	title="Signalkuppe | Parole oltre i 4000m"
	description="Blog personale di Matteo Leoni"
	ogImage="/matteo-leoni-og.jpg"
	ogType="website"
	url="https://www.signalkuppe.com"
>
	<div class="grid">
		<header>
			<h1>Piacere Matteo <span class="hand" aria-hidden="true">👋</span></h1>
		</header>
		<nav>
			<ul>
				{
					menuItems.map((item) => (
						<li>
							<Button Element="a" href={item.href}>
								{item.text}
							</Button>
						</li>
					))
				}
			</ul>
		</nav>
		<main>
			<p>
				Sono un <strong>appassionato di montagna,</strong> Questo blog è un <strong
					>diario di tutte le mie gite,</strong
				> spero possa esservi utile per scoprire nuovi itinerari.
			</p>
		</main>
		<aside>
			<Image src={MainImage} alt="Matteo Leoni" width={4032} height={2688} />
		</aside>
	</div>
	<PageAction slot="actionButton" href="/impostazioni">
		<Settings stroke-width="3" /><SrOnly>Scegli un tema</SrOnly>
	</PageAction>
</Layout>

<style>
	@keyframes handAnimation {
		0% {
			transform: rotate(0deg);
		}
		10% {
			transform: rotate(14deg);
		}
		20% {
			transform: rotate(-8deg);
		}
		30% {
			transform: rotate(14deg);
		}
		40% {
			transform: rotate(-4deg);
		}
		50% {
			transform: rotate(10deg);
		}
		60% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		.hand {
			display: inline-block;
			animation-name: handAnimation;
			animation-duration: 1.2s;
			animation-delay: 1s;
			transform-origin: 70% 70%;
		}
	}
	@media (prefers-reduced-motion: reduce) {
		.hand {
			animation: none;
		}
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}

	footer {
		position: fixed;
		right: 1.5rem;
		bottom: 1.5rem;
	}

	p {
		width: 95%;
		max-width: 50ch;
	}

	h1 {
		display: flex;
		align-items: center;
		line-height: 1;
		gap: 0.5rem;
	}

	.hand {
		position: relative;
		top: 0.15rem;
	}

	img {
		background-color: var(--grey);
	}

	@media screen and (max-width: 1179px) {
		.grid {
			display: flex;
			flex-direction: column;
			row-gap: 1.5rem;
		}

		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			order: 1;
		}

		aside {
			order: 2;
		}

		main {
			order: 3;
		}

		nav {
			order: 4;
		}
	}

	@media screen and (min-width: 1180px) {
		.grid {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: min-content 1fr 2fr;
			grid-template-areas:
				'header image'
				'content image'
				'navigation image';
			gap: 2.5rem;
			max-width: 1170px;
			margin: 4rem auto;
		}
		header {
			grid-area: header;
		}

		main {
			grid-area: content;
		}
		aside {
			grid-area: image;
		}
		nav {
			grid-area: navigation;
		}
	}
</style>
