---
// @ts-nocheck
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import PostCard from "../components/PostCard.astro";
import { siteTitle, siteSlogan, defaultOgImage } from "../constants";
import { headPageTitle } from "../lib/utils";
import DoubleChevronRightIcon from "../icons/DoubleChevronRight.svg";

const allPosts = await getCollection("posts");
allPosts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
const posts = allPosts.slice(0, 8);
const currentPath = Astro.url.pathname;
---

<Layout
  title={headPageTitle(siteTitle, siteSlogan)}
  description="Blog personale di Matteo Leoni"
  ogImage={defaultOgImage}
>
  <div class="cage">
    <h1>Piacere Matteo <span aria-hidden="true">👋</span></h1>
    <p class="lead">
      Sono un appassionato di montagna. Questo sito vuole essere un <a
        href="/blog">diario di tutte le mie uscite,</a
      > spero possa esservi utile per scoprire nuovi itinerari. Vivo a Concenedo,
      dove ho posizionato una stazione meteo, in
      <a
        href="/meteo-concenedo"
        aria-description="Dati meteo in diretta da Concenedo">questa pagina</a
      > trovate i dati in diretta.
    </p>

    <a href="/matteo" class="btn lead-button" data-astro-prefetch
      >Conosciamoci meglio</a
    >
    <h2>Ultime uscite</h2>
    <ul role="list">
      {
        posts.map((post, i) => (
          <li>
            <PostCard post={post} TitleTag="h3" />
          </li>
        ))
      }
    </ul>
    <a href="/blog" class="read-more-link"
      >Tutte le uscite <DoubleChevronRightIcon aria-hidden="true" /></a
    >
  </div>
</Layout>

<style media="screen">
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .lead {
    text-wrap: pretty;
    max-width: 55ch;
    color: var(--textLight);
    margin-bottom: 1rem;
  }

  .lead-button {
    margin-top: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1rem;
    margin-bottom: 2.5rem;
    padding-top: 3rem;
    text-transform: uppercase;
  }

  ul {
    margin-bottom: 5rem;
  }

  @media screen and (width < 24rem) {
    h1 {
      font-size: 2rem;
    }
    .lead {
      font-size: 0.85rem;
    }
  }

  @media screen and (width < 48rem) {
    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  @media screen and (width > 48rem) {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
      align-items: stretch;
    }
  }

  @media screen and (width > 65rem) {
    ul {
      grid-template-columns: 1fr 1fr 1fr;
      align-items: stretch;
    }

    h1 {
      font-size: 3rem;
    }

    ul li:nth-child(7),
    ul li:nth-child(8) {
      display: none;
    }
  }

  @media screen and (width > 100rem) {
    ul {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: stretch;
    }

    ul li:nth-child(7),
    ul li:nth-child(8) {
      display: block;
    }

    h1 {
      font-size: 3rem;
    }
  }

  .read-more-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.25rem;
  }

  .read-more-link svg {
    height: 1em;
  }

  @keyframes handAnimation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    h1 span {
      display: inline-block;
      animation-name: handAnimation;
      animation-duration: 1.2s;
      animation-delay: 1s;
      transform-origin: 70% 70%;
    }
  }
</style>
