---
import { Settings } from 'astro-feather-icons'
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Button from '../components/Button.astro'
import SrOnly from '../components/SrOnly.astro'
import MainImage from '../images/matteo-leoni.jpg'

const menuItems = [
	{
		text: 'Gite',
		href: '/blog'
	},
	{
		text: 'Foto',
		href: '/portfolio'
	},
	{
		text: 'Meteo Concenedo',
		href: '/meteo-concenedo'
	},
	{
		text: 'Info & Contatti',
		href: '/contatti'
	}
]
---

<Layout
	title="Signalkuppe | Parole oltre i 4000m"
	description="Blog personale di Matteo Leoni"
	ogImage="/matteo-leoni-og.jpg"
	ogType="website"
	url="https://www.signalkuppe.com"
>
	<header>
		<h1>Piacere Matteo <span class="hand" aria-hidden="true">👋</span></h1>
		<a href="/impostazioni/" title="Impostazioni di visualizzazione del sito"
			><Settings title={null} /><SrOnly>Impostazioni del sito</SrOnly></a
		>
	</header>
	<aside>
		<Image src={MainImage} alt="Matteo Leoni" width={4032} height={2688} />
	</aside>
	<main>
		<p>
			Sono un <strong>appassionato di montagna,</strong> Questo blog è un <strong
				>diario di tutte le mie gite,</strong
			> spero possa esservi utile per scoprire nuovi itinerari.
		</p>
	</main>
	<nav>
		<ul>
			{
				menuItems.map((item) => (
					<li>
						<Button Element="a" href={item.href}>
							{item.text}
						</Button>
					</li>
				))
			}
		</ul>
	</nav>
</Layout>

<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	h1 {
		display: flex;
		align-items: center;
		line-height: 1;
		gap: 0.5rem;
	}

	.hand {
		position: relative;
		top: 0.15rem;
	}

	img {
		margin-top: 1.5rem;
	}

	p {
		width: 95%;
		max-width: 60ch;
		margin-top: 2rem;
		margin-bottom: 3rem;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}

	@keyframes handAnimation {
		0% {
			transform: rotate(0deg);
		}
		10% {
			transform: rotate(14deg);
		}
		20% {
			transform: rotate(-8deg);
		}
		30% {
			transform: rotate(14deg);
		}
		40% {
			transform: rotate(-4deg);
		}
		50% {
			transform: rotate(10deg);
		}
		60% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		.hand {
			display: inline-block;
			animation-name: handAnimation;
			animation-duration: 1.2s;
			animation-delay: 1s;
			transform-origin: 70% 70%;
		}
	}
	@media (prefers-reduced-motion: reduce) {
		.hand {
			animation: none;
		}
	}
</style>
