---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Signalkuppe - Parole oltre i 4000m"
  description="Blog personale di Matteo Leoni"
  ogImage="/og-image.png"
>
  <h1>Matteo</h1>
  <p>
    1 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio autem
    nesciunt repellendus natus, maxime eum fugiat iste facilis officiis quaerat
    recusandae, quam libero maiores veritatis optio minus porro aliquam
  </p>
  <p>
    2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio autem
    nesciunt repellendus natus, maxime eum fugiat iste facilis officiis quaerat
    recusandae, quam libero maiores veritatis optio minus porro aliquam
  </p>
  <p>
    3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio autem
    nesciunt repellendus natus, maxime eum fugiat iste facilis officiis quaerat
    recusandae, quam libero maiores veritatis optio minus porro aliquam
  </p>
  <p>
    4 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio autem
    nesciunt repellendus natus, maxime eum fugiat iste facilis officiis quaerat
    recusandae, quam libero maiores veritatis optio minus porro aliquam
  </p>
  <p>
    5 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio autem
    nesciunt repellendus natus, maxime eum fugiat iste facilis officiis quaerat
    recusandae, quam libero maiores veritatis optio minus porro aliquam
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio autem
    nesciunt repellendus natus, maxime eum fugiat iste facilis officiis quaerat
    recusandae, quam libero maiores veritatis optio minus porro aliquam
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio autem
    nesciunt repellendus natus, maxime eum fugiat iste facilis officiis quaerat
    recusandae, quam libero maiores veritatis optio minus porro aliquam
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio autem
    nesciunt repellendus natus, maxime eum fugiat iste facilis officiis quaerat
    recusandae, quam libero maiores veritatis optio minus porro aliquam
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio autem
    nesciunt repellendus natus, maxime eum fugiat iste facilis officiis quaerat
    recusandae, quam libero maiores veritatis optio minus porro aliquam
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio autem
    nesciunt repellendus natus, maxime eum fugiat iste facilis officiis quaerat
    recusandae, quam libero maiores veritatis optio minus porro aliquam
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio autem
    nesciunt repellendus natus, maxime eum fugiat iste facilis officiis quaerat
    recusandae, quam libero maiores veritatis optio minus porro aliquam
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio autem
    nesciunt repellendus natus, maxime eum fugiat iste facilis officiis quaerat
    recusandae, quam libero maiores veritatis optio minus porro aliquam
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio autem
    nesciunt repellendus natus, maxime eum fugiat iste facilis officiis quaerat
    recusandae, quam libero maiores veritatis optio minus porro aliquam
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio autem
    nesciunt repellendus natus, maxime eum fugiat iste facilis officiis quaerat
    recusandae, quam libero maiores veritatis optio minus porro aliquam
  </p>
</Layout>
