---
export const prerender = false;
import { siteTitle } from "../constants";
import weatherlink from "../lib/weatherlink";
const title = "Meteo Concenedo";
const description =
  "Dati meteo in diretta e webcam da Concenedo (Barzio) in Valsassina";
const { hasLostSignal, current, day, ok } = await weatherlink();
---

<h1>{title}</h1>
<pre>{JSON.stringify({ hasLostSignal, current, day, ok }, null, 2)}</pre>
