.c-portfolioNav {
  text-align: center;
}

.c-portfolioNav li {
  display: inline-block;
}

.c-portfolioNav li:nth-child(2) {
  margin: 0 var(--spaceUnit);
}

.c-portfolioNav a {
  color: var(--colorBlack);
}

.c-portfolioNav svg {
  transition: 0.2s transform cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.c-portfolioNav li:first-child a:hover svg {
  transform: translate3d(-0.25em, 0, 0);
}

.c-portfolioNav li:last-child a:hover svg {
  transform: translate3d(0.25em, 0, 0);
}
