/*
* overrides some toastify lib styles
* our class is added with the plugin option (className: "c-toast--info")
*/

.toastify  {
  font-size: var(--fontSizeSmall);
  box-shadow: none;
  color: white;
}

.c-toast--info {
  background: var(--colorMsgInfo);
}

.c-toast--success {
  background: var(--colorMsgSuccess);
}

.c-toast--error {
  background: var(--colorMsgError);
}

