html {
  font-size: var(--fontSizeRoot);
}

body {
  font-family: var(--fontText);
  line-height: var(--leadBase);
}

:--headings {
  font-family: var(--fontHeadings);
  font-weight: 700;
  line-height: var(--leadNarrow);
}

h1 {
  font-size: var(--fontSize5);
}

h2 {
  font-size: var(--fontSize1);
}

h3 {
  font-size: var(--fontSize0);
}

p {
  margin-bottom: calc(var(--spaceUnit) * 1.5);
}

h2 {
  margin-bottom: var(--spaceUnit);
}

p + h2 {
  margin-bottom: var(--spaceUnit);
  margin-top: calc(var(--spaceUnit) * 3);
}

figure + p,
figure + h2 {
  margin-top: calc(var(--spaceUnit) * 2);
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  color: var(--colorGreyDark);
  font-size: var(--fontSizeSmall);
  font-style: italic;
}

time {
  color: var(--colorGreyDark);
  font-family: var(--fontCaption);
  font-size: var(--fontSizeSmall);
  text-transform: uppercase;
}

a {
  text-decoration-skip: ink;
  color: inherit;
}

a:hover {
  text-decoration-style: wavy;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

small {
  font-size: var(--fontSizeSmall);
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: calc(var(--spaceUnit) * 2);
}

@media (--mediumType) {
  :root {
    --fontSizeRoot: 112.5%;
  }
}

@media (--largeType) {
  :root {
    --fontSizeRoot: 125%;
  }
}
