html {
  font-size: var(--fontSizeRoot);
}

body {
  font-family: system-ui;
  line-height: var(--leadBase);
}

:--headings {
  font-weight: 700;
  line-height: var(--leadNone);
}

h1 {
  font-size: var(--fontSize6);
  margin-top: 0;
}

h2 {
  font-size: var(--fontSize2);
  margin-top: 0;
}

p {
  margin-bottom: var(--spaceUnit);
}

h2 {
  margin-bottom: var(--spaceUnit);
}

p + h2 {
  margin-bottom: calc(var(--spaceUnit) * 2);
}

figure + p,
figure + h2 {
  margin-top: calc(var(--spaceUnit) * 3);
}

img {
  max-width: 100%;
  height: auto;
}

@media (--mediumType) {
  :root {
    --fontSizeRoot: 112.5%;
  }
}

@media (--largeType) {
  :root {
    --fontSizeRoot: 125%;
  }
}
