:root {
  /* Typescale: Major third 1.250 */
  --fontSizeRoot: 100%;
  --fontSize0: 1rem;
  --fontSize1: 1.25rem;
  --fontSize2: 1.563rem;
  --fontSize3: 1.953rem;
  --fontSize4: 2.441rem;
  --fontSize5: 3.052rem;
  --fontSize6: 3.815rem;
  --fontSize7: 4.768rem;
  --leadBase: 1.5;
  --leadNone: 1;
  --spaceUnit: var(--fontSize0);
  --colorPrimary: #ffce00;
  --colorSecondary: #000;
  --colorGreyLighter: hsl(238, 20%, 98%);
  --colorGreyLight: hsl(238, 20%, 96%);
  --colorGreyMedium: hsl(238, 20%, 80%);
  --colorGreyDark: hsl(238, 20%, 40%);
  --colorGreyDarker: hsl(238, 20%, 10%);
  --headerHeight: calc(var(--fontSize0) * 4);
}

