:root {
  /* Typescale: Major third 1.250 */
  --fontSizeRoot: 125%;
  --fontSizeXSmall: 0.75rem;
  --fontSizeSmall: 0.85rem;
  --fontSize0: 1rem;
  --fontSize1: 1.25rem;
  --fontSize2: 1.563rem;
  --fontSize3: 1.953rem;
  --fontSize4: 2.441rem;
  --fontSize5: 3.052rem;
  --fontSize6: 3.815rem;
  --fontSize7: 4.768rem;
  --fontHeadings: 'PT Serif', serif;
  --fontText: 'PT Sans', sans-serif;
  --fontCaption: 'PT Sans Caption', sans-serif;
  --leadBase: 1.5;
  --leadNarrow: 1.1;
  --leadNone: 1;
  --spaceUnit: var(--fontSize0);
  --colorPrimary: #ffce00;
  --colorSecondary: #000;
  --colorGreyLighter: #fafafa;
  --colorGreyLight: #eee;
  --colorGreyMedium: #ccc;
  --colorGreyDark: #666;
  --colorGreyDarker: #333;
  --headerHeight: calc(var(--spaceUnit) * 4);
}

