
/**
 * Custom utilities not in tailwind
 */

.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}

@responsive {
  .sr-only {
    clip: rect(0 0 0 0);
    position: absolute;
  }
  .not-sr-only {
    clip: none;
    position: static;
  }
  .ratio-2-3 {
    width: calc(100vh * 0.666);
  }
  .ratio-2-3-remaining {
    width: calc(100% - calc(100vh * 0.666))
  }
  .ratio-2-3-content-offset {
    @apply ml-16
  }
  .h-nav {
    height: 4rem;
  }
  .leading-nav {
    line-height: 3rem;
  }
  .h-content {
    height: calc(100vh - 4rem);
  }
}

