html {
  font-size: var(--fontSizeRoot);
}

body {
  font-family: var(--fontSans);
  line-height: var(--leadBase);
  background: var(--bodyBackgroundColor);
  color: var(--bodyColor);
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--fontSerif);
  font-weight: 700;
  line-height: var(--leadNarrow);
  color: var(--colorBlack);
}

h1 {
  font-size: var(--fontSize5);
}

h2 {
  font-size: var(--fontSize1);
}

h3 {
  font-size: var(--fontSize0);
}

p {
  margin-bottom: calc(var(--spaceUnit) * 1.5);
}

h2 {
  margin-bottom: var(--spaceUnit);
}

p + h2 {
  margin-bottom: var(--spaceUnit);
  margin-top: calc(var(--spaceUnit) * 3);
}

input,
select,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  background: var(--bodyBackgroundColor);
  color: inherit;
}

form:not([class]) {
  padding: 1em;
}

form:not([class]):focus-within {
  background: var(--colorGreyLight);
}

label:not([class]) {
  display: block;
  font-weight: 700;
}

input[type="text"]:not([class]),
input[type="email"]:not([class]),
textarea:not([class]) {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 2px solid var(--colorGreyLight);
  
}

input[type="text"]:not([class]):focus,
input[type="email"]:not([class]):focus,
textarea:not([class]):focus {
  outline: none;
  border-color: var(--colorPrimary);
}

figure + p,
figure + h2 {
  margin-top: calc(var(--spaceUnit) * 2);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration-skip: ink;
  color: inherit;
}

b, strong {
  font-weight: 700;
  color: var(--colorBlack);
}

i, em {
  font-style: italic;
}

small {
  font-size: var(--fontSizeSmall);
}

dt {
  font-family: var(--fontHeadings);
  font-weight: 700;
}

dd {
  margin-bottom: calc(var(--spaceUnit) * 2);
}

hr {
  height: 1px;
  margin: 0;
  background: var(--colorGreyMedium);
  border: none;
}

figcaption {
  font-size: var(--fontSizeSmall);
  font-style: italic;
  color: var(--colorGreyDark);
}

::-moz-selection {
  color: black; background: var(--colorPrimary);
}

::selection {
  color: black; background: var(--colorPrimary);
} 
