html {
  font-size: var(--fontSizeRoot);
}

body {
  font-family: var(--fontSans);
  line-height: var(--leadBase);
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--fontSerif);
  font-weight: 700;
  line-height: var(--leadNarrow);
}

h1 {
  font-size: var(--fontSize5);
}

h2 {
  font-size: var(--fontSize1);
}

h3 {
  font-size: var(--fontSize0);
}

p {
  margin-bottom: calc(var(--spaceUnit) * 1.5);
}

h2 {
  margin-bottom: var(--spaceUnit);
}

p + h2 {
  margin-bottom: var(--spaceUnit);
  margin-top: calc(var(--spaceUnit) * 3);
}

figure + p,
figure + h2 {
  margin-top: calc(var(--spaceUnit) * 2);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration-skip: ink;
  color: inherit;
}

b, strong {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

small {
  font-size: var(--fontSizeSmall);
}

dt {
  font-family: var(--fontHeadings);
  font-weight: 700;
}

dd {
  margin-bottom: calc(var(--spaceUnit) * 2);
}

hr {
  height: 1px;
  margin: 0;
  background: var(--colorGreyMedium);
  border: none;
}

figcaption {
  font-size: var(--fontSizeSmall);
  font-style: italic;
  color: var(--colorGreyDark);
}

svg {
  vertical-align: text-bottom;
}

/* -------  test home  */

body.front {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body.front .c-navigation a {
  color: white;
}

body.front .c-navigation {
  border-bottom: none;
}


body.front .c-navigation-siteName {
  color: white;
}

body.front .c-navigation a.is-active::after {
  background: white;
}

@media screen and (orientation: landscape) {
  body.front {
    background-image: url("https://images.ctfassets.net/rotmy72mdop6/319stFl9x4ZvFFMQ9rDOBX/7d6fd69cc431238873077edcc685e512/clariden-selfie.jpg?w=2560&fit=thumb");
  }
}

@media screen and (orientation: portrait) {
  body.front {
    background-image: url("https://images.ctfassets.net/rotmy72mdop6/6azyf73QD16wzn1PUdC2Sc/582d4322c68958bfd43280ba714dc994/43118341472_7ec7d51172_o.jpg?w=700&h=1400&fit=thumb&f=face");
  }
}

.homeCard {
  max-width: 250px;
}