.u-mb-1 {
  margin-bottom: var(--spaceUnit) !important;
}

.u-mb-2 {
  margin-bottom: calc(var(--spaceUnit) * 2) !important;
}

.u-mr-1 {
  margin-right: 1em !important;
}

.u-section-mt-0-25 {
  margin-top: 2vh !important;
}


.u-section-mt-0-5 {
  margin-top: 4vh !important;
}

.u-section-mb-0-5 {
  margin-bottom: 4vh !important;
}

.u-section-mt-1 {
  margin-top: 8vh !important;
}

.u-section-mb-1 {
  margin-bottom: 8vh !important;
}

.u-section-mt-1-25 {
  margin-top: 10vh !important;
}

.u-section-mt-1-5 {
  margin-top: 12vh !important;
}

.u-section-mt-2 {
  margin-top: 16vh !important;
}

.u-section-mb-2 {
  margin-bottom: 16vh !important;
}

.u-inline-list {
  display: flex !important;
}

.u-inline-list li + li {
  margin-left: 1em !important;
}

.u-justify-center {
  justify-content: center !important;
}

.u-flex-wrap {
  flex-wrap: wrap !important;
}

.u-srOnly {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

.u-text-center {
  text-align: center !important;
}

.u-text-decoration-none {
  text-decoration: none !important;
}

.u-container-link {
  text-decoration: inherit !important;
  color: inherit !important;
}

.no-js .u-hide-nojs {
  display: none !important;
}

.u-type-lead {
  font-size: 1.15em !important;
}

.u-highlight-link {
  text-decoration: none !important;
  background-image: linear-gradient(var(--colorPrimary), var(--colorPrimary)) !important;
  background-size: 100% 0.6em !important;
  background-repeat: no-repeat !important;
  background-position: left 0 bottom -60% !important;
  color: var(--colorBlack) !important;
}

.u-highlight-link:hover {
  background-color: var(--colorPrimary) !important;
  color: black !important;
}

@media screen {
  .u-printOnly {
    display: none !important;
  }
}

@media print {
  .u-screenOnly {
    display: none !important;
  }
}