.c-button {
  display: inline-block;
  padding: calc(var(--spaceUnit) / 2) calc(var(--spaceUnit) / 1.5);
  background: white;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.25s ease-in;
  border: 1px solid #eee;
  border-bottom: 5px solid transparent;
  background: var(--colorGreyLight);
}

.c-button:hover {
  transform: translateY(-5px);
  border-bottom: 5px solid var(--colorPrimary);
}

.c-button--small {
  font-size: var(--fontSizeSmall);
  padding: calc(var(--spaceUnit) / 4) calc(var(--spaceUnit) / 2);
}

.c-button:active {
  background: var(--colorPrimary);
  position: relative;
  top: 1px;
  left: 1px;
}

.c-button svg {
  position: relative;
  top: 0.25em;
}