.c-button {
  display: inline-block;
  padding: calc(var(--spaceUnit) / 2) calc(var(--spaceUnit) /1.5);
  color: black;
  background: white;
  font-weight: 700;
  border: 1px solid black;
  box-shadow: 3px 3px 0 0 black;
  text-decoration: none;
  display: inline-flex;
  align-self: center;
  transition: box-shadow 0.2s linear;
}

.c-button:hover {
  box-shadow: 5px 5px 0 0 black;
}

.c-button--small {
  font-size: var(--fontSizeSmall);
  padding: calc(var(--spaceUnit) / 4) calc(var(--spaceUnit) / 2);
}

.c-button:active {
  background: var(--colorPrimary);
  position: relative;
  top: 1px;
  left: 1px;
}

.c-button svg {
  position: relative;
  top: 0.125em;
}