.c-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 450px;
  border: 1px solid black;
  box-shadow: 3px 3px 0 0 black;
  transition: box-shadow 0.2s linear;
}

.c-card-header {
  position: relative;
  min-height: 220px;
}

.c-card-header img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.c-card-info {
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0,0,0,0.7));
  width: 100%;
  padding: 1em;
}

.c-card-info time, 
.c-card-title {
  color: white;
  margin: 0;
}

.c-card-body {
  padding: 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.c-card-body p {
  flex: 1;
}

.c-card time {
  font-size: var(--fontSizeSmall);
}

.c-card-readMore {
  font-weight: 700;
  font-style: italic;
  font-size: var(--fontSizeSmall);
}

.c-card:hover {
  box-shadow: 5px 5px 0 0 black;
}

.c-card:active {
  position: relative;
  left: 1px;
  top: 1px;
}