.c-contentHeader {
  margin-bottom: calc(var(--spaceUnit) * 3);
}

.c-contentHeader.js-is-sticky, 
.c-contentHeader.js-is-stuck {
  z-index: 100;
  background: white;
  padding-bottom: calc(var(--spaceUnit) * 2);
}

.c-contentHeader.js-is-sticky::after,
.c-contentHeader.js-is-stuck::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 300;
  left:0;
  width: 100%;
  background: linear-gradient(white, rgba(255,255,255,0));
  bottom: -3rem;
  height: 3rem;
}

.c-contentHeader-title {
  margin-bottom: calc(var(--spaceUnit) / 4);
}


@media (--portrait) {

  .c-contentHeader {
    margin-top: calc(var(--spaceUnit) * 2);
  }

  .c-contentHeader--hideOnPortrait {
    visibility: hidden;
    height: 0;
    margin: 0;
  }

  .c-contentHeader.js-is-stuck,
  .c-contentHeader.js-is-sticky {
    visibility: visible;
    height: auto;
    padding-top: var(--spaceUnit);
  }

  .c-contentHeader-title {
    font-size: var(--fontSize2);
  }
}

