.c-cover {
  background: black;
  position: relative;
}

.c-cover img {
  display: block;
  object-fit: cover;
}

.c-cover,
.c-cover img {
  height: 100%;
  width: 100%;
}

.c-cover-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: var(--leadNone);
  padding: 0 10% calc(var(--spaceUnit) * 2) calc(var(--spaceUnit) * 1.5);
  background: linear-gradient(transparent, rgba(0,0,0,0.7));
  font-style: normal;
  font-family: var(--fontHeadings);
}

.c-cover-date {
  display: block;
  margin-bottom: calc(var(--spaceUnit) * 0.5);
}

.c-cover-title {
  font-weight: 700;
  font-size: var(--fontSize3);
}

.c-cover-description {
  font-size: var(--fontSize2);
}

.c-cover-caption, 
.c-cover-date {
  color: white;
}


@media (--portrait) {
  .c-cover-description {
    display: none;
  }
}

@media (--landscape) {  
  .c-cover-title,
  .c-cover-date {
    display: none;
  }
  .c-cover-caption {
    padding-bottom: calc(var(--spaceUnit) * 3);
  }
}

@media screen and (min-width: 60em) {
  .c-cover-title {
    font-size: var(--fontSize5);
  }
  
  .c-cover-description {
    font-size: var(--fontSize3);
  }
}