
.header {
  height: 100%;
}

.header-siteNameLink {
  text-decoration: none;
  color: inherit;
}

.header-siteName {
  font-weight: 700;
  font-size: var(--fontSize1);
  text-transform: uppercase;
  margin: 0;
  line-height: var(--leadNone);
}

.header-siteNameLink {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.header button:active,
.header-siteNameLink:active {
  position: relative;
  top: 1px;
  left: 1px;
}

.header button,
.header-menu {
  outline: none;
}

.header button {
  appearance: none;
  background: none;
  border: none;
  float: right;
  margin-right: var(--horizontalUnit);
  margin-top: var(--verticalUnit);
  border: 1px solid black;
  box-shadow: 2px 2px 0 0 black;
}

.header-menu {
  position: fixed;
  top: 4rem;
  right: var(--horizontalUnit);
  width: 15em;
  background: var(--colorGreyLight);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: all 0.2s linear;
  will-change: transform;
  z-index: 100;
  padding: 1em;
  border: 1px solid black;
  box-shadow: 2px 2px 0 0 black;
}

.header-menu.is-hidden {
  display: none;
}

.header-menu.is-closed {
  transform: translate3d(0, -1em, 0);
  opacity: 0;
}

.header-menuTitle {
  @mixin srOnly;
}

.header-menuList {
  list-style: none;
  padding: 0;
}

.header-menuList a {
  display: block;
  color: var(--colorGreyDark);
  text-decoration: none;
}

.header-menuList a.is-active {
  font-weight: 700;
  color: var(--colorGreyDarker);
  text-decoration: underline;
  text-decoration: skip-ink;
}

.header-menuList a:hover {
  text-decoration: underline;
  text-decoration: skip-ink;
}