.c-navigation {
  font-size: var(--fontSizeTiny);
  text-transform: uppercase;
  line-height: 1;
  border-bottom: 1px solid var(--colorGreyLight);
  padding-bottom: calc(var(--spaceUnit) * 1);
}

.c-navigation-menu {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  align-items: center;
}

.c-navigation a {
  text-decoration: none;
  color: var(--colorGreyDark);
}

.c-navigation a:hover {
  color: var(--colorGreyMedium);
}

.c-navigation-siteName {
  font-family: var(--fontCaption);
  font-weight: 700;
  font-size: 150%;
  color: black;
  display: block;
  margin: 0;
  will-change: transform;
  transition: transform 0.2s linear;
}

.c-navigation a:hover .c-navigation-siteName {
  transform: translate3d(0, -0.2rem, 0);
}

@media (--wideMenu) {
  .c-navigation {
    font-size: var(--fontSizeSmall);
  }

  .c-navigation-menu {
    grid-gap: 2rem;
  }
}