
.c-navigation {
  height: 100%;
}

.c-navigation-siteNameLink {
  text-decoration: none;
  color: inherit;
}

.c-navigation-siteName {
  font-weight: 700;
  font-size: var(--fontSize1);
  text-transform: uppercase;
  margin: 0;
  line-height: var(--headerHeight);
}

.c-navigation-siteNameLink {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.c-navigation button:active,
.c-navigation-siteNameLink:active {
  position: relative;
  top: 1px;
  left: 1px;
}

.c-navigation button,
.c-navigation-menu {
  outline: none;
}

.c-navigation button {
  appearance: none;
  float: right;
  margin-right: var(--spaceUnit);
  margin-top: calc(var(--headerHeight) / 2 - var(--spaceUnit));
  position: relative;
  z-index: 200;
}

.c-navigation-menu {
  position: fixed;
  top: calc(var(--headerHeight) / 2 + calc(var(--spaceUnit) * 1.5));
  right: var(--spaceUnit);
  width: 12em;
  background: white;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: transform 0.2s linear;
  will-change: transform;
  z-index: 100000;
  padding: 1em;
  border: 1px solid black;
  box-shadow: 2px 2px 0 0 black;
}

.c-navigation-menu.is-hidden {
  display: none;
}

.c-navigation-menu.is-closed {
  transform: translate3d(0, -1em, 0);
  opacity: 0;
  right: -100%;
}

.c-navigation-menuTitle {
  @mixin srOnly;
}

.c-navigation-menuList {
  list-style: none;
  padding: 0;
}

.c-navigation-menuList a {
  display: block;
  color: var(--colorGreyDark);
  text-decoration: none;
}

.c-navigation-menuList a.is-active {
  font-weight: 700;
  color: var(--colorGreyDarker);
  text-decoration: underline var(--colorPrimary);
}

.c-navigation-menuList a:hover {
  color: var(--colorGreyDarker);
  text-decoration: underline var(--colorPrimary);
}