.c-postCover {
  position: relative;
}

.c-postCover img {
  display: block;
}

.c-postCover::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to top,rgba(0, 0, 0, 0.738) 0%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);  z-index: 10;
}

.c-postCover-caption {
  font-size: var(--fontSizeBase);
  font-family: var(--fontSerif);
  font-weight: 700;
  line-height: 1.1;
  color: white;
  position: absolute;
  bottom: var(--spaceUnit);
  left: var(--spaceUnit);
  max-width: 80%;
  z-index: 11;
}

@media (--wide) {
  .c-postCover-caption {
    font-size: var(--fontSize2);
    bottom: calc(var(--spaceUnit) * 2);
    left: calc(var(--spaceUnit) * 2);
  }
}