.c-autocomplete {
  position: relative;
  margin-top: calc(var(--spaceUnit) * 1.5);
}

.c-autocomplete input[type="text"] {
  font-size: var(--fontSize2);
  border: 1px solid var(--colorGreyMedium);
  display: block;
  width: 100%;
  height: 3rem;
  padding: 0 3rem 0 1rem;
  -webkit-appearance: none;
}

.c-autocomplete input[type="text"]:focus,
.c-autocomplete button:focus {
  outline: none;
  border-bottom-color: var(--colorPrimary);
  border-bottom-width: 4px;
}

.c-autocomplete-reset,
.c-autocomplete-search { /* reset and search buttons */
  position: absolute;
  right: 2rem;
  top: 0.85rem;
  width: 1rem;
  background: transparent;
  border: none;
}

.c-autocomplete-help { /* help text */
  font-size: var(--fontSizeSmall);
  color: var(--colorGreyDark);
  line-height: 1;
  margin-top: 1rem;
}

.c-autocomplete-results {
  background: white;
  border-style: solid;
  border-width: 0 1px 1px;
  border-color: var(--colorGreyMedium);
  opacity: 1;
  transition: all 0.2s linear;
  position: absolute;
  top: calc(3rem - 4px);
  left: 0;
  width: 100%;
  z-index: 1000;
}

.c-autocomplete-results.js-is-hidden {
  opacity: 0;
}

.c-autocomplete-results li {
  padding: 0.25em 1em;
  color: var(--colorGreyDark);
}

.c-autocomplete-results li a {
  text-decoration: none;
}

.c-autocomplete-results li:not(:last-child) { 
  border-bottom: 1px solid var(--colorGreyLight);
}

.c-autocomplete-results li.js-is-active,
.c-autocomplete-results li:hover {
  background: palegoldenrod;
  color: black;
}