.c-autocomplete {
  position: relative;
  margin-top: calc(var(--spaceUnit) * 1.5);
}

.c-autocomplete input[type="text"] {
  font-size: var(--fontSize2);
  border: none;
  border-bottom: 3px solid var(--colorGreyDark);
  display: block;
  width: 100%;
  padding: 0.5em 2em 0.5em 0.5em;
  -webkit-appearance: none;
}

.c-autocomplete input[type="text"]:focus,
.c-autocomplete button:focus {
  outline: none;
}

.c-autocomplete-reset,
.c-autocomplete-search { /* reset and search buttons */
  position: absolute;
  right: 1.5em;
  top: 1.75em;
  background: transparent;
  border: none;
  padding: 0;
  -webkit-appearance: none;
}

.c-autocomplete-help { /* help text */
  font-size: var(--fontSizeSmall);
  color: var(--colorGreyMedium);
  line-height: 1.4;
  margin-top: 1rem;
}

.c-autocomplete-results {
  background: white;
  border-style: solid;
  border-width: 3px;
  border-color: var(--colorGreyDark);
  opacity: 1;
  transition: all 0.2s linear;
  position: absolute;
  top: 3.4em;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.c-autocomplete-results.js-is-hidden {
  opacity: 0;
}

.c-autocomplete-results li {
  color: var(--colorGreyDark);
}

.c-autocomplete-results li a {
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
}

.c-autocomplete-results li:not(:last-child) { 
  border-bottom: 1px solid var(--colorGreyLight);
}

.c-autocomplete-results li.js-is-active,
.c-autocomplete-results li:hover {
  background: var(--colorGreyLight);
  color: black;
}