.c-card {
  border: 1px solid var(--colorGrey);
  display: flex;
  flex-direction: column;
  height: 100%;
  will-change: transform;
  transition: transform 0.25s ease-in;
  border-bottom: 5px solid var(--colorGreyLight);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  background: var(--bodyBackgroundColor);
}

.c-card-image {
  display: block;
  object-fit: cover;
}

.c-card-body {
  font-size: var(--fontSizeSmall);
  padding: calc(var(--spaceUnit) * 1.5);
  flex: 1;
}

.c-card-header time {
  display: block;
  margin-bottom: var(--spaceUnit);
  color: var(--colorGreyMedium);
}

.c-card-body p {
  margin-bottom: 0;
}

.c-card:hover {
  transform: translate3d(0, -5px, 0);
  border-bottom: 5px solid var(--colorPrimary);
}