.c-footer {
  text-align: center;
  font-size: var(--fontSizeSmall);
  padding: calc(var(--spaceUnit) * 2 ) 0;
  color: var(--colorGreyDark);
  font-family: var(--fontCaption);
}

.c-footer svg {
  width: 1em;
  vertical-align: middle;
}