.c-icon {
  display: inline-block;
  margin-right: 0.25em;
}

.c-icon--append {
  margin-right: 0;
  margin-left: 0.25em;
}


.c-icon svg {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  width: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  fill: currentColor;
}