.c-map {
  height: 60vh;
  width: 100%;
  position: relative;
}

.c-map-marker[style], 
.c-map-marker img {
  height: 50px!important;
  width: 50px!important;
  display: block;
  filter: none;
}

.c-map-marker[style] {
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.c-map-marker img {
  border: 4px solid var(--colorGreyLighter);
}

.c-map-marker::after {
  position: absolute;
  content: '';
  display: block;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%, 0);
  width: 0; 
  height: 0; 
  border-left: none;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--colorGreyLighter);
}

.c-map-marker::after,
.c-map-marker img {
  transition: all 0.2s linear;
}

.c-map-marker[style]:hover::after {
  border-top-color: var(--colorPrimary);
}

.c-map-marker[style]:hover img {
  border-color: var(--colorPrimary);
}

.leaflet-popup-content[style] {
  width: auto !important;
  margin: 0 !important;
}

.leaflet-popup-close-button {
  color: black !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 0px !important;
  background: var(--bodyBackgroundColor) !important;
  color: var(--colorGreyDarker) !important;
  padding: 0 2em 0 0!important;
}

.leaflet-popup-content-wrapper:hover {
  background: var(--colorPrimary) !important;
  color: black !important;
}

.leaflet-popup-tip {
  display: none;
}

.c-map-link {
  display: block;
  text-decoration: none;
  color: inherit!important;
}

.c-map-popup {
  display: flex;
}

.c-map-popup img {
  width: 100px;
  height: 100px;
  margin-right: 1em;
}

.c-map-info {
  padding-top: 1em;
  width: 240px;
}

.c-map-title {
  font-weight: 700;
  line-height: 1;
  font-size: 1.35em;
  margin-bottom: .25em;
  min-width: 150px;
}

.c-map-readmore {
  margin-top: 1em;
}