.c-map {
  height: 60vh;
  width: 100%;
  position: relative;
}

.c-map-marker[style], 
.c-map-marker img {
  height: 50px!important;
  width: 50px!important;
  display: block;
}

.theme-dark .leaflet-tile-pane {
  filter: grayscale(1);
}

.leaflet-popup-content[style] {
  width: auto !important;
  margin: 0 !important;
}

.leaflet-popup-close-button {
  color: black !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 0px !important;
  background: var(--bodyBackgroundColor) !important;
  color: var(--colorGreyDarker) !important;
  padding: 0 2em 0 0!important;
}

.leaflet-popup-content-wrapper:hover {
  background: var(--colorPrimary) !important;
  color: black !important;
}

.leaflet-popup-tip {
  display: none;
}

/* hide post gpx pin shadow */
.leaflet-shadow-pane {
  display: none ! important;
}

.c-map-link {
  display: block;
  text-decoration: none;
  color: inherit!important;
}

.c-map-popup {
  display: flex;
}

.c-map-popup img {
  width: 100px;
  height: 100px;
  margin-right: 1em;
}

.c-map-info {
  padding-top: 1em;
  width: 240px;
}

.c-map-title {
  font-weight: 700;
  line-height: 1;
  font-size: 1.35em;
  margin-bottom: .25em;
  min-width: 150px;
}

.c-map-readmore {
  margin-top: 1em;
}
