.c-navigation {
  font-size: var(--fontSizeSmall);
  font-family: var(--fontCaption);
  text-transform: uppercase;
}

.c-navigation-menu {
  line-height: 1;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  align-items: flex-start;
}

.c-navigation-logo {
  margin-right: 2em;
}

.c-navigation-logo svg {
  transform: scale(1.5);
}

.c-navigation a {
  text-decoration: none;
  color: var(--colorGreyDark);
  display: block;
}

.c-navigation a:hover {
  color: black;
}

.c-navigation li:not(.c-navigation-logo) a:active {
  outline: 2px solid var(--colorPrimary);
  outline-offset: 5px;
  text-decoration: none;
}

.c-navigation a.is-active {
  color: black;
  border-bottom: 2px solid black;
}

@media screen and (min-width: 1170px) {
  .c-navigation-logo svg {
    transform: scale(1.8);
  }
}

