.c-post-cover {
  position: relative;
}

.c-post-cover img {
  display: block;
}

.c-post-cover-caption {
  font-size: var(--fontSizeSmall);
  font-weight: 700;
  line-height: 1.1;
  background: black;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 11;
  padding: 0.5em 1em;
}

@media screen and (min-width: 1280px) {
  .post-img-even ~ h2 {
    color: red;
  }    
  .post-img-even {
    transform: translateX(-2em);
    width: calc(100% + 2em);
  }  
}