.c-post h3 {
  font-family: var(--fontCaption);
  text-transform: uppercase;
}

.c-post-cover {
  position: relative;
  overflow: hidden;
}

.c-post-cover img {
  display: block;
}

.c-post-cover-caption {
  font-family: var(--fontCaption);
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
  background: black;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 11;
  padding: 0.5em 1em;
}

.c-post-sticky {
  position: sticky;
  top: 1.5em;
}

.c-postNav {
  text-align: center;
}

.c-postNav li {
  display: inline-block;
}

.c-postNav li:nth-child(2) {
  margin: 0 var(--spaceUnit);
}

.c-postNav a:hover {
  text-decoration: underline;
}

.c-postNav svg {
  vertical-align: text-bottom;
}

.c-post-newsletter {
  text-align: center;
  padding: 0.5em 1em;
}

.c-post-share svg {
  will-change: transform;
  transition: transform 0.2s linear;
}

.c-post-share a:hover svg {
  transform: rotate(10deg);
}

.c-post-share a:active {
  position: relative;
  top: 1px;
  left: 1px;
}

@media screen and (min-width: 768px) {
  .c-post-cover-caption {
    font-size: 1.5vw;
  }
}