---
import { categories } from "../constants";

const { activeCategory, isMap } = Astro.props;
const isWithoutCategory = !categories.find((c) => c.slug === activeCategory);
---

<ul role="list">
  {
    categories.map((category) => (
      <li>
        <a
          href={`/blog/${isMap ? "mappa/" : ""}${category.slug}`}
          aria-current={activeCategory === category.slug ? "page" : null}
        >
          {category.title}
        </a>
      </li>
    ))
  }
  <li>
    <a
      href={`/blog${isMap ? `/mappa` : ""}`}
      aria-current={isWithoutCategory ? "page" : null}
    >
      Tutte
    </a>
  </li>
</ul>

<style media="screen">
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  a {
    font-size: 0.85rem;
    text-decoration: none;
    display: block;
    border-bottom: 3px solid transparent;
    color: var(--text);
    width: min-content;
  }

  a:hover,
  a[aria-current="page"] {
    color: var(--textAccent);
    border-color: var(--accent);
  }

  a[aria-current="page"] {
    font-weight: bold;
  }

  @media screen and (width < 60rem) {
    ul {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 0;
    }
  }
</style>
