---
import Logo from "../components/Logo.astro";
import Logo2 from "./Logo2.astro";
const url = Astro.url.pathname;
const links = [
  { href: "/blog", text: "Uscite" },
  { href: "/portfolio", text: "Foto" },
  { href: "/meteo-concenedo", text: "Meteo" },
  { href: "/contatti", text: "Contatti" },
];
---

<header>
  <a href="/" class="name" aria-label="Pagina principale"
    ><Logo height="60" aria-hidden="true" /></a
  >

  <nav aria-label="Sito">
    <ul role="list">
      {
        links.map((link) => (
          <li>
            <a
              href={link.href}
              aria-current={url === link.href ? "page" : false}
            >
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  @container header (width < 600px) {
    .flex-wrapper {
      flex-direction: column;
    }
  }

  .name {
    font-weight: bold;
    color: currentColor;
    text-decoration: none;
    line-height: 1;
    font-size: 1.5rem;
    display: block;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  ul a {
    color: currentColor;
    text-decoration: none;
    line-height: 1;
  }

  a[aria-current="page"] {
    font-weight: bold;
  }
</style>
