---
import { Image } from "astro:assets";
import image from "../images/signalkuppe-main.png";
const url = Astro.url.pathname;
const links = [
  { href: "/blog", text: "Uscite" },
  { href: "/portfolio", text: "Foto" },
  { href: "/meteo-concenedo", text: "Meteo" },
  { href: "/contatti", text: "Contatti" },
];
---

<header>
  <a href="/" class="back-home-link" aria-label="Pagina principale">
    <Image
      src={image}
      alt=""
      width="200"
      height="200"
      loading="eager"
      aria-hidden="true"
    /></a
  >

  <nav aria-label="Sito">
    <ul role="list">
      {
        links.map((link) => (
          <li>
            <a
              href={link.href}
              aria-current={url === link.href ? "page" : false}
            >
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  @container header (width < 600px) {
    .flex-wrapper {
      flex-direction: column;
    }
  }

  .back-home-link {
    text-decoration: none;
    display: block;
  }

  .back-home-link img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  ul a {
    color: currentColor;
    text-decoration: none;
    line-height: 1;
  }

  a[aria-current="page"] {
    font-weight: bold;
  }
</style>
