---
import { X } from 'astro-feather-icons'
---

<nav class="fixed right-0 top-0 flex h-full w-full flex-col justify-center bg-white lg:static">
	<X size="30" stroke-width="4" />
	<ul
		class="flex flex-col items-center justify-center gap-4 text-2xl font-bold lg:flex-row lg:justify-start"
	>
		<li>
			<a href="/blog">Gite</a>
		</li>
		<li>
			<a href="/portfolio">Portfolio</a>
		</li>
		<li>
			<a href="/meteo-concenedo">Meteo Concenedo</a>
		</li>
		<li>
			<a href="/contatti">Info & Contatti</a>
		</li>
	</ul>
</nav>

<script>
	console.log('menu')
</script>
