---
const { title } = Astro.props;
---

<article>
  <h3>{title}</h3>
  <slot />
</article>

<style media="screen">
  h3 {
    font-size: 0.7rem;
    font-family: var(--fontFamilyMono);
    margin-bottom: 1rem;
  }
</style>
