---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  photo: CollectionEntry<"portfolio">;
}

const { photo } = Astro.props;
---

<article>
  <aside>
    <Image
      src={photo.data.photo.src}
      alt={photo.data.photo.alt}
      widths={[1000, 1210]}
      quality={70}
      loading="lazy"
    />
  </aside>

  <div class="caption">
    <time datetime={photo.data.date.toISOString().slice(0, 19)}>
      <span class="visually-hidden">Scattata il </span>
      {photo.data.date.toLocaleDateString("it-IT")}
    </time>
    <h2 aria-hidden="true">
      {photo.data.title}
    </h2>
  </div>
</article>

<style media="screen">
  article {
    width: 100%;
  }

  .caption {
    line-height: 1;
    width: 100%;
    padding: 0.75rem 0;
  }

  article:hover img {
  }

  aside {
    overflow: hidden;
  }

  time {
    font-size: 0.85rem;
    display: block;
    padding-bottom: 0.25rem;
  }

  h2 {
    font-size: 1rem;
    line-height: 1.2;
    color: inherit;
  }

  img {
    grid-area: 1 / 1;
    background: linear-gradient(-45deg, var(--surface), var(--surfaceAccent));
    background-size: 400% 400%;
    transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: block;
  }

  article:hover aside {
    outline: 4px solid var(--textAccent);
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    img {
      animation: gradient 2s ease infinite;
    }
  }

  @media screen and (width > 60rem) {
    time {
      font-size: 0.85rem;
    }

    h2 {
      font-size: 1rem;
    }
  }
</style>
