Potete usare le foto come volete, ci dedico tempo e passione quindi una <b
  >citazione</b
> con il <b>link al mio blog</b> è opzionale ma <b>tanto gradita.</b> In questo caso
<a href="/contatti/">scrivetemi</a> per dirmi dove l’avete usata 🙂

