---
// No props needed - MDX content will be passed via slot
---

<div class="post-html">
  <slot />
</div>

<style media="screen">
  .post-html {
    max-width: 60ch;
  }
  :global(.post-html p) {
    margin-bottom: 2rem;
  }

  :global(.post-html b) {
    color: var(--textAccent);
  }

  :global(.post-html img) {
    display: block;
    background: var(--surfaceAccent);
  }

  :global(.post-html > p:first-of-type::first-letter) {
    color: var(--textAccent);
    initial-letter: 3;
    -webkit-initial-letter: 3;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 0.8em;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
  }
  :global(.post-html h3) {
    margin-top: 2rem;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }

  :global(.post-html .img-caption) {
    font-size: 0.75rem;
    margin-top: 0.4rem;

    text-align: right;
  }

  :global(.post-html ul) {
    padding-left: 1rem;
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }

  :global(.post-html ul p) {
    margin: 0;
  }

  :global(.post-html li::marker) {
    color: var(--textAccent);
  }

  :global([data-youtube-embed]) {
    aspect-ratio: 16 / 9;
    width: 100%;
  }

  :global(.download-file) {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }

  :global(.download-file .download-spinner) {
    display: none;
  }

  :global(.download-file.is-downloading .download-icon) {
    display: none;
  }
  :global(.download-file.is-downloading .download-spinner) {
    display: block;
  }
</style>

<script>
  import JSZip from "jszip";
  import { artificialDelay } from "../lib/utils";

  const downloadButton = document.querySelectorAll(".download-file");

  async function downloadAndCompress(file, filename, type) {
    const remoteFileUrl = file;
    const name = `${filename}.${type}`;

    try {
      await artificialDelay(1000);
      const response = await fetch(remoteFileUrl);
      const fileData = await response.text();
      const fileName = `${filename}.zip`;
      const zip = new JSZip();
      zip.file(name, fileData);
      const zipContent = await zip.generateAsync({
        type: "blob",
        compression: "DEFLATE",
        compressionOptions: { level: 9 },
      });
      const zipUrl = URL.createObjectURL(zipContent);
      const link = document.createElement("a");
      link.href = zipUrl;
      link.download = fileName;
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
      URL.revokeObjectURL(zipUrl);
    } catch (error) {
      console.error(
        "Errore durante il download o la compressione del file:",
        error
      );
    }
  }

  if (downloadButton.length > 0) {
    downloadButton.forEach((button) => {
      button.addEventListener("click", async function (e) {
        e.preventDefault();
        const oldText = button.querySelector("span").textContent;
        button.querySelector("span").textContent = "Scarico il file...";
        ("Preparo il download...");
        button.classList.add("is-downloading");
        await downloadAndCompress(
          button.getAttribute("href"),
          button.getAttribute("download"),
          "gpx"
        );
        button.classList.remove("is-downloading");
        button.querySelector("span").textContent = oldText;
      });
    });
  }
</script>
