---
interface Props {
  title: string;
  description: string;
  date: Date;
}

const { title, description, date } = Astro.props;
---

<time datetime={date.toISOString().slice(0, 19)}>
  <span class="visually-hidden">Pubblicato il </span>{
    date.toLocaleDateString("it-IT", {
      year: "numeric",
      month: "long",
      day: "2-digit",
    })
  }
</time>
<h1>{title}</h1>
<p>{description}</p>

<style media="screen">
  time {
    text-transform: capitalize;
  }
  p {
    font-size: 1rem;
    margin-top: 0.5rem;
    text-wrap: balance;
  }

  h1 {
    font-size: 2.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-wrap: pretty;
    line-height: 1.2;
  }

  @media screen and (width > 60rem) {
    h1 {
      font-size: 3.5rem;
      max-width: 25ch;
    }
    p {
      max-width: 60ch;
    }
  }
</style>
