---
interface Props {
  post: any;
}
const { post } = Astro.props;
---

<div class="cover">
  <img
    src={`${post.fields.cover.fields.file.url}?w=600&q=50&fm=avif`}
    alt={post.fields.cover.fields.title}
    loading="eager"
    fetchpriority="high"
  />

  <p aria-hidden="true" class="caption">{post.fields.cover.fields.title}</p>
</div>

<style media="screen">
  .cover {
    width: 100%;
    background: var(--surfaceAccent);
    background: linear-gradient(-45deg, var(--surface), var(--surfaceAccent));
    background-size: 400% 400%;
    display: grid;
  }

  img {
    object-fit: cover;
    width: 100%;
    grid-area: 1/1;
  }

  .cover,
  img {
    aspect-ratio: 4 / 3;
  }

  .caption {
    font-size: 0.85rem;
    grid-area: 1/1;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0.25rem 0.85rem;
    place-self: end;
    font-weight: bold;
    background: var(--surface);
  }

  img.desktop {
    display: none;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .cover {
      animation: gradient 2s ease infinite;
    }
  }

  @media screen and (width > 60rem) {
    .cover,
    img {
      aspect-ratio: 16 / 9;
    }
    .caption {
      font-size: 1.5rem;
      padding: 0.75rem 1.5rem;
    }
  }
</style>
