---
import { postPhotoSlug } from "../lib/utils";
interface Props {
  post: any;
}
const { post } = Astro.props;
---

<ul>
  {
    post.fields.gallery.map((photo) => (
      <li>
        <a
          href={`/${postPhotoSlug(post, photo)}`}
          data-caption={photo.fields.title || ""}
          data-group="gallery"
        >
          <picture>
            <source
              srcset={`${photo.fields.file.url}?w=160&h=160&fit=thumb&q=70&fm=avif`}
              media="(max-width: 800px)"
            />
            <img
              src={`${photo.fields.file.url}?w=400&h=400&fit=thumb&q=70&fm=avif`}
              alt={photo.fields.title || ""}
              loading="lazy"
              decoding="async"
            />
          </picture>
        </a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 1rem;
  }

  img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    background: var(--surfaceAccent);
  }

  @media screen and (width > 60rem) {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
</style>
