---
interface Props {
  name: string;
  value: string;
  checked?: boolean;
}

const { name, value, checked } = Astro.props;
---

<label>
  <input name={name} type="radio" value={value} checked={checked} />
  <span>
    <slot />
  </span>
</label>

<style>
  label {
    display: inline-flex;
    align-items: baseline;
    gap: 0.25rem;
  }
  input {
    width: 1rem;
    height: 1rem;
    border: none;
    vertical-align: baseline;
    transform: translateY(0.2rem);
  }
  span {
    font-size: 0.9rem;
  }
</style>
