/*
* Nested post layout
*/

.l-post-header {
  margin-bottom: calc(var(--spaceUnit) * 3);
}

.l-post-cover {
  margin-bottom: calc(var(--spaceUnit) * 3);
}

.l-post-content {
  max-width: 60ch;
  margin: 0 auto;
  padding: 0 calc(var(--spaceUnit) * 1.5);
}

.l-post-aside {
  justify-self: center;
  margin-top: calc(var(--spaceUnit) * 3);
}

.l-post-nav {
  margin-top: calc(var(--spaceUnit) * 4);
  padding: 0 var(--spaceUnit);
}

@media (--wide) {
  .l-post-header {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(var(--spaceUnit) * 6);
  }

  .l-post-content {
    display: grid;
    grid-template-columns: 60ch 350px;
    grid-gap: calc(var(--spaceUnit) * 4);
    padding:  calc(var(--spaceUnit) * 4);
    max-width: var(--containerMaxWidth);
    margin: 0 auto calc(var(--spaceUnit) * 6) auto;
    padding: 0;
  }

  .l-post-cover {
    margin-bottom: calc(var(--spaceUnit) * 6);
  }

  .l-post-aside {
    justify-self: center;
    margin-top: 0;
  }

  .l-post-aside aside {
    position: sticky;
    position: -webkit-sticky;
    top: calc(var(--spaceUnit) * 2);
  }

  .l-post-nav {
    margin-top: calc(var(--spaceUnit) * 8);
  }
}