/*
* Cover layout: fixed aspect ratio left banner and content on the right
*/

.l-cover-header {
  height: var(--headerHeight);
}

@media (--portrait) {

  .l-cover-header {
    padding-left: var(--spaceUnit);
  }

  .l-cover-right {
    padding: calc(var(--spaceUnit) *1.5);
  }

  .l-cover-complementary {
    margin-top: calc(var(--spaceUnit) * 4)
  }
}

@media (--landscape) {

  .l-cover-header {
    float:right;
    width: calc(100% - calc(100vh * 0.666));
  }
  
  .l-cover-left {
    float: left;
    height: 100vh;
    width: calc(100vh * 0.666);
  }
  
  .l-cover-right {
    height: calc(100vh - var(--headerHeight));
    width: calc(100% - calc(100vh * 0.666));
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .l-cover-header,
  .l-cover-right {
    padding-left: calc(var(--spaceUnit) * 2);
  }

  .l-cover-content,
  .l-cover-complementary {
    margin-top: calc(var(--spaceUnit) * 2);
  }

  .l-cover--has-complementary .l-cover-content,
  .l-cover-complementary {
    max-width: 55ch;
  }

  .l-cover--hasNot-complementary .l-cover-content {
    padding-right: var(--spaceUnit);
    width: 100%;
  }

  .l-cover-content {
    min-height: calc(100vh - var(--headerHeight));
  }

  .l-cover-footer {
    clear: both;
  }
}

@media (--landscapeLarge) {
  .l-cover-header,
  .l-cover-right {
    padding-left: calc(var(--spaceUnit) * 4);
  }

  .l-cover-complementary,
  .l-cover-content {
    float: left;
    padding-bottom: calc(var(--spaceUnit) * 10);
  }

  .l-cover-complementary {
    padding-right: var(--spaceUnit);
    padding-left: calc(var(--spaceUnit) * 5);
    width: calc(100% - 55ch);
    max-width: none;
    position: sticky;
    top: 0;
  }
}