/*
* Cover layout: fixed aspect ratio left banner and content on the right
*/


@media (--portrait) {

  .l-cover-header,
  .l-cover-main,
  .l-cover-footer {
    padding: 0 var(--spaceUnit);
  }

  .l-cover-main {
    margin-top: calc(var(--spaceUnit) * 4);
  }

  .l-cover-footer {
    margin-top: calc(var(--spaceUnit) * 4)
  }

}

@media (--landscape) {
  .l-cover {
    display: grid;
    height: 100vh;
    grid-template-rows: var(--headerHeight) calc(100vh - var(--headerHeight));
    grid-template-columns: calc(100vh * 0.666) calc(100% - calc(100vh * 0.666) -  calc(var(--spaceUnit) * 4));
    grid-column-gap: calc(var(--spaceUnit) * 4);
    grid-template-areas: "cover header"
                         "cover main"
  }

  .l-cover-header {
    grid-area: header;
    padding: 0 var(--spaceUnit) 0 0;
  }

  .l-cover-cover {
    grid-area: cover;
  }

  .l-cover-main {
    grid-area: main;
    overflow-y: auto;
    padding-right: var(--spaceUnit);
  }

  .l-cover-content,
  .l-cover-complementary {
    max-width: 55ch;
  }

  .l-cover-complementarySticky {
    position: sticky;
    top: 0;
  }

  .l-cover-footer {
    margin-top: calc(var(--spaceUnit) * 6);
  }

}

@media (--landscapeLarge) {
  .l-cover-main {
    display: grid;
    grid-template-columns: 55ch calc(100% - 55ch - var(--spaceUnit) * 5);
    grid-column-gap: calc(var(--spaceUnit) * 5);
  }
  .l-cover-complementary {
    max-width: none;
  }
}
