.l-postGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 335px));
  justify-content: center;
  grid-gap: calc(var(--spaceUnit) * 1.5);
  margin-left: calc(var(--spaceUnit) * 1.5);
  margin-right: calc(var(--spaceUnit) * 1.5);
}