.l-post {
  max-width: 60ch;
  margin: 0 auto;
  padding: 0 1.5em;
}

@media screen and (min-width: 1280px) {
  .l-post {
    display: grid;
    grid-template-columns: 60ch 400px;
    grid-gap: calc(var(--spaceUnit) * 4);
    justify-content: space-between;
    padding: 0;
    max-width: 1170px;
  }
  .l-post-sidebar {
    padding-left: calc(var(--spaceUnit) * 2);
  }
}