---
const props = Astro.props;
import RadioButton from "../../components/RadioButton.astro";
---

<form id="js-theme-picker" {...props}>
  <fieldset>
    <legend>Tema</legend>
    <div class="radios">
      <RadioButton name="theme" value="auto" checked>Automatico</RadioButton>
      <RadioButton name="theme" value="light">Chiaro</RadioButton>
      <RadioButton name="theme" value="dark">Scuro</RadioButton>
    </div>
  </fieldset>
</form>

<style>
  fieldset {
    border: none;
    padding: 0;
  }

  legend {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .radios {
    display: flex;
    gap: 1rem;
  }
</style>
