<!DOCTYPE html>
<html lang="it" id="top">
{% include head.html %}
  <body class="has-cover">
    {% include svg-defs.svg %}
    <header role="navigation" class="menu" id="menu-container">
      {% include main-menu.html %}
    </header>
    <figure class="cover">
      <div role="navigation" class="cover-header">
          {% include branding.html %}
      </div>
      <!--/header-->  
      <div class="cover-guide">
        <a href="#post">
          <svg class="icon icon-arrow-down" viewBox="0 0 32 32"><use xlink:href="#icon-arrow-down"></use></svg>
        </a>
      </div>
      <!-- loader-->
      <div class="cover-loader">
        <span>Carico la cover...</span><br />
        <img src="/svg/loader.svg" />
      </div>
      <!--/loader-->

      <figcaption class="cover-caption">
        <p><a href="#post" class="cover-caption-link">{{page.caption}}</a></p>  
      </figcaption>
    </figure>
    <section class="content" role="main">
        {{ content }}
    </section>
    {% include scripts.html %}
  </body>
</html>