<!DOCTYPE html>
<html lang="it" id="top">
{% include head.html %}
  <body class="has-cover">
    <header role="navigation" class="menu" id="menu-container">
      {% include main-menu.html %}
    </header>
    <figure class="cover">
      <div role="navigation" class="cover-header">
          {% include branding.html %}
      </div>
      <!--/header-->  
      <div class="cover-guide">
        <a href="#post">
          <i aria-hidden="true" class="icon-arrow-down"></i>
        </a>
      </div>
      <!-- loader-->
        <div class="loader">
          <div class="loader-item-1"><span></span></div>
          <div class="loader-item-2"><span></span></div>
          <div class="loader-item-3"><span></span></div>
          <div class="loader-item-4"><span></span></div>
          <div class="loader-item-5"><span></span></div>
          <div class="loader-item-6"><span></span></div>
        </div>
        <div class="loader-text">Carico la cover...</div>
      <!--/loader-->

      <figcaption class="cover-caption">
        <p><a href="#post" class="cover-caption-link">{{page.caption}}</a></p>  
      </figcaption>
    </figure>
    <section class="content" role="main">
        {{ content }}
    </section>
    {% include scripts.html %}
  </body>
</html>