<!DOCTYPE html>
<html lang="it" id="top">
{% include head.html %}
  <body>
    <div class="cover">
      <header role="navigation" class="cover-header">
        <div class="header-navigation">
            {% include branding.html %}
            {% include main-menu.html %}
        </div>
      </header>
      <!--/header-->  
      <div class="cover-guide">
        <a href="#post">
          <i aria-hidden="true" class="icon-arrow-down"></i>
        </a>
      </div>
      <div class="cover-caption">
        <h1><a href="#post">{{page.caption}}</a></h1>  
      </div>
    </div>
    <section class="content" role="main">
          {{ content }}
    </section>
    {% include scripts.html %}
  </body>
</html>