<!DOCTYPE html>
<html lang="it" id="top">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }} | {{ page.title }}</title>
        {% if page.description %}
        <meta name="description" content="{{page.description}}" />
        {% else %}
        <meta name="description" content="{{site.description}}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cleartype" content="on" />
        <link rel="shortcut icon" type="image/x-icon" href="images/favicons/favicon.ico" />
        <link rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png" />
        <!-- Custom CSS -->
        <!--[if gt IE 8]><!-->
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/main.css" />
        <!--<![endif]-->

    </head>
    <body>
      <div class="cover">
          <header role="navigation" class="cover-header">
            <div class="header-navigation">
              <hgroup>
                <a href="index.html">
                  <h1>{{ site.name }}</h1>
                  <h2>{{ page.title }}</h2>
                </a>
              </hgroup>
              <nav class="cover-header-menu">
                <a href="#" id="menu-link" class="cover-header-menu-toggle"><i aria-hidden="true" class="icon-menu"></i></a>
                <div class="cover-header-menu-wrapper" id="menu-container">
                  <ul>
                    <li><a href="bio.html">Chi sono</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="foto.html">Foto</a></li>
                    <li><a href="meteo.html">Meteo</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </header>
           <!--/header-->  
          <section role="main">
            {{ content }}
          </section>
        </div>
      <script src="/bower_components/jquery/jquery.min.js"></script>
      <script src="/bower_components/jquery.smooth-scroll/jquery.smooth-scroll.min.js"></script>
      <script src="/js/cover.js"></script>
    </body>
</html>
