---
layout: blog-post
---

{% include post-cover.html %}


<article class="post main-content" id="post">
	<header class="post-header container">
		<h1 class="post-title">{{ page.title }}</h1>
		<time pubdate datetime="{{ page.date | date: "%Y-%m-%d" }}" class="post-date">{{ page.date | localize: "%d %B %Y" }}</time>
	</header>
	<div class="post-content container">
		{{ content }}
	</div>
	<div class="post-print-thanks">
		Grazie per aver stampato questa pagina!
	</div>
	{% if page.flickr%}
	<div class="post-gallery">
		<div class="post-gallery-mobile">
			<a href="#" rel="gallery" class="post-gallery-mobile-link">
			    <span>Guarda le foto</span>
				<i aria-hidden="true" class="icon-camera"></i>					
			</a>
		</div>
		{% flickr_photoset page.flickr %}
	</div>
	{% endif %}
	{% if page.gps%}
	<div class="post-gps">
		{% include post-gps.html %}
	</div>
	{% endif %}
    {% include disqus.html %}
	<footer class="container">
		{% include post-footer.html %}
	</footer>
</article>
<aside role="navigation" class="post-navigation">
	{% include post-navigation.html %}
</aside>


