---
layout: base 
---
    <header class="post-cover">
        {% include menu.html %}
        <h2 class="post-cover-caption"><small>Carico la cover ad alta risoluzione...</small>{{ page.caption }}</h2>
        <a href="#post" title="Leggi l'articolo" id="scrollLink">
            <svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M143 256.3L7 120.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0L313 86.3c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.4 9.5-24.6 9.5-34 .1zm34 192l136-136c9.4-9.4 9.4-24.6 0-33.9l-22.6-22.6c-9.4-9.4-24.6-9.4-33.9 0L160 352.1l-96.4-96.4c-9.4-9.4-24.6-9.4-33.9 0L7 278.3c-9.4 9.4-9.4 24.6 0 33.9l136 136c9.4 9.5 24.6 9.5 34 .1z" class=""></path></svg>
        </a>
    </header>
    <main class="post-body">
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting"> 
            <header class="post-title">
                {% assign first = page.title | slice: 0, 1 %}
                {% assign rest = page.title | slice: 1, 2000 %}
                <h1 class="pagetitle" itemprop="name headline" id="post"><span>{{ first }}</span>{{ rest }}</h1>
                <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {% include date.html date=page.date %}
                </time>
            </header>
            <div class="post-content" itemprop="articleBody">{{ content }}</div>
            <aside class="post-gallery"></aside>
            <div aria-hidden="true" class="post-gallery-loading">
                <strong>Carico la gallery</strong>
                <span class="loader"><span class="loader-inner"></span></span>
            </div>
            <noscript>
                Non sono riuscito a caricare le foto via javascript, <a href="https://www.flickr.com/photos/signalkuppe/albums/{{page.flickr}}">guardale a questo link</a>
            </noscript>
            <aside class="post-utilities">
                <ul>
                    <li class="post-utilities-print">
                        <a href="#" onClick="window.print();return false" class="print button" role="button" title="Stampa la pagina">
                            <svg icon aria-hidden="true" fill="currentColor" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-print fa-w-16 fa-1x"><path fill="currentColor" d="M464 192h-16V81.941a24 24 0 0 0-7.029-16.97L383.029 7.029A24 24 0 0 0 366.059 0H88C74.745 0 64 10.745 64 24v168H48c-26.51 0-48 21.49-48 48v132c0 6.627 5.373 12 12 12h52v104c0 13.255 10.745 24 24 24h336c13.255 0 24-10.745 24-24V384h52c6.627 0 12-5.373 12-12V240c0-26.51-21.49-48-48-48zm-80 256H128v-96h256v96zM128 224V64h192v40c0 13.2 10.8 24 24 24h40v96H128zm304 72c-13.254 0-24-10.746-24-24s10.746-24 24-24 24 10.746 24 24-10.746 24-24 24z" class=""></path></svg>Stampa
                        </a>
                    </li>
                    {% if page.gps %}
                    <li class="post-utilities-kml">
                        <a class="button" title="scarica la traccia gps per google earth" href="https://res.cloudinary.com/signalkuppe/raw/upload/blog/downloads/{{ page.date| date: "%d%m%y" }}.kml" download="{{ page.date| date: "%d%m%y" }}_{{ page.title | replace:' ','-' | downcase }}.kml">
                        <svg icon aria-hidden="true" fill="currentColor"  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-1x"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg>Traccia kml
                        </a>
                    </li>
                    <li class="post-utilities-gpx">
                        <a class="button" title="scarica la traccia gps in formato .gpx" href="https://res.cloudinary.com/signalkuppe/raw/upload/blog/downloads/{{ page.date| date: "%d%m%y" }}.zip" download="{{ page.date| date: "%d%m%y" }}_{{ page.title | replace:' ','-' | downcase }}.zip">
                            <svg icon aria-hidden="true"  fill="currentColor" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-file-archive fa-w-12 fa-1x"><path fill="currentColor" d="M224 136V0h-63.6v32h-32V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zM95.9 32h32v32h-32V32zm32.3 384c-33.2 0-58-30.4-51.4-62.9L96.4 256v-32h32v-32h-32v-32h32v-32h-32V96h32V64h32v32h-32v32h32v32h-32v32h32v32h-32v32h22.1c5.7 0 10.7 4.1 11.8 9.7l17.3 87.7c6.4 32.4-18.4 62.6-51.4 62.6zm32.7-53c0 14.9-14.5 27-32.4 27S96 378 96 363c0-14.9 14.5-27 32.4-27s32.5 12.1 32.5 27zM384 121.9v6.1H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 98c4.5 4.5 7 10.6 7 16.9z" class=""></path></svg>Gpx
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </aside>
            <aside class="post-newsletter">
                <p>Vuoi rimanere aggiornato sui nuovi post? <strong><a href="http://eepurl.com/dgiWQH"><br />Iscriviti alla newsletter</a></strong></p>
            </aside>
            <aside class="post-comments">
                <div class="disqus_thread"></div>
                <noscript>Abilita javascript per vedere i commenti</noscript>
            </aside>
            <footer class="post-nav">
                <nav>
                    <ul>
                    {% if page.previous.url %}
                    <li>
                        <a class="button" href="{{page.previous.url}}" title="Post precedente: {{page.previous.title}}">
                            <svg icon aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-left fa-w-10 fa-1x"><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z" class=""></path></svg>Precedente
                        </a>
                    </li>
                    {% endif %} 
                    {% if page.next.url %}
                    <li>
                        <a class="button" href="{{page.next.url}}" title="Post successivo: {{page.next.title}}">
                            Successivo<svg icon aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-right fa-w-10 fa-1x"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path></svg>
                        </a>
                    </li>
                    {% endif %} 
                    </ul>
                </nav>
            </footer>
        </article>
    </main>