---
layout: blog-post
---


<style>
	.cover {
	   background-image: url("/img/covers/{{ page.date| date: "%d%m%y" }}/1.jpg");
	}
   @media (min-width:1024px){
		.cover {
			background-image: url("/img/covers/{{ page.date| date: "%d%m%y" }}/2.jpg");
		}
   }
   @media (min-width:1366px){
		.cover {
			background-image: url("/img/covers/{{ page.date| date: "%d%m%y" }}/3.jpg");
		}
   }
   @media (min-width:1920px){
		.cover {
			background-image: url("/img/covers/{{ page.date| date: "%d%m%y" }}/4.jpg");
		}
   }
</style>



<article class="post" id="post">
	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
		<time pubdate datetime="{{ page.date | date: "%Y-%m-%d" }}" class="post-date">
			{% assign m = page.date | date: "%-m" %}
			{{ page.date | date: "%-d" }}
			{% case m %}
			  {% when '1' %}Gennaio
			  {% when '2' %}Februar
			  {% when '3' %}M&auml;rz
			  {% when '4' %}April
			  {% when '5' %}Mai
			  {% when '6' %}Juni
			  {% when '7' %}Juli
			  {% when '8' %}August
			  {% when '9' %}September
			  {% when '10' %}Oktober
			  {% when '11' %}Novembre
			  {% when '12' %}Dezember
			{% endcase %}
			{{ page.date | date: "%Y" }}			
		</time>
	</header>
	<div class="post-content">
		{{ content }}
		<p>{{ page.url }}</p>
	</div>
	<footer class="post-footer">
		<div class="post-icon">
			<div class="post-icon-content">
				<p><small>Stampa pagina</small></p>
				<i aria-hidden="true" class="icon-print"></i>
			</div>			
		</div>
		<div class="post-icon">
			<div class="post-icon-content">
				<p><small>Scarica tracce</small></p>
				<i aria-hidden="true" class="icon-download"></i>
			</div>
		</div>
	</footer>
</article>



