---
import BlogTabs from "../components/BlogTabs.astro";
interface Props {
  pageTitle: string;
  activeTab: string;
}

const { pageTitle, activeTab } = Astro.props;
---

<h1 class="visually-hidden">{pageTitle}</h1>
<div class="tabs-parent">
  <nav aria-label="Visualizzazione">
    <BlogTabs activeTab={activeTab} />
  </nav>
</div>
<div class="cage">
  <div class="blog-layout">
    <div class="blog-layout-left"><main><slot name="left" /></main></div>
    <div class="blog-layout-right"><aside><slot name="right" /></aside></div>
  </div>
</div>

<style media="screen">
  .blog-layout {
    display: flex;
    margin-top: 3rem;
  }

  @media screen and (width < 65rem) {
    .blog-layout {
      flex-direction: column;
      gap: 3rem;
    }
    .tabs-parent {
      padding-bottom: 1rem;
    }
  }

  @media screen and (width > 65rem) {
    .blog-layout {
      gap: 3rem;
      margin-top: 4rem;
    }
    .blog-layout-left {
      flex: 4;
    }
    .blog-layout-right {
      flex: 1;
      justify-self: flex-end;
    }
    aside {
      position: sticky;
      top: 7.5rem;
      z-index: 1;
      min-width: 10rem;
      justify-self: flex-end;
    }
  }
</style>
