---
import CssVariables from "../components/CssVariables.astro";
import GlobalStyles from "../components/GlobalStyles.astro";
import CssUtilities from "../components/CssUtilities.astro";
import ThemeSwitcherScript from "../components/ThemeSwitcher/ThemeSwitcherScript.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="it" id="top">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- need to be inline in the head to avoid FUOC -->
    <CssVariables />
    <ThemeSwitcherScript />
  </head>
  <body>
    <div class="wrapper">
      <a href="#main" class="visually-hidden"
        >Vai al contenuto principale della pagina</a
      >
      <Header />
      <main id="main" class="main">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
<style>
  .wrapper {
    max-width: 80rem;
    margin: 0 auto;
    padding: 1.5rem 1.5rem 6rem 1.5rem;
  }
  main {
    padding-top: 3rem;
    padding-bottom: 8rem;
  }
</style>
<GlobalStyles />
<CssUtilities />
