---
import CssVariables from "../components/CssVariables.astro";
import GlobalStyles from "../components/GlobalStyles.astro";
import CssUtilities from "../components/CssUtilities.astro";
import ThemeSwitcherScript from "../components/ThemeSwitcher/ThemeSwitcherScript.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="it" id="top">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- need to be inline in the head to avoid FUOC -->
    <CssVariables />
    <GlobalStyles />
    <CssUtilities />
    <ThemeSwitcherScript />
  </head>
  <body>
    <a href="#main" class="visually-hidden skip-link"
      >Vai al contenuto principale</a
    >
    <div class="wrapper">
      <Header />
      <main id="main" class="main" tabindex="-1">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
<style>
  .wrapper {
    max-width: 80rem;
    margin: 0 auto;
    padding: 1.5rem 1.5rem 6rem 1.5rem;
  }
  main {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }

  .skip-link:focus-visible {
    display: block;
    padding: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: var(--background);
  }
</style>
