---
import { ViewTransitions } from "astro:transitions";
import LayoutCommon from "./LayoutCommon.astro";

interface Props {
  title: string;
  description: string;
  ogImage: string;
}

const { title, description, ogImage } = Astro.props;
---

<LayoutCommon title={title} description={description} ogImage={ogImage}>
  <Fragment slot="head">
    <link rel="preconnect" href="https://images.ctfassets.net/" crossorigin />
    <ViewTransitions />
  </Fragment>
  <main>
    <slot />
  </main>
</LayoutCommon>
