---
import { getCollection } from "astro:content";
import { headPageTitle } from "../../lib/utils";
import Layout from "../../layouts/Layout.astro";
import { siteSlogan } from "../../constants";

export async function getStaticPaths({ paginate }) {
  const photos = await getCollection("portfolio");
  const getFolderNumber = (entry) =>
    Number.parseInt(entry.id.split("/")[0], 10);
  photos.sort((a, b) => {
    const aFolder = getFolderNumber(a);
    const bFolder = getFolderNumber(b);
    if (Number.isFinite(aFolder) && Number.isFinite(bFolder)) {
      return bFolder - aFolder;
    }
    return b.data.date.getTime() - a.data.date.getTime();
  });

  return paginate(photos, {
    pageSize: 12,
  });
}

interface Props {
  page?: any;
}

const { page } = Astro.props;

let pageTitle = "Portfolio";

if (page.currentPage > 1) {
  pageTitle = `${pageTitle}, pagina ${page.currentPage}`;
}

const description = "Una raccolta delle mie foto più belle";
---

<Layout
  title={headPageTitle(pageTitle, siteSlogan)}
  description={description}
  ogImage="/og-image.jpg"
>
  <h1>{pageTitle}</h1>
  <pre>{JSON.stringify(page.data, null, 2)}</pre>
</Layout>
