/* pt-serif-700 - latin */
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Serif Bold"), local("PTSerif-Bold"),
    url("/fonts/pt-serif-v11-latin-700.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* pt-sans-regular - latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"), local("PTSans-Regular"),
    url("/fonts/pt-sans-v11-latin-regular.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* pt-sans-italic - latin */
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans Italic"), local("PTSans-Italic"),
    url("/fonts/pt-sans-v11-latin-italic.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* pt-sans-700 - latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("/fonts/pt-sans-v11-latin-700.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* pt-sans-narrow-regular - latin */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans Narrow"), local("PTSans-Narrow"),
    url("/fonts/pt-sans-narrow-v11-latin-regular.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* pt-sans-narrow-700 - latin */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"),
    url("/fonts/pt-sans-narrow-v11-latin-700.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

html {
  font-size: var(--fontSizeRoot);
  scroll-behavior: smooth;
}

body {
  font-family: var(--fontSans);
  line-height: var(--leadBase);
  background: var(--bodyBackgroundColor);
  color: var(--bodyColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontSerif);
  font-weight: 700;
  line-height: var(--leadNarrow);
  color: var(--colorBlack);
}

h1 {
  font-size: var(--fontSize5);
}

h2 {
  font-size: var(--fontSize1);
}

h3 {
  font-size: var(--fontSize0);
}

p {
  margin-bottom: calc(var(--spaceUnit) * 1.5);
}

h2 {
  margin-bottom: var(--spaceUnit);
}

p + h2 {
  margin-bottom: var(--spaceUnit);
  margin-top: calc(var(--spaceUnit) * 3);
}

input,
select,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  background: var(--bodyBackgroundColor);
  color: inherit;
}

form:not([class]) {
  padding: 1em;
}

form:not([class]):focus-within {
  background: var(--colorGreyLighter);
}

label:not([class]) {
  display: block;
  font-weight: 700;
}

input[type="text"]:not([class]),
input[type="email"]:not([class]),
textarea:not([class]) {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 2px solid var(--colorGreyLight);
}

input[type="text"]:not([class]):focus,
input[type="email"]:not([class]):focus,
textarea:not([class]):focus {
  outline: none;
  border-color: var(--colorPrimary);
}

figure + p,
figure + h2 {
  margin-top: calc(var(--spaceUnit) * 2);
}

img {
  max-width: 100%;
  height: auto;
}

a:not([class]),
a.textLink {
  color: var(--colorBlack);
  display: inline-block;
  text-underline-position: under;
  text-decoration-color: var(--colorPrimary);
  transition: color 0.2s linear;
  text-decoration-thickness: 0.2rem;
}

a:not([class]):hover {
  color: var(--colorPrimary);
  cursor: pointer;
}

b,
strong {
  font-weight: 700;
  color: var(--colorBlack);
}

i,
em {
  font-style: italic;
}

small {
  font-size: var(--fontSizeSmall);
}

dt {
  font-family: var(--fontHeadings);
  font-weight: 700;
}

dd {
  margin-bottom: calc(var(--spaceUnit) * 2);
}

hr {
  height: 1px;
  margin: 0;
  background: var(--colorGreyMedium);
  border: none;
}

figcaption {
  font-size: var(--fontSizeSmall);
  font-style: italic;
  color: var(--colorGreyDark);
}

::-moz-selection {
  color: black;
  background: var(--colorPrimary);
}

::selection {
  color: black;
  background: var(--colorPrimary);
}
