---
import { getCollection } from "astro:content";
import { categories, defaultOgImage, siteTitle } from "../../../constants";
import { headPageTitle } from "../../../lib/utils";
import Layout from "../../../layouts/Layout.astro";

interface Props {
  page: any;
}

const { page } = Astro.props;
const { category, page: categoryPage } = Astro.params;

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection("posts");
  posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

  return [undefined, ...categories].flatMap((cat) => {
    const filteredPosts = posts.filter((post) => {
      return cat ? post.data.category[0] === cat.title : true;
    });
    const output = filteredPosts.map((p) => ({
      ...p,
      postsCount: filteredPosts.length,
    }));

    return paginate(output, {
      params: { category: cat?.slug },
      pageSize: 12,
    });
  });
}

let pageTitle = "Tutte le uscite";

if (category) {
  const c = categories.find((c) => c.slug === category);
  if (c) {
    pageTitle = categories.find((c) => c.slug === category)?.title;
  }
}

if (page.currentPage > 1 || categoryPage > 1) {
  pageTitle = `${pageTitle}, pagina ${page.currentPage || categoryPage}`;
}
---

<Layout
  title={headPageTitle(pageTitle, siteTitle)}
  description="Elenco completo di tutte le uscite"
  ogImage={defaultOgImage}
>
  <h1>{pageTitle}</h1>

  <pre>{JSON.stringify(page.data, null, 2)}</pre>
</Layout>
